[2018-03-29 23:12] jranson opened #1 "Incorporate Unit Tests w/ Coverage >50%"

[2018-03-29 23:13] jranson opened #2 "Incorporate Travis CI"

[2018-03-29 23:13] jranson opened #3 "Support output format for Remote Storage Adapter (Prometheus)"
Implement the Prometheus `remote_read` API, so that trickster may serve as a remote_read endpoint.

This will allow trickster to act as a remote_read endpoint for a Prometheus instance, so that all queries going through Prometheus will use trickster as a cache, including any defined alerts.

https://github.com/prometheus/prometheus/tree/master/documentation/examples/remote_storage/remote_storage_a

[2018-03-29 23:14] jranson opened #4 "Optimize Redis Cache/Channel Reap"
Should utilize a bulk GET instead of iterating.

[2018-03-29 23:14] jranson opened #5 "Support New Origin Type: InfluxDB"
Dependent on #9 completion

[2018-03-29 23:15] jranson opened #6 "Support New Origin Type: Circonus / IronDB"
Dependent on #9 completion

[2018-03-29 23:16] jranson opened #7 "Support New Origin Type: Elasticsearch"
Dependent on #9 completion

[2018-03-29 23:24] jranson opened #8 "Support New Origin Type: Grafana"
Dependent on #9 completion

Trickster currently works as a proxy sitting between Grafana and a TSDB Origin (currently just Prometheus). It would be really cool if we could also modify Trickster so it can consider Grafana an origin too. That way, a single Trickster will adapt to any new data sources added to Grafana, without having to update the Trickster config to have specific knowledge of them.

[2018-03-29 23:26] jranson opened #9 "Implement Interfacing to support varying Upstream Origin Types"
In order to support multiple origin types (rather than just Prometheus), the Proxy code needs to be refactored to work with an Origin Type interface, so we can write the new interfaces as needed for additional TSDB's like InfluxDB.

[2018-03-30 18:01] alkalinecoffee opened #12 "Support dynamic config reloading"
It would be nice if Trickster supported dynamic reloading of the config file (similar to Prometheus' `POST /-/reload` endpoint or via kill signal).  This is useful when using consul-template for pushing configs dynamically.

[2018-04-01 20:50] jranson commented on #2
Jearvon has implemented in PR #16, will review and merge shortly.

[2018-04-02 14:46] husobee commented on #6
@jranson: I was wondering if I could get more information related to this issue.  I believe I understand the spirit, in that we want to expand the proxy capability to include different types of origins.

Currently, as I read through the code we are obviously only supporting one type currently, Prometheus.  The `PrometheusOriginConfig` type seems to contain all of the location specific origin infor

[2018-04-02 16:32] jranson commented on #6
@husobee Yes, the idea is to interface the existing prometheus implementation (#9) so that all of these other origin types can easily be plugged in by simply conforming to that interface. I haven't looked into all of what is required beyond that, as it is going to be a huge undertaking. My apologies for not having the foresight to interface it from the start - I was just so excited to get it worki

[2018-04-02 18:05] roganartu opened #17 "Sending a query when the origin Prometheus is down panics"
[code]

Caused by a `nil` response at https://github.com/Comcast/trickster/blob/b9b9b9bcbd5d9f34dc1bf72e2827b250cd3d880b/handlers.go#L311 returned by https://github.com/Comcast/trickster/blob/b9b9b9bcbd5d9f34dc1bf72e2827b250cd3d880b/handlers.go#L217

[2018-04-04 05:40] #2 closed

[2018-04-04 05:41] jranson commented on #2
PR #16 is merged. Thanks!

[2018-04-04 05:42] #17 closed

[2018-04-04 08:05] RichiH commented on #8
@bergquist @gouthamve this might be relevant to your interest.

[2018-04-05 12:59] jidr opened #20 "Empty query results return null instead of empty array"
In Grafana (4+ I believe, but it might be 5 series only), if you run a query that returns no datapoints from trickster, it will probably fail to render with a `Cannot read property length of: null` error.

If you run the same query through prometheus it will return `[]` instead of `null`, which is what grafana expects. I believe that it's a matter of an initialised variable, however I don't know e

[2018-04-05 21:53] jranson commented on #20
@jidr Thanks! I've identified the root cause and will take a stab at fixing this evening.

[2018-04-06 13:39] #20 closed

[2018-04-06 13:56] jranson commented on #20
@jidr Release v0.0.11 should address this. Thank you again!

[2018-04-06 21:41] jidr commented on #20
Checked out the fix and it certainly did address the issue. I have trickster deployed now and wow, what a difference it makes for grafana.

[2018-04-09 11:55] roidelapluie opened #25 "Listen to a specific address"

[2018-04-09 14:46] roidelapluie opened #27 "trickster does not suport /api/v1/series on multi-origin"
Apr 09 16:43:34 grafana01 trickster[18199]: 2018/04/09 16:43:34 http: panic serving 127.0.0.1:34936: runtime error: invalid memory address
or nil pointer dereference
Apr 09 16:43:34 grafana01 trickster[18199]: goroutine 4078 [running]:
Apr 09 16:43:34 grafana01 trickster[18199]: net/http.(*conn).serve.func1(0xc425de3040)
Apr 09 16:43:34 grafana01 trickster[18199]: /usr/local/go/src/net/http/server

[2018-04-09 14:47] roidelapluie commented on #27
Note: cache_type = 'filesystem'

[2018-04-09 14:50] roidelapluie commented on #27
Jest before: time=2018-04-09T14:43:34.491787239Z app=trickster caller=trickster/handlers.go:225 level=error
event="error downloading url" url="http://prometheus:9090//mycarenet2/api/v1/series?end=1523284955&match%5B%5D=ifHCOutOctets&start=1523277755" detail="Get http://prometheus:9090/foo2/api/v1/series?end=1523284955&match%5B%5D=ifHCOutOctets&start=1523277755: dial tcp 155.45.169.233:9090: i/o ti

[2018-04-09 14:52] roidelapluie commented on #27
Looks like origin_url = 'http://10.19.2.37:9090' is ignored in my config

[2018-04-09 15:15] crandles commented on #27
Can you share your config?

[2018-04-09 15:43] jranson commented on #27
@roidelapluie  The panic appears to be a bug we will take a look at (i'll re-update the issue topic), but your overall situation (not picking up your configured origins) looks to be an issue with how you are configuring multi-origin in Trickster and in Grafana. Short answer: user error. You did not configure a default origin ([origins.default]), so when you do not provide a host-header-based, path

[2018-04-09 15:46] roidelapluie commented on #27
@jranson  The error is that we do not proxy /api/v1/series when useng path based multi origin. The panic is because we ignore proxy errors.

[2018-04-09 15:50] jranson commented on #27
Ah, so this is specific to /series (but not /query and /query_range)?  Very interesting! Will take a look today!

[2018-04-10 05:25] jranson commented on #27
@roidelapluie I've found the root cause and will issue a fix shortly.

[2018-04-10 05:39] #25 closed

[2018-04-10 15:09] christophefromparis opened #30 "integer divide by zero"
I'm using the tricksterio/trickster:0.0.11 image with Prometheus and I receive several times the same error: integer divide by zero

10/04/2018 16:55:142018/04/10 14:55:14 http: panic serving 10.42.90.128:37778: runtime error: integer divide by zero
10/04/2018 16:55:14goroutine 3022 [running]:
10/04/2018 16:55:14net/http.(*conn).serve.func1(0xc42387a8c0)
10/04/2018 16:55:14	/usr/local/go/src/net/h

[2018-04-10 15:31] jranson commented on #30
@christophefromparis Will take a look today and root cause. Thank you for the report!

[2018-04-10 15:33] #27 closed

[2018-04-10 16:43] jranson commented on #30
@christophefromparis it looks like somehow the Step size is not being picked up so the math is failing. That's a curious condition because it shouldn't happen! I'll add in a sanity check to see if that will fix it up while we figure out how it's happening in the first place.

[2018-04-10 17:27] jranson commented on #30
Fixed in #31

[2018-04-10 17:27] #30 closed

[2018-04-10 18:26] geekdave opened #33 "[Question] Use with Prometheus High Availability?"
I'm super excited about this project! Thanks for sharing it with the community!

I had a question about this part of the docs:

Could this work for load balancing multiple Prometheus servers in a HA setup?  We currently have _a pair_ of Prometheus servers in each region, redundantly scraping the same targets.  Currently our Grafana is just pinned to one Prometheus server in each region, meaning th

[2018-04-10 21:17] jranson commented on #33
@geekdave Hey Dave - I'm liking your enthusiasm! You are about the 20th person or organization to ask for this functionality, so clearly there is a need for it.

Right now Trickster "Multi-Origin" is more analogous to something like Virtual Web Hosting in Apache, where it's a one-to-one proxy request to origin request, and some information from the client informs the proxy about with which upstrea

[2018-04-10 21:30] jranson commented on #33
A Trickster HA feature would be much simpler than Thanos, as we'd only be a cache of merged data, rather than being an origin source of truth like Thanos. Ideally we should aim to simplify architecture, especially when it comes to Operational Visibility, as every new piece of the puzzle becomes another point of failure. So running Proms->Thanos->Trickster increases the chances of failure and is pr

[2018-04-12 03:41] jranson commented on #9
I am starting work on this issue now and will be committing to and eventually merging from https://github.com/jranson/trickster/tree/origin-interface for those interested in helping, providing input or monitoring progress.

[2018-04-15 10:11] romkaztcm opened #35 "mistype in kube deloyment.yaml"
mistake in kube\deployment.yaml
instead of

need be

[2018-04-15 14:50] #35 closed

[2018-04-15 14:51] jranson commented on #35
Thank you! I have committed a fix for the typo into `master`

[2018-04-16 22:50] mattbostock opened #36 "Feature: OpenTracing support"
If Trickster supported tracing, it would be make it easier to see where time is spent in queries across all services involved in serving a query.

Grafana and [Thanos](https://github.com/improbable-eng/thanos) both have some support for tracing:
https://github.com/grafana/grafana/pull/9213

[2018-04-22 06:46] FUSAKLA opened #37 "Wrong time units in metrics"
Hi I'm benchmarking Trickster right now so built my own grafana dashboard and came across consistency in time units of prometheus metric  `trickster_proxy_duration_seconds`

If you see https://github.com/Comcast/trickster/blob/master/handlers.go#L249 there is duration in nanoseconds divided by `100000` which produces milliseconds not seconds

I'll hopefully soon send PR but just FYI if someone els

[2018-04-22 11:46] FUSAKLA opened #38 "Wrong default filesystem cache path"
I noticed everywhere in the docs that default  path for `filesystem` cache is `/tmp/trickster` but i checked the `/tmp` folder and it's full of tricskter data and looking at the code the actual default value is just `/tmp`

see https://github.com/Comcast/trickster/blob/c20675783036af0d03f96904e62e9b4cc0c2d859/config.go#L127

[2018-04-22 12:26] FUSAKLA opened #39 "Error on unmarshaling cached data"
From time to time Trickster encounters error on unmarshalling data stored in cache.
It does not crash just logs those errors. Also I'm not sure if that means it does not server those data at all or queries the Prometheus to fix this error data?

It happens on for both, the filesystem and memory cache

In log I can see
[code]
This is dump of the impacted cache file
[5afe9f97855959db71d477df683d9348

[2018-04-22 12:51] FUSAKLA opened #40 "Missing help on metric `trickster_requests_total`"
There is incomplete help for the `trickster_requests_total` metric in
https://github.com/Comcast/trickster/blob/master/metrics.go#L47

[2018-04-27 20:03] jacksontj commented on #33
One downside of putting thanos in the middle is that it requires a specific setup of your prometheus stack  (sidecar, etc.). You could use [promxy](https://github.com/jacksontj/promxy) which soely is an aggregating proxy for HA prometheus setups. This doesn't solve the issue of "2 isn't as good as 1" but they should both work together without issue-- and we could work to integrate the 2 projects t

[2018-05-24 07:47] RichiH commented on #8
@tomwilkie as well.

[2018-06-04 15:12] SuperQ opened #49 "http: panic - runtime error: invalid memory address or nil pointe r dereference"
I built against latest master, I get a number of panics.

[code]

[2018-06-04 17:37] #38 closed

[2018-06-04 17:38] #40 closed

[2018-06-04 17:40] #37 closed

[2018-06-04 18:31] FUSAKLA commented on #38
Thanks!

[2018-06-04 19:52] jranson commented on #49
@SuperQ Thanks Ben, we'll take a look at this!

[2018-06-05 09:42] SuperQ opened #51 "Handle Prometheus restarts more gracefully"
When Prometheus is starting, API responses will return a `503`. Trickster attempts to unmarshal JSON at this point and returns an error.

[code]

The invalid character is because the data returned is the string `Service Unavailable`.

[2018-06-05 14:06] #51 closed

[2018-06-06 13:06] SuperQ commented on #49
FYI, @juliusv and I are looking at the `getURL()` function as a source of these errors. We have some ideas, but just wanted to make sure we were not duplicating effort.

[2018-06-06 13:58] jranson commented on #49
@SuperQ Sure thing, I just assigned the issue to you. Thank you! My hope is that as we add support for more upstream origin types, that we can keep this method generic enough to work for all of them, so any resiliency we can add would be great!

[2018-06-06 14:38] SuperQ commented on #49
What we've discovered so far is that handling the return is fragile, because it doesn't explicitly pass an error back. This seems to be intertwined a bit with the go-kit style structured logging.

One idea I had was that instead of returning the `*http.Response` from `getURL()`, we return `(body []byte, duration time.Duration, err error)`. This would make it easier for functions that use it to kno

[2018-06-06 14:40] juliusv commented on #49
Yeah, it should definitely return a proper Go error instead of relying on `nil` check, and I believe generally the best practice is also to log errors at the top of your call stack (in this case, the HTTP handler function) instead of at the bottom. That's in conflict with the structured logging though, as AFAIK there's no corresponding structured error types. So if we want to pass proper errors al

[2018-06-06 15:56] juliusv commented on #49
@jranson I just discussed this with go-kit people (Peter and Chris) and while there have been proposals to add key=value contexts to error types (like in https://github.com/pkg/errors/issues/34#issuecomment-225921170), this feature hasn't been added to common error handling libraries yet.

We have three options here as I see it:

a) Create a custom error type that can retain key=value context so t

[2018-06-06 16:02] jranson commented on #49
@juliusv @SuperQ Agree C sounds like the best approach for now. In the 10 weeks from inception to open sourcing, I put a lot of work into making sure Trickster works pretty swell when things go right, so I appreciate so much all the effort both of you put in to making it more resilient when things go _wrong_. Thank you so much (and @ChrisHines for the solid advice).

[2018-06-06 16:14] juliusv commented on #49
@jranson Thanks. Great, will do that then.

[2018-06-06 16:54] ChrisHines commented on #49
@juliusv The current `Log` calls are structured as follows:
[code]
Breaking that down, it logs:

1. An event describing the action the code was attempting when the error occurred.
2. The value of `uri` passed to `getURL`.
3. The error message.

Notable, the code that calls `getURL` also has access to the value of `uri`. It is also fairly common in go to wrap errors with more detail about the actio

[2018-06-06 17:27] SuperQ commented on #49
@jranson Happy to help, I deployed Trickster to [monitor.gitlab.net](https://monitor.gitlab.net) as it was getting completely slammed with traffic.  When the Prometheuses behind the dashboard got overloaded, all kinds of crazy happened. But having it in front has helped a ton.

[2018-06-06 17:29] SuperQ opened #55 "Feature: BoltDB caching backend"
As a possibly more optimal local filesystem storage, use a BoltDB database to store the cache key/values.

Specifically, we may want to use the "official" fork, [coreos/bbolt](https://github.com/coreos/bbolt).

[2018-06-07 06:07] FUSAKLA opened #56 "Question: Performance of trickster and memory usage"
Hi, we discussed this at the slack channel some time ago when I was deploying Trickster in our company and had some issues regarding memory usage and this leading to frequent OOM kills.

Since than I did not see anyone mentioning any bigger setups but now @SuperQ mentioned deploying it in GitLab so I'm wondering how is Trickster working for you?

Would it be possible to share any performance data?

[2018-06-07 08:43] SuperQ commented on #56
Yet another slack channel, happy to talk about it on the official [#prometheus IRC/Riot channel](https://prometheus.io/community/).

[2018-06-07 09:00] FUSAKLA commented on #56
Well Trickster performance is not Prometheus related actually, but ok will take it there.

Thanks

[2018-06-07 09:00] #56 closed

[2018-06-11 12:27] juliusv commented on #49
@jranson While trying to make changes, I couldn't help but notice that Trickster's behavior in the face of partial failures is fuzzy, so I would like to establish what the right thing to do would be in those cases.

For example:

- When we encounter a cache hit, we still try to fetch the most recent new data for the request from Prometheus, but then if that additional request fails, we just ignore

[2018-06-15 12:43] juliusv commented on #49
Here's a PR that fixes a lot of crashes and unhandled errors: https://github.com/Comcast/trickster/pull/58

The current strategy is just to fail hard if anything goes wrong, as that's better than the current state and handling partial errors is a tricky issue.

[2018-06-18 21:13] #49 closed

[2018-06-21 12:11] frankh opened #60 "Using trickster causes grafana bar graph widths to fluctuate"
Has anyone else got this problem? Trickster fixed my issues with graphs fluctuating wildly between refreshes, but now the bar widths themselves fluctuate.

It seems like graphana uses the distance between the first 2 points to get the width? could/should this be fixed?

[2018-06-21 17:39] jranson commented on #60
Hey @frankh  would you mind posting some screen shots to demonstrate the issue?  Thank you!

[2018-06-21 18:29] roidelapluie commented on #60
It is a bug in grafana.

Grafana itself now in master has removed the fluctuating graph problem.

[2018-06-21 18:30] jranson commented on #60
Closing as per Julien's note ^. Thank you!

[2018-06-21 18:30] #60 closed

[2018-06-21 18:50] roidelapluie commented on #60
![bug](https://user-images.githubusercontent.com/291750/41739221-b4719ef6-7594-11e8-9c9d-169b656869a7.png)
FTR this is with prometheus+grafana master

[2018-06-21 23:32] frankh commented on #60
Thanks @roidelapluie, would you mind linking the grafana issue/pr/commit for this?

[2018-06-26 06:09] dsolsona opened #64 "/api/v1/query?query not being properly proxied to prometheus"
Hi,

I'm seeing a weird behaviour when sending requests to `/api/v1/query`

My setup is fairly simple, grafana -> trickster -> prometheus. I have trickster version 0.0.13 and prometheus version 1.8.2.

Trickster is started with `trickster -log-level INFO -origin http://localhost:9090 -proxy-port 8000 -metrics-port 8001`

When I query `/api/v1/query` via trickster it returns no data

[code]

When I

[2018-06-26 14:22] frankh commented on #64
Also seeing the same issue with trickster 0.0.12 and 0.0.13

[2018-06-26 14:27] jranson commented on #64
@dsolsona Daniel - thanks for the report. The issue is that Trickster is not passing the Time parameter through on instantaneous queries. It is something I fixed in a fork I am working on for InfluxDb support, but will go ahead and bring that fix over to master for you today.

[2018-06-28 13:22] frankh commented on #64
Thanks @jranson!

I believe this is the PR that has fixed this in master: https://github.com/Comcast/trickster/pull/65

Is there a release cycle for trickster? When can we expect a release with this fix?

[2018-06-28 13:40] jranson commented on #64
Hey @frankh currently I don't have a formal release cadence, I usually just spin one up when we have a significant new feature or bugfix. As this is a relatively new project, any recommendations would be great! i have not had a chance to deep dive this particular issue yet, but will definitely have a look at it in the next 24 hours and spin up a new release when the fix is confirmed.

[2018-06-28 13:56] jranson commented on #64
Confirmed fixed in #65   thanks to @jacksontj for fixing and @dsolsona for reporting and fixing. release 0.0.14 is available on docker now and I will spin up the release here on Github in just a moment.

[2018-06-28 13:58] #64 closed

[2018-06-29 05:59] cosmopetrich opened #66 "Requests to /api/v1/series are not cached correctly"
Thanks for your work on Trickster, it's made our dashboards a lot more pleasant to use.

Some of our Grafana dashboards use [label_values()](http://docs.grafana.org/features/datasources/prometheus/) to populate templating variables. That function calls [`/api/v1/series[]match={label_name}&start=...`](https://prometheus.io/docs/prometheus/latest/querying/api/#finding-series-by-label-matchers) and w

[2018-06-29 06:36] SuperQ commented on #66
👍 I've seen this behavior as well.

I'm in favor of not caching explicitly handled API endpoints.

[2018-06-29 18:47] #1 closed

[2018-06-30 19:51] #66 closed

[2018-07-01 13:43] jranson commented on #55
I am taking a look at this one now and should have a PR in the next few hours.

[2018-07-04 14:49] SuperQ commented on #66
Yup, confirmed, our public dashboard now works correctly.

https://monitor.gitlab.net/dashboard/db/unicorn-controller

It would be good to add correct cashing of this API endpoint. :-)

[2018-07-04 14:50] SuperQ opened #73 "Cache Prometheus /api/v1/series"
As discovered in https://github.com/Comcast/trickster/issues/66, Trickster does not correctly cache this API endpoint.

[2018-07-06 23:45] FUSAKLA opened #74 "Error on parsing step parametr"
Hi, I upgraded Trickster to version `0.0.15` and getting errors in log

[code]

I looked at he code and it strikes me that Trickster tries to parse the step parameter as an integer?
https://github.com/Comcast/trickster/blob/master/handlers.go#L423

According to Prometheus documentation of the range query API it should be `duration`
https://prometheus.io/docs/prometheus/latest/querying/api/#range-q

[2018-07-07 07:07] juliusv commented on #74
Indeed, thanks. This was my screwup, I forgot that Prometheus also accepts the other format for step values (despite the fact that I probably introduced support for the other format in Prometheus back then). Will send a fix.

[2018-07-07 07:17] juliusv commented on #74
Ah, it was just a `ParseInt()` before in Trickster, just that any parse errors were ignored :)

[2018-07-07 07:21] juliusv opened #75 "Update vendoring to include all required packages"
With the latest Trickster version I got:

[code]

Trickster should vendor all dependencies, not just some. A CI test would help to ensure this.

[2018-07-07 07:29] juliusv commented on #74
Yeah, it's seconds. And yeah, probably should be documented.

[2018-07-07 07:30] juliusv commented on #74
Fix at https://github.com/Comcast/trickster/pull/76

[2018-07-07 08:03] FUSAKLA commented on #74
That was fast! Thanks for solving this.

I made PR for the Prometheus docs
https://github.com/prometheus/prometheus/pull/4360

[2018-07-07 08:21] FUSAKLA opened #77 "Add endpoint for liveness probe"
I'm running Trickster in Kubernetes and when putting it in front of one Prometheus all is working just fine.

But now I tried putting it in front of the Thanos query layer and I'm experiencing regular restarts of the Trickster pods caused by failing liveness probe from Kubernetes.

I use the same configuration as helm chart
[code]

The issue is that liveness probe should not test functionality of

[2018-07-08 02:01] #74 closed

[2018-07-09 15:17] #75 closed

[2018-07-09 18:39] jacksontj commented on #39
@FUSAKLA I was able to repro the failure, and your concern was accurate, this would mean that trickster would return an error and not query prometheus (at least until the cache item went away). I've opened #79 to treat this condition as a cache-miss which will make the cache effectively "self heal" (as corrupted cache objects will be re-fetched).

From looking at the code I don't see a good way fo

[2018-07-09 21:22] #39 closed

[2018-07-10 02:14] jranson commented on #77
Hey Martin - I'm with you on this. Do you mind if make it `/ping`?

[2018-07-10 08:18] FUSAKLA commented on #77
I'm totally ok with `/ping` thanks!

[2018-07-10 12:13] #77 closed

[2018-07-10 19:37] jacksontj opened #82 "Unable to handle scalar responses"
If I send a simple scalar query such as `/api/v1/query?query=5` trickster now returns errors. I bisected this and it seems that the error was introduced in ec4eff34d5532b1907723eeaabe620f02dd25b32 . The basic problem here is that trickster assumes the response type from prometheus as a vector, when in reality it can be (1) scalar (2) vector or (3) string. The way this worked before was that the un

[2018-07-10 20:21] SuperQ commented on #82
The main reason we changed to more strict handling was that there were a bunch of cases where talking to Prometheus is interrupted (server restart, crash, etc) and Trickster would cache bad data.

We should probably type switch, like you said.

/cc @juliusv

[2018-07-10 20:24] jacksontj commented on #82
If we want to move to type switching I'd suggest consolidating the response and envelope/data to a single set of structs, something like:

[code]

Then we can change the callers to handle the switching. If you are okay with that plan I'm okay with doing the implementation, I just want to make sure thats something we want before spending the time.

[2018-07-10 21:14] jacksontj commented on #82
Something along the lines of https://github.com/Comcast/trickster/compare/master...jacksontj:upstream_type

[2018-07-10 21:29] jacksontj commented on #82
Sadly the upstream structs [still aren't public](https://github.com/prometheus/prometheus/pull/3615), so if we want to attempt to have *less* code I do have library methods for this in the [promxy](https://github.com/jacksontj/promxy/tree/master/promhttputil) project, just not sure what feelings are for dependency-- so this approach in my branch might be sufficient.

[2018-07-11 14:40] juliusv commented on #82
I haven't looked at anything here yet as I'm still half asleep from a boat trip, but FWIW this is how our API client library does it: https://github.com/prometheus/client_golang/blob/master/api/prometheus/v1/api.go#L160-L200

[2018-07-11 14:47] SuperQ commented on #82
Shouldn't we just use the client_golang API client? :confused:

[2018-07-11 14:49] juliusv commented on #82
Maybe, yeah :)

[2018-07-11 16:36] jacksontj commented on #82
yea, then it'll just return model.Value -- and we can just merge with those. I'll take a look into it more once I get some more time :)

[2018-07-11 16:38] jacksontj commented on #82
Although as soon as I started reading, we'll need to make changes to that client, because it *only* supports sending GET requests as of now.

[2018-07-11 16:40] juliusv commented on #82
@jacksontj You at least have my support in updating the API client library to support POST requests (and other maybe still unsupported API features) :)

[2018-07-11 22:32] jacksontj commented on #82
To keep this issue up-to-date, I've created https://github.com/prometheus/client_golang/issues/428 upstream on the client to get POST support in there, then we should be ready to go. It seems that this is a new API (not on a released version yet), so we may need to hold off on this "good" fix for a while depending on how the upstream conversation goes.

In light of that (it not being a quick fix)

[2018-07-13 23:33] jranson commented on #39
@FUSAKLA I think we can finally close the loop on this one, as my suspicion is the OOM issues you reported in #56 (fixed from @juliusv is now merged into master, will try to get a release out this weekend) are related to the cache record corruption you reported here. If you're using any cache type other than RAM and Trickster OOM's in the middle of writing a cache record, it would most likely corr

[2018-07-16 04:10] FUSAKLA commented on #39
Great, I'll try the new version with self-healing and freeing the memory and in case it shows up again I'll reopen this but hopefully it won"t show up again.

Thank you @jacksontj, the cache self-healing feature willl be definatelly usefull even for other cases than just those OOMs.

[2018-07-31 22:07] arsenakishev opened #86 "Fast Forward returns most recent data point when zooming into older data in Grafana"
Currently, if fast forward is enabled, the most recent data is always stitched into the result matrix of a Grafana query. This becomes an issue when I want to look at older data by zooming in. Because fast forward returns the most recent value, the graph ends with an extra point that messes up the y-axis.

Example 1: Reading directly from a Prometheus datasource and zooming in.(Query: node_forks_t

[2018-08-01 21:47] arsenakishev commented on #86
Issue seems to be in the handlers.go file. Whenever the code checks if the query is made in realtime it doesn't convert the ```ctx.Time``` variable to milliseconds.
Since the other variable(```RequestExtents.End```)  being used for comparison is in milliseconds the resulting difference becomes much higher than most step boundaries.

[2018-08-03 11:33] jranson commented on #86
@arsenakishev Thanks for finding this and for the PR, looks like it indeed fixed this one up!

[2018-08-03 11:33] #86 closed

[2018-08-07 00:09] #55 closed

[2018-08-07 23:43] jacksontj opened #88 "Incorrect status code for queries"
If an invalid promql query is sent to trickster it obfuscates the error. For example, if I send `sum(some_metric[1m])` (an invalid query) to prometheus I get a 400 with an error message

[code]

If I send the same thing to trickster, I get a 502 with no helpful error message.

[code]

Ideally these sorts of errors would be propagated up, instead of swallowed

[2018-08-16 15:48] jranson commented on #88
@jacksontj Thanks for reporting this Thomas! Taking a look now!

[2018-08-23 14:06] stewrutledgebonnier opened #91 "High memory usage with redis cache backend"
We're using the redis cache backend in our instance of trickster and we're seeing suprisingly high memory usage.

We are running trickster in kubernetes, with memory limited to 4GB. Trickster only needs to be up for half an hour before it's killed for using more than 4GB memory (OOM).

Has anyone seen any similar behavior? Any idea what could be going on? We've tested increasing the memory limits,

[2018-08-23 14:11] FUSAKLA commented on #91
Hi, what version do you use?

I experienced the same behavior but since Julius fixe this
https://github.com/Comcast/trickster/pull/85

it's way more stable and works like a charm for me I have to say.

[2018-08-23 14:15] stewrutledgebonnier commented on #91
I'm using version 0.1.1 (latest)

[2018-08-23 14:15] stewrutledgebonnier commented on #91
Could it potentially be related to https://github.com/go-redis/redis/issues/832?

[2018-08-23 14:36] FUSAKLA commented on #91
Ok, possibly try to use the BoltDB which could sort out the redis. Also what version of redis do you use?

[2018-08-27 13:06] stewrutledgebonnier commented on #91
So far using the in memory cache has less of a memory footprint than using redis.

[2018-10-11 09:17] sylr opened #92 "Trickster provokes grafana display quirks"
I noticed a few grafana display bugs in my graphs which at first I blamed on Thanos but forgot I had a trickster in front of it.

Expected graph
![grafana-prometheus](https://user-images.githubusercontent.com/153052/46793562-50b14600-cd46-11e8-9612-e010a8e6ff76.png)

`Thanos + Trickster` graph
![grafana-thanos-2](https://user-images.githubusercontent.com/153052/46793574-5c047180-cd46-11e8-9a52-ac6

[2018-10-11 10:16] juliusv commented on #92
[disclaimer: I'm not heavily involved in Trickster, but saw this issue]

This seems to be due to Trickster's fast-forward feature: https://github.com/comcast/trickster#3-fast-forward - so it's sold as a feature, not a bug there.

I don't know if Grafana has a reasonable right to assume that Prometheus result data can only come back in the requested step interval. Probably the best thing would be t

[2018-10-11 10:58] SuperQ commented on #92
Grafana recently (as of 5.2?) added some changes to the way it sends time ranges and steps, in order to reduce graph jitter for Prometheus users. It uses a default based on the "scrape interval" specified in the datasource config. This defaults to 15s.

But I don't think this would conflict too badly with Trickster's similar time alignments.

[2018-10-11 11:03] sylr commented on #92
I'm using grafana v5.2.3 and here the call that is made that retrieves unaligned last timestamp

[code]

[2018-10-22 14:39] sylr commented on #92
SO I managed to get normal bars by disabling `fast-forward` feature.

However I still have a problem with queries involving a `delta()` function

With trickster :

![screenshot_16](https://user-images.githubusercontent.com/153052/47298636-93adcc00-d618-11e8-8f92-dedc3a8eac7f.png)

Without :

![screenshot_17](https://user-images.githubusercontent.com/153052/47298638-94def900-d618-11e8-818a-d2e08e5b

[2018-10-24 17:08] SuperQ commented on #91
Here's a profile on BoltDB
[heap.svg.gz](https://github.com/Comcast/trickster/files/2511537/heap.svg.gz)

[2018-10-25 13:54] SuperQ commented on #91
@juliusv and I worked up a patch that closes the cache goroutines after they've been idle for 10 seconds. This seems to help greatly with our setup.

https://github.com/juliusv/trickster/commit/b2b82c862932282a32300b4ba279d62500642250

https://dashboards.gitlab.com/dashboard/snapshot/pvDNQsfFnzc9pxE6uuTZ0FNUG2BpjA7j

We went from several hundred thousand open FDs and goroutines and GB of memory to

[2018-12-01 00:35] jacksontj opened #96 "Response data outside the window of the actual query"
I ran into an issue with trickster where I'm sending a query_range for a specific range (A-B) and I'm getting an entire response that is outside of the range. I was easily able to reproduce this locally with 2 queries. First you send a query with a plausible time range, lets say `start=1543010160&end=1543012666&step=45` this will return some results, in my example the first timestamp is `154301013

[2018-12-03 14:45] jranson commented on #96
Hey Thomas thanks for the report - appreciate you continuing to use Trickster and report issues back!

I will take a look at the unexpected results and see if I can figure out why and correct. I don't think the issue is in `deriveCacheKey` but rather in the date parsing/manipulation. Here's the tldr on why:

When it is present, the `time` parameter is considered in `deriveCacheKey`, since it indic

[2018-12-03 18:01] jacksontj commented on #96
From another quick look, it seems that `cropToRange` doesn't remove series that have no data within the range. Specifically, if the dataset has only data outside the range it doesn't actually crop anything -- so in this case since we have *no* data in the range it doesn't crop any of the data out-- leaving us with the original (incorrect) result.

[2018-12-03 18:05] jacksontj commented on #96
I have updated my branch to make the `cropToRange` function crop data even if nothing matches.

[2018-12-03 18:17] jranson commented on #96
Ah! Good find. Did this solve your issue? If so, can you submit a PR? Thanks again for all your help!

[2018-12-03 19:37] jacksontj commented on #96
I did some more looking and I found another related issue. The PR I have open fixes the case where it doesn't filter the data properly. But as it stands today if there was an *error* fetching some part of the data, but *any* data with that cachekey was returned, it returns an empty success response (instead of the error from prom). I have updated my PR to include a second commit which covers that

[2018-12-03 19:50] jacksontj commented on #96
I also included a fix to #88 in the PR as this second issue is related (error being missed).

[2018-12-03 19:59] jacksontj opened #98 "alignStepBoundaries edge cases"
This method is not very large, but does a few things which IMO are questionable.

1. reversing start/end
if the user flipped start/end, it is not the responsibility of trickster to flip it. This is additionally confusing as things will work, but if trickster is removed from the call path all queries this fixes will break. IMO it is not the place of the cache to "correct" user queries.

2. `time.No

[2018-12-03 20:21] jranson commented on #98
Thomas, totally agree on these things. Thanks for the feedback! Were you hoping to contribute these things? My plan is to use much of the upcoming holiday to work through Trickster issues, so if you are unable, we should be able to get them ripped out soon in any event.

[2018-12-03 20:30] jranson commented on #88
Fixed in #97

[2018-12-03 20:30] jranson commented on #96
Fixed in #97

[2018-12-03 20:30] #96 closed

[2018-12-03 20:30] #88 closed

[2018-12-03 20:36] jacksontj commented on #98
I can definitely submit a PR for these. If you are okay with all 3 changes I'll get a PR going with those changes.

[2018-12-03 20:36] jranson commented on #98
Absolutely. thank you!

[2018-12-04 18:50] jranson opened #100 "Increment Golang and Alpine versions"

[2018-12-04 18:54] jranson commented on #100
Updated to Golang 1.11.2 and Alpine 3.8 in 3d66267

[2018-12-04 18:54] #100 closed

[2018-12-04 19:09] jranson commented on #98
Hi Thomas, looks like this change has created a defect wherein the initial request for data (e.g., a trickster cache miss) results in a 404 to the user, while subsequent (cache hits) are successful. Are you able to take a look and identify what went wrong?  I will keep digging to see if it's something I did wrong in my tests.

[2018-12-04 19:53] jacksontj commented on #98
So you are saying that you get different results for cache miss vs cache hit? I definitely didn't see that before, so that is interesting. Do you have a repro case?

[2018-12-04 20:13] jacksontj commented on #98
@jranson I did some quick local testing and can't reproduce the error (I can send a query and I get the same result when its a hit or a miss). If you have a repro case (or test case) I can definitely take a look into it.

[2018-12-04 20:36] jranson commented on #98
Definitely seeing an issue, might be related to #96 instead of #98. Here is how I detected it (using the current master merged with your recent changes):

Start trickster with a 100% clean cache. Request any url

```# curl -g 'http://my.trickster.fqdn.com:9090/api/v1/query_range?query=my_query_here&start=1543952782&end=1543953082&step=60'```

(No response)

Make the same request again:

```# curl

[2018-12-04 20:46] jranson commented on #98
(accompanying debug logs for the requests above)

[code]

[2018-12-04 21:08] jacksontj commented on #98
As a more concrete example, I curl'd `http://localhost:18082/api/v1/query?query=prometheus_build_info&time=1543957478.813&_=1543957448463` and I got data back both times. Whats interesting is my debug logs don't have any mention of compression, maybe something to do with that (can't repro the issue with compression on or off in config from my side either :/) ?

[2018-12-05 00:30] jranson commented on #98
Thomas - it looks like your example that is working is a query, rather than a query_range.

The issue appears to be isolated to query_range requests. I am still digging but it looks related to checks around response StatusCode handling (it is being seen as 0 instead of 200, and thus triggering the errorBody instead of the "good" body at or around handlers.go:724)

Try it with `curl -g 'http://loca

[2018-12-05 01:07] jacksontj commented on #98
@jranson fix is in https://github.com/Comcast/trickster/pull/101 -- basically 2 issues, (1) I had changed resp -> r incorrectly, and (2) even if that was fixed the check if the resp was still not set was incorrect (as it would never be true). That PR fixes the issue, and I can no longer reproduce the issue.

[2018-12-05 01:19] jranson commented on #98
@jacksontj  Everything checks out now. This is truly awesome, thank you so much for all of these contributions. Trickster is so much better because of it!

[2018-12-05 01:19] #98 closed

[2018-12-05 10:16] sylr opened #105 "Panic with v0.1.3"
Hi,

I installed v0.1.3 in order to see if it fixes https://github.com/Comcast/trickster/issues/92 but I encountered this.

[code]

[2018-12-05 11:33] sylr commented on #105
I believe this has been introduced by https://github.com/Comcast/trickster/commit/733c75d1ca1fa3ab911b676398aa01b90509bef3

cc @jacksontj

[2018-12-05 15:53] jranson commented on #105
Hey @sylr are you able to reproduce the panic with a sharable query (e.g., one of the `go_` metric names)?  Thanks!

[2018-12-05 16:02] sylr commented on #105
Yes `go_gc_duration_seconds{}` made trickster crash

[code]

[2018-12-05 16:06] jranson commented on #105
Thanks. Sorry to belabor - any chance you can go to debug logging and provide some urls. That way we can determine out the nature and scope of the defect. Thanks again for your help and for the report!

[2018-12-05 16:07] sylr commented on #105
My configuration

[code]

The most notable thing is the fast forward turned off.

[2018-12-05 16:10] sylr commented on #105
[code]

[2018-12-05 18:01] jacksontj commented on #105
#107 has a test which repros this panic and a fix. Thanks for catching that @sylr. I wasn't able to repro it myself, but from the repro case I have it seems that the issue's cause is that prometheus is returning a result without values -- which trickster wasn't handling properly (more details in the PR and commit messages).

[2018-12-05 18:18] jranson commented on #105
@sylr 0.1.4 is released w/ patch from @jacksontj   can you let us know how this works out on this issue as well as #92 ? Thank you all!

[2018-12-05 18:38] SuperQ commented on #91
Yup, I'll get the new version into testing soon.

[2018-12-06 08:04] sylr commented on #105
Still crashing:

[code]

[2018-12-06 14:40] SuperQ commented on #91
I've started 0.1.4 in production. Will see how it behaves over the next day or so.

[2018-12-06 14:43] SuperQ commented on #91
Getting a panic:

[code]

[2018-12-06 14:48] sylr commented on #91
@SuperQ #105

[2018-12-07 07:56] jacksontj commented on #105
@sylr thanks for the catch! You are correct, that is incorrect. I have added a test case and a fix in #108

[2018-12-07 09:51] sylr commented on #105
I'd need a docker image hosted somewhere to test your new patch.

[2018-12-07 10:49] SuperQ commented on #105
I deployed the patch to our instance, seems to be more stable. I'll give it a few more hours to see if it stays up.

[2018-12-07 14:23] jranson commented on #105
@sylr would you mind trying with tricksterio/trickster:0.1.5-test ?   That includes @jacksontj's fix. Thanks!

[2018-12-07 14:44] sylr commented on #105
@jranson on it

[2018-12-07 14:47] sylr commented on #105
Seems OK now :+1:

[2018-12-07 14:52] jranson commented on #105
Awesome, thanks for checking. Sorry for the wild ride :) I'll let it burn in with both you and @SuperQ, for a few more hours and then merge/cut the official release.

[2018-12-07 14:53] sylr commented on #92
I can't reproduce with v0.1.5 so closing.

[2018-12-07 14:54] sylr commented on #105
No worries, happy to help, `Trickster` is a great addition to our setup.

[2018-12-07 14:57] jranson commented on #92
@sylr did you try w/ Fast Forward enabled again and did that work as expected as well?

[2018-12-07 15:01] sylr commented on #92
Just tried with fast forwarded on and the problem with thin bars is still present.

[2018-12-07 15:02] sylr commented on #92
But I can't reproduce https://github.com/Comcast/trickster/issues/92#issuecomment-431855045

[2018-12-07 15:31] SuperQ commented on #105
Confirmed, no crashes since pushing the patched version.

[2018-12-07 17:01] #105 closed

[2018-12-08 08:15] SuperQ commented on #91
I've switched our Trickster over to memory cache, just to see how it behaves.

I'm seeing a very strange memory leaking pattern.

https://dashboards.gitlab.com/dashboard/snapshot/C8bIw0RsFx4nhw7HSkVvMOjUw3B0WbPK

https://dashboards.gitlab.com/dashboard/snapshot/wyINL7CX8tnwVSb3ES0xPPV9hYYMRsmy

The heap growth follows the traffic pattern, but the memory use climbs and climbs over time, I'm going t

[2018-12-11 09:45] sylr commented on #92
I revised my previous comment I still can reproduce https://github.com/Comcast/trickster/issues/92#issuecomment-431855045

Without trickster:
![screenshot_26](https://user-images.githubusercontent.com/153052/49791926-c0858200-fd31-11e8-8289-0665b6189a82.png)

With trickster:
![screenshot_27](https://user-images.githubusercontent.com/153052/49791929-c24f4580-fd31-11e8-846e-319aa8660b9b.png)

[2018-12-13 23:39] jranson opened #109 "Trickster returns errors when the system clock is behind"
In places like https://github.com/Comcast/trickster/blob/master/handlers.go#L930 we are using "now" (based on the system clock) as part of deterministically adjusting start/end times. We probably should not do this. When the system clock is behind (e.g., ntp is not configured, a developer's laptop has the date set wrong, etc), this can unintentionally truncate data on the right of the graph. Furth

[2018-12-13 23:47] jacksontj commented on #109
Prometheus itself actually has this same problem, which is why it has a warning banner on the UI that tells you about the issue. In reality there's not a great way of dealing with this, since this is a timeseries API (so time matters). If you don't have the fast-forward option enabled we could *not* touch the time and just pass it through, but in the case of fast-forward there isn't much to do :/

[2018-12-13 23:54] jranson commented on #109
Yep, definitely agree on the Fast Forward feature.

 The line that I referenced above is in alignStepBoundaries, which is unrelated to Fast Forward, and affects queries even with FF Disabled.

[2018-12-14 03:06] jranson commented on #109
One option we have is to use the `Date` header on the upstream prometheus's response to help with bad local clocks. I will take a look at the feasibility of this and see if it's something that would be beneficial.

[2018-12-14 07:41] SuperQ commented on #109
We added a browser warning in the Prometheus console to tell users that their clock is off. Maybe we should add the same kind of warning to Grafana.

[2018-12-14 07:55] FUSAKLA commented on #109
This would be great to see the same warning in Grafana.

[2018-12-14 18:52] jranson commented on #109
@SuperQ just to clarify - are you warning in Prom when the _browser user's_ clock is off? The issue I am finding here is when the host running Trickster has a clock issue.

[2018-12-18 23:52] jranson commented on #92
@sylr would you mind testing against trickster:0.1.6-rc1 and see if that clears up these artifacts? Thank you!

[2018-12-19 15:51] sylr commented on #92
@jranson https://github.com/Comcast/trickster/issues/92#issuecomment-431855045 seems gone!

[2018-12-19 16:02] sylr commented on #92
I've a lot of:

[code]
in the logs so @jacksontj was right about https://github.com/Comcast/trickster/pull/114.

[2018-12-20 14:57] sylr commented on #92
I've got another problem now. With 0.1.6-rc1 query over a long range are truncated.

I'll try to investigate more if I have some time but right now I need to rollback to 0.1.5.

[2018-12-21 18:18] SuperQ commented on #109
@jranson Yes, we have a little javascript warning that the browser clock differs from the server clock.

[2019-01-04 19:37] yosifkit opened #116 "query_range no longer returns the full merged data set"
Using local build from master (646440f678b8e33b23412f8645faf58fe8a6ff46).

1. setup new trickster with copy of `example.conf` with an appropriate prometheus url
1. query prometheus graph via proxy web interface to fill up its cache
   1. first fetch returns a full set of data (~250 data points)
1. wait for scraping to make more data and execute again
   1. trickster only returns points newer than

[2019-01-04 19:42] sylr commented on #116
I also noticed something that sounds like you described https://github.com/Comcast/trickster/issues/92#issuecomment-449025630

[2019-01-06 12:01] pcarranza commented on #12
I'm thinking that it would be enough with just reloading the origins from the configuration file on SIGHUP as a first step.

Reloading ports would include bouncing the server, and that may be too much.

Would it make sense as a first approach?

[2019-01-07 18:54] sylr commented on #116
cc @jacksontj

[2019-01-08 00:37] jacksontj commented on #116
@sylr thanks for the cc -- I was able to repro this locally and have a fix up in #117. This is a bit concerning as this breaks pretty fundamental usage and there were no test failures, which basically destroys any trust I had in the tests to begin with :/

[2019-01-08 17:57] #116 closed

[2019-01-08 18:04] jacksontj commented on #92
@sylr when you get a minute, would you mind checking master now that the fix for #116 is merged in?

[2019-01-08 18:06] jranson commented on #92
@sylr I have tricksterio:trickster0.1.6-rc2 pushed to docker hub if that is easier for you to try out. Thanks again, and thanks to @jacksontj for sticking with this one!

[2019-01-08 18:14] sylr commented on #92
OK I will

[2019-01-10 01:03] #92 closed

[2019-01-23 00:46] davidquarles commented on #3
@jranson Any idea just how involved this might be?  I'm not super familiar with this codebase today.  We just attempted to run trickster as a sidecar between prometheus and `thanos sidecar` and hit a wall here.  We could potentially help, if that's useful.

[2019-01-29 18:52] arsenakishev commented on #4
Implemented in #118, can probably be closed now.

[2019-01-29 20:17] jranson commented on #4
Yep, I will close it out as soon as we cut the next release :-D

[2019-01-29 22:01] jranson commented on #91
All, a very astute finding by @arsenakishev in #118 was that the Reaper background goroutine was not being started for Redis caches and has been merged into master. This could potentially have been impacting this High Memory issue. Would anyone experiencing this issue be able to test against master let us know if that resolves this? If needed, I am happy to spin up a release candidate docker image

[2019-01-31 17:26] #4 closed, assigned to jranson

[2019-02-01 10:03] arnitolog opened #122 "per origin timeout"
is there any way to configure response timeout per origin, or, at least, global one?

[2019-02-03 14:40] jranson opened #123 "Support New Origin Type: ClickHouse"

[2019-02-07 00:21] jranson commented on #36
@WillGunther for you :) Thanks!!

[2019-02-08 18:02] jranson commented on #73
@SuperQ  Hey Ben, I am going take a look at some of these longstanding-but-easy issues this weekend. For this one, do you have a recommended length of time for caching the series endpoint? Are there any api endpoints that should also be supported? Thanks!

[2019-02-09 22:04] jranson commented on #12
I am working on this at https://github.com/jranson/trickster/tree/config-reload and have it working but not tested beyond confirming a kill -HUP <pid> will trigger the config reload, and the reloaded origins are respected. I would appreciate any help testing out to ensure it is otherwise safe!

[2019-02-10 01:01] jranson commented on #3
I am not quite sure, I do not have any experience w/ this, it was a feature request we moved over from the internal repo @ Comcast that someone had requested. CC: @crandles

[2019-02-10 01:15] #122 closed

[2019-02-10 01:17] jranson commented on #122
@arnitolog I just merged this feature into master for you. I am waiting on #121 to be completed and will spin up a release, if you use our docker hub.

[2019-02-10 13:58] SuperQ commented on #3
I don't see how this fits into Trickster. The remote read interface is designed so that one Prometheus server can read raw data and process it with PromQL. Trickster is a proxy, not a backing storage service.

[2019-02-10 14:09] #3 closed

[2019-02-11 13:24] sylr commented on #12
You can also implement fsnotify so you don't need external action to reload config.

https://github.com/jimmidyson/configmap-reload/blob/master/configmap-reload.go#L46-L75

[2019-02-12 00:24] jranson opened #127 "Add Vulnerability Reporting Process"
Comcsat personnel will take this issue and implement as per the "Vulnerability report process" in https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md

[2019-02-12 00:51] #127 closed

[2019-02-12 09:01] SuperQ commented on #12
I would prefer the standard convention of active reloading. Automatic reloading can be touchy if the config is reloaded in the middle of a file write. So you end up having to always do atomic writes, which means if you're just using a text editor to tweak a config, it now becomes much more complicated.

[2019-02-14 10:59] R4scal opened #128 "MemLeak on Reap on Redis and BoltDB"
Hi
Trickster periodically crahes when use redis as cache

[code]

[code]

[2019-02-16 19:07] R4scal commented on #128
After some times ago I can say, that redis cache in trickster is a very inefficient. I was switch cache type from redis to boltdb, and server resources utilisation dramatically changed:
<img width="726" alt="screenshot 2019-02-16 at 21 54 21" src="https://user-images.githubusercontent.com/16123585/52903922-bf8f3600-3235-11e9-887e-62975c5eeb69.png">
<img width="606" alt="screenshot 2019-02-16 at 21

[2019-02-18 06:15] R4scal commented on #128
@And after some times I have 300Mb boltdb file and frequently killed by OOM trickster
<img width="665" alt="screenshot 2019-02-18 at 09 14 05" src="https://user-images.githubusercontent.com/16123585/52931513-b7321a80-335d-11e9-9826-7abfb0a6f44f.png">
<img width="668" alt="screenshot 2019-02-18 at 09 14 13" src="https://user-images.githubusercontent.com/16123585/52931519-ba2d0b00-335d-11e9-93cc-313

[2019-02-18 10:32] qwertwwwe opened #129 "Merge overwrite MaxValueAgeSecs"
Hi
In the use of  the latest version, I find that  MaxValueAgeSecs config does't work, I find that the merge from #121 overwrite the merge from #120,  which maybe need MaxValueAgeSecs and NoCacheLastDataSecs both retain.

[2019-02-19 03:28] qwertwwwe opened #131 "Performance Problem: Some times Trickster request too much time range than needed."
In our use case, some times Trickster will request more time range than needed. For example, I set the MaxValueAgeSecs=86400(24h). The first request time range is 2019.01.29-2019.01.30, the second request time range is 2019.01.01-2019.01.02. In the second request, Trickster will send request to prometheus with time range 2019.01.01-2019.01.29, some times this length of time range will cause timeou

[2019-02-20 03:55] #129 closed

[2019-02-20 08:41] SuperQ commented on #73
Looking at the metrics, we get very few `series` handler requests via Grafana. I would say that it's probably good to cache for at most 5 minutes by default. Users expect newly added series to show up quickly. But a 5 minute cache would be helpful to deal with abuse/storms.

The only endpoints used on our front-end service that seem to be used are query, query_range ,and series.

[2019-03-11 19:44] jranson opened #135 "Backfill Tolerance"
(formerly called NoCacheLastDataSecs)

[2019-03-11 19:45] jranson opened #136 "Metrics & Accurate accounting of kmiss/rmiss/phit/hit"

[2019-03-11 19:45] jranson opened #137 "Snappy Compression on Cache Read/Write"

[2019-03-11 19:47] jranson opened #138 "Proper GZIP Handling at the Proxy"

[2019-03-11 19:47] jranson opened #139 "Consider Authorization Header in Cache Key Creation"

[2019-03-11 19:48] jranson opened #140 "Fast Forward"

[2019-03-11 19:48] jranson opened #141 "Migrate Unit Tests"

[2019-03-11 19:51] jranson opened #142 "Support Max Cache Size setting"
The community has requested a size-based retention policy setting. Setting should be represented in bytes, where 0 = infinite size. This is addition to existing Time-based cache retention and the cache will maintain the cache using both setting in tandem.

[2019-03-11 19:54] jranson opened #143 "Handle Cache Control Headers"
For Full Object Caching we should support upstream Cache Control headers (`Expiration`, `Cache-Control` (no-cache, max-age), and `Pragma: no-cache`) when present.

[2019-03-11 19:55] jranson opened #144 "Per-Origin Cache Configuration"
The underlying cache for each origin should be configurable instead of all origins using a single cache.

[2019-03-11 19:56] jranson opened #145 "Verify Data Quality in 1.0"

[2019-03-11 19:56] jranson opened #146 "Panic/Crash when Origin is Unreachable in 1.0"

[2019-03-11 20:22] jranson opened #148 "Update Makefile for 1.0 project layout"

[2019-03-12 01:45] jranson commented on #131
@qwertwwwe In the `next` branch you can see that we have implemented this enhancement in `internal/proxy/deltaproxycache.go` and it will be part of the 1.0 release. The proxy will no longer have any condition where it requests more data than the client requests, while the gaps in the cache are maintained and filled in only when requested by the client. We are hoping to have a 1.0 beta release in t

[2019-03-12 06:55] qwertwwwe commented on #131
@jranson  That's great, this will solve our performance problem directly.

[2019-03-12 07:54] ollylu opened #151 "handler.go , getURL headers Param not use"
handler.go , getURL function ,headers Param not use
resp, err := client.Do(&http.Request{Method: method, URL: parsedURL})

[2019-03-12 14:48] jranson commented on #151
Thanks for this report! With the 1.0 (`next`) branch, the Headers have been re-worked and are fully passed through up to the origin, and response headers back down to the client. Hopefully that will address this issue and we can close it once we merge `next` into `master`.  It should be in the next several weeks. Let us know if that is ok! Thank you again. JR

[2019-03-13 02:42] jranson commented on #144
This feature is completed in `next` with the intial commit bf00fdf

[2019-03-13 02:42] #144 closed

[2019-03-13 02:52] jranson commented on #9
Implemented in the `next` branch

[2019-03-13 02:52] #9 closed

[2019-03-13 04:09] jranson commented on #137
Fixed in #149

[2019-03-13 04:09] #137 closed

[2019-03-13 12:35] jranson opened #153 "Support Environment Variables and Flags for OriginType"

[2019-03-14 03:59] jranson commented on #148
Fixed in #154

[2019-03-14 03:59] #148 closed

[2019-03-16 04:33] thinker0 opened #157 "Please support Redis Cluster."

[2019-03-21 17:23] jranson commented on #145
All done in #158

[2019-03-21 17:23] #145 closed

[2019-03-22 16:18] #139 closed

[2019-03-22 19:12] jranson commented on #138
Implemented in #161

[2019-03-22 19:12] #138 closed

[2019-03-23 19:07] jranson opened #163 "Collapse Adjacent Exents on Cache Fill"
on 1.0 when there is a partial cache hit and trickster fetches the missing data, it inserts a new extent into the cache object's extent list for future delta calculations. when trickster is used upstream of a grafana dashboard that reloads frequently, the resulting repeated incremental fill will cause any popular/long running cache object's extent list to eventually match the length of the timeser

[2019-03-23 20:09] jranson commented on #140
Implemented in #162

[2019-03-23 20:09] #140 closed

[2019-03-23 20:09] jranson commented on #135
Implemented in #162

[2019-03-23 20:09] #135 closed

[2019-03-25 11:34] #136 closed

[2019-03-26 02:14] jranson opened #167 "Support Origins with varying time field names"
Some origins like clickhouse or elasticsearch allow the user of the system to specify their own schema. So if we want to support these databases as timeseries, Trickster may not immediately know what the time field is when parsing a downstream query. We might want to allow the user to provide a default timestamp field name config per-origin, or allow the user to provide a configuration mapping of

[2019-03-26 16:54] jranson commented on #142
Completed in #164

[2019-03-26 16:54] #142 closed

[2019-03-26 16:54] jranson commented on #153
Completed in #166

[2019-03-26 16:54] #153 closed

[2019-03-28 03:11] jranson commented on #163
Fixed in #168

[2019-03-28 03:11] #163 closed

[2019-03-28 03:42] jranson commented on #157
@thinker0 This looks fairly easy to do, the go-redis package we are already using for Redis supports Redis Cluster as well. I will take a look and try to have Redis Cluster support ready for the 1.0 Beta Release that is coming in a few days.

[2019-03-28 04:27] jranson commented on #146
Fixed in #169

[2019-03-28 04:27] #146 closed

[2019-03-28 04:37] thinker0 commented on #157
Thanks ^________^;

2019년 3월 28일 (목) 오후 12:42, James Ranson <notifications@github.com>님이 작성:

[2019-03-28 17:20] sylr opened #171 "Trickster + Thanos does not work on period greater than a day"
Thanos without trickster

![Screenshot_53](https://user-images.githubusercontent.com/153052/55178542-da828d80-5185-11e9-830c-863b78e548be.png)

Thanos + trickster
![Screenshot_54](https://user-images.githubusercontent.com/153052/55178581-ea01d680-5185-11e9-8b57-763f5358ff05.png)

cc @SuperQ @bwplotka

[2019-03-28 17:25] jranson commented on #171
@sylr Thanks for the report! Can you let me know which release you are using? I think this was identified and fixed at some point in the 0.1.x codebase. It is definitely fixed in the 1.0 codebase on the `next` branch. Once we drop the beta for that (or you can build it today!) would you mind testing again and let us know how it looks?  Thanks again!

[2019-03-28 17:25] sylr commented on #171
Version is  tricksterio/trickster:0.1.7

[2019-03-28 17:27] sylr commented on #171
Could you build a docker image of the next branch in the ci ?

[2019-03-28 17:34] jranson commented on #171
We are holding off on doing that until it is officially ready for Beta, pending a few more issues being completed. My goal is to get that released in the next 72 hours, if that is ok. Thanks!

[2019-03-29 17:09] jranson commented on #73
Implemented in `next` via #175

[2019-04-01 04:14] jranson commented on #171
@sylr  `tricksterio/trickster:1.0-beta` is tagged and ready

[2019-04-01 04:15] jranson commented on #5
Implemented in #156   will open new issues for any bugs in the influx implementation

[2019-04-01 04:15] #5 closed

[2019-04-01 08:45] sylr commented on #171
It seems to work on next branch 👍

[2019-04-01 15:26] ese opened #178 "Panic after upgrade to 1.0-beta"
After upgrade to test 1.0-beta I got this panic:

[code]

Using: tricksterio/trickster:1.0-beta
prometheus: thanos-querier 0.3.2

Tested with default config changing only host of the prometheus.
Previous versions of trickster worked fine

Some queries seems to work and others ends on this panic. I can't see a pattern here

[2019-04-01 15:49] jranson commented on #178
@ese It looks like it is panicking while trying to handle Authorization headers. So just to check: are you using auth with your Prometheus, and if so, how is that setup (e.g., Basic auth, etc)?  I can setup a similar test harness to reproduce the condition.

[2019-04-01 15:55] jranson opened #179 "Cache Key hashing for InfluxDB does not consider Step Duration"
The InfluxDB's implementation of `DeriveCacheKey` Proxy Client Interface method does not currently account for the Step Duration of the timeseries (found in the `group by time(1m)` clause of the query), which means nearly-identical queries, where the only change is the Step Duration, would create a hash collision.

[2019-04-01 17:29] jranson commented on #82
@jacksontj The proxy re-work in 1.0 addresses this, if you want to give it a go. Any Prometheus request that is not known to be a timeseries (e.g., not a `query_range`) routes through the proxy or the proxy+cache (depending up on the path; prom requests to `/query`, as in the example provided, will go through the proxy+cache with a ttl of `object_ttl_secs`), and is handled generically. The hang up

[2019-04-01 17:51] jranson commented on #6
@husobee A year later - we have the interfacing ready to go on the `next` branch, and the 1.0 codebase is a lot easier to comprehend and extend. In addition to supporting Prom you will also find InfluxDB support (`internal/proxy/influxdb`), which provides two good examples for extending support to IronDB if you are interested in giving it a go. I believe we have some Comcast personnel also looking

[2019-04-01 18:59] #179 closed, assigned to jranson

[2019-04-01 19:16] jranson commented on #178
@ese I've made some adjustments and pushed an updated `tricksterio/trickster:1.0-beta` docker image to address this condition. You'll need to re-pull that image, or use `tricksterio/trickster:1.0-beta2`. Thanks for trying out the beta and reporting an issue. Hopefully this resolves it!

[2019-04-01 19:31] ese commented on #178
That new release fix the problem. Thanks!

[2019-04-01 19:31] #178 closed

[2019-04-03 02:47] #157 closed

[2019-04-03 14:02] jranson opened #182 "Update documentation at metrics.md"
documentation for metrics is out of date for 1.0

[2019-04-03 14:03] jranson opened #183 "Update documentation at placement.md"
Placement documentation is outdated with the addition of influxdb support.

[2019-04-03 14:07] jranson opened #184 "update readme graphics"
the readme graphics indicate prometheus support and need to be generalized now that we support additional origin types.

[2019-04-04 02:46] #184 closed

[2019-04-04 02:55] #183 closed

[2019-04-04 05:23] jacksontj commented on #82
To be clear, scalar responses can come from `/query` or `/query_range`. As a contrived example, if the promql query is `3` it will return 3-- which is a scalar (regardless of endpoint).

this will make caching responses difficult, since each timeseries DB has its own format/rules/etc. which will effectively require un-marshaling each of them and re-constructing.

I'll add it to my list of things t

[2019-04-04 16:09] jranson commented on #82
@jacksontj  Are you able to provide the URL to reproduce the log entry you produced?  I am unable to get a scalar from a query_range in any of my attempts. Thanks!

Sorry I was not clear on the generic HTTP Proxy - we _are_ implementing custom url/query parsing and response marshaling, per-TSDB type, already (check out that sweet influxdb capability!). What I am trying to ensure is that the actual

[2019-04-04 16:53] #182 closed

[2019-04-05 15:52] jacksontj commented on #82
For the log line, I simply used `/api/v1/query?query=5` (presumably the same query on a query_range should get the same behavior).

If this is of interest, I do this marshal/unmarshal in [promxy](https://github.com/jacksontj/promxy) and because of that I already maintain libraries to do the server-side (unfortunately a copy/paste from upstream, but they refuse to make the structs etc. public -- ht

[2019-04-05 16:04] jranson commented on #82
Strange, i tried these:

[code]

So i am not able to get a scalar from a query_range. Will take a look at all of those options and see if any work better. It does not really make sense for all of us to be rewriting the same structs for the http api body. My inclination would be for the client_golang to provide them if possible, perhaps a PR to _that_ project is in order?

[2019-04-09 02:11] #141 closed

[2019-04-10 09:49] Dudesons opened #193 "Cors problem on 1.0-beta"
Hi,

it seems on trickster `1.0-beta` there is a problem with cors origin.
I'm running trickster inside a container.

I tried to setup this one with grafana and I have cors error.
<img width="1293" alt="Screenshot 2019-04-10 at 10 50 41" src="https://user-images.githubusercontent.com/3831949/55867271-7ba81580-5b82-11e9-9552-6e04236bbd45.png">

Maybe I miss something in the configuration.

my confi

[2019-04-10 13:19] jranson commented on #193
@Dudesons Damien, thanks for the report! I have entered PR #195 to add back the CORS header that we had been setting in the 0.1.x branch. It looks like you have configured Trickster/Prom in Grafana as direct/browser access mode in rather than via the grafana proxy. Totally legit usecase and we're happy to add back the CORS.  Once PR is merged, we'll spin up another beta release for you to confirm

[2019-04-10 16:03] #193 closed

[2019-04-10 16:14] jranson commented on #193
@Dudesons the `1.0-beta3` release image is added and `1.0-beta` tag is refreshed (if you just want to re-pull) and should address. this. thanks again!

[2019-04-11 00:15] jacksontj commented on #131
FYI, we ran into the same problem -- I have opened #198 with a fix for at least the case we are seeing.

[2019-04-12 14:59] #131 closed

[2019-04-18 07:28] ahurtaud opened #208 "Trickster cannot display points in the future"
Hello,

When using "today" timerange view in Grafana. Trickster cannot display datapoints in the future.

The usecase we have is, when we want to compare last week traffic with current traffic. We use the [offset modifier](https://prometheus.io/docs/prometheus/latest/querying/basics/#offset-modifier) from prometheus.

When querying prometheus:
![OffsetFutureWithPrometheus](https://user-images.gith

[2019-04-19 03:41] Wing924 opened #209 "wrong Content-Type for web UI"
[code]

Since response is html, content type should be `text/html` or missing.

version: 0.1.9

[2019-04-19 04:14] jranson commented on #208
@ahurtaud Thanks to Alban for reporting this issue and also demonstrating this very useful Grafana feature. This issue affects 0.1.x (won't fix) and 1.0 (fix in progress), and occurs where we extract the client-requested time range from a cached dataset. Since the dates of these points can be in the future (due to the way Grafana constructs time ranges for the "Today" view), they are being cropped

[2019-04-19 04:17] jranson commented on #208
Separately, in debugging this issue, I identified a defect in Grafana's "Today" feature where it is incompatible with Prometheus vector requests. [Grafana #16661](https://github.com/grafana/grafana/issues/16661)

[2019-04-19 04:28] jranson commented on #209
@Wing924 Thanks for reporting this. It is already fixed in the 1.0 codebase on the `next` branch, which properly returns _all_ headers back from the origin.

Separately, making a request to `http://prometheus:9090/` should issue a 302 Redirect to `/graph`. However, I see in your curl output above that you received a 200 response. I looked into this and found that Trickster is following redirects a

[2019-04-23 00:21] Wing924 opened #214 "[question] does trickster supports many instances use single redis cluster as backend?"
Hello!
1) To keep HA, I setup many trickster instances with same config. Can I use same redis cluster as backend? If it works, does they share the same cache? (ex. trickster 2 can read the data cached by trickster 1)
[code]

2) To scale-out prometheus, I setup many trickster and prometheus instances (each trickster connect to different prometheus and each prometheus scrape different targets). Can

[2019-04-23 18:40] jranson commented on #214
Hi Wei, thanks for trying out Trickster and for asking about this. The answer is *yes* to both questions; in fact, the reason for supporting Redis is to facilitate these exact scenarios. Trickster uses the upstream prometheus hostname as part of the cache/redis key name, so each prometheus's data is cached separately and will encounter collisions. As I write this, I checked and noticed the hostnam

[2019-04-24 20:35] mozai opened #216 "Content-Type: application/x-gzip"
Strange behaviour by Trickster, I can reproduce it where I am, and co-workers see it too, but not sure how to recreate it in a lab.

When using Trickster 1.0.4 as a data source with Grafana, Trickster is responding with strange http headers:  "Content-Encoding: gzip" and "Content-Type: application/x-gzip".  Shouldn't that be "Content-Type: application/json" ?

[code]

Bizarrely, I'm unable to repr

[2019-04-24 20:58] jranson commented on #216
Thanks for the report, I will definitely check this out!

[2019-04-25 21:02] cam3ron2 opened #217 "Support for Redis Sentinel"
Right now it appears that there is no support for Redis Sentinel. Is this something that is planned for the future?

[2019-04-25 21:05] jranson commented on #217
Hi Cameron - it looks fairly easy to incorporate with the existing `go-redis` package we are using, so we can definitely add it to the 1.0 Release. I'll note this issue when we have a beta release w/ sentinel support.

[2019-04-26 07:00] Wing924 opened #218 "trickster never cache hit"
## bug summary

The trickster always report cache miss, won't report cache hit from metrics.
The response won't be faster when do same query.

## versions

* trickster v1.0-beta4
  * check backend with memory and filesystem
* trickster v1.0-beta3
  * check backend with memory

## configuration

system design
[code]

trickster config:
[code]

## reporduce

[code]

[2019-04-29 11:16] dheerajkulakarni opened #219 "Retry Logic for caches"
We use aws redis for caching , Due to some reasons the connection for redis is getting lost and immediately trickster gets down  ,it would be  great if there is an option like no of retries it can try before an exception is thrown

Exception Thrown

main.(*RedisCache).ReapOnce(0xc000113340)
	/go/src/github.com/Comcast/trickster/redis.go:84 +0x6e7
main.(*RedisCache).Reap(0xc000113340)
	/go/src/gith

[2019-04-29 17:56] jranson commented on #218
Hi Wei - I am currently unable to reproduce this. The URL you provided to reproduce will not work because it includes ampersands, but is not enclosed with quotes. Any command line argument with ampersands _must_ be enclosed with quotation marks or you will get unexpected results. This is not a Trickster thing, it is just how the Linux command line works. When you don't include the quotes, the URL

[2019-05-02 00:48] jacksontj commented on #209
This bug was introduced in #196 where the promFullProxyHandler was changed to unconditionally set the response type to application/json.

So we have 2 fixes (1) revert #196 or (2) change `writeResponse` to proxy the content-type from the origin -- preferences @jranson ?

[2019-05-02 13:58] jranson commented on #209
@jacksontj Thanks for digging into all of that. For 0.1.x, option 2 is definitely the right way to go. I will take a look later this weekend and get a PR ready unless someone can beat me to it!

[2019-05-02 22:49] #209 closed

[2019-05-03 10:07] hatemosphere commented on #216
We're actually having the same behavior - sometimes getting random "Content-Encoding: x-gzip" headers (at lest in latest Firefox stable  build) and it breaks Grafana.

[2019-05-03 12:28] jranson commented on #216
I believe we have root-caused this issue and will be working the fix today.

The issue has roots in an improvement was introduced in the first cut of Trickster 1.0 to support requesting and accepting gzipped responses from the upstream origin, in order to reduce bandwidth between Trickster and the upstream origin (obviously a good thing!)

In the situation of a full cache miss of a given query, we

[2019-05-03 12:49] jranson commented on #219
@dheerajkulakarni Thanks for the report. In PR #220, we have exposed _all_ go-redis options to the Trickster configuration, which gives you 12 new knobs for tuning the redis client - including command retries.  When this PR is merged and we cut a new 1.0 beta release, you'll be able to test out the features. I see from your log output that you are using 0.1.x and we will not be adding these new tu

[2019-05-04 16:14] jranson commented on #216
(Deleted previous comment as it was completely wrong).

All, PR #222 should fix this and we'll try to get a release cut later today. Thank you for the report!

[2019-05-04 16:19] jranson commented on #216
The main root cause was that the upstream response headers (incl Content-Type) were not being passed down on a Cache Miss, and it looks like firefox is much stricter about these things than Chrome. I have fixed that up and also corrected an issue where certain cache misses were being marked as range misses by mistake.

[2019-05-06 06:06] dheerajkulakarni commented on #219
@jranson  hey thank you so much , it would be so helpful for us .

[2019-05-06 09:18] sylr opened #223 "v1.0.5-beta5"
I think there has been a mistake with the naming of the tags for the v1.0.0 beta line

v1.0.5-beta5 means beta5 toward v1.0.5.

It should have been:

- v1.0.0-beta1
- v1.0.0-beta2
- v1.0.0-beta3
- v1.0.0-beta4
- v1.0.0-beta5

Regards.

[2019-05-07 03:55] Wing924 commented on #218
I write a POC code here:

docker-compose.yml
[code]

trickster.toml
[code]

### Result
[code]

it don't cache anything.

[2019-05-08 01:49] jranson commented on #218
Can you try adding `value_retention_factor = 1024` under `[origins.default]` section and see if that fixes your issue? From what I can tell, it seems that some settings may not be taking the defaults when a config file is used. I will take a look at that issue and make sure the unit tests capture it correctly as well.

[2019-05-08 01:56] Wing924 commented on #218
@jacksontj
I added value_retention_factor = 1024 under [origins.default], but the result never changed.

[code]

[2019-05-08 03:21] jacksontj commented on #218
@Wing924 I believe you meant to @ @jranson  (similar names on github :) )

[2019-05-08 03:32] Wing924 commented on #218
@jacksontj Sorry, I pinned wrong person.
@jranson Could you check it?

[2019-05-08 03:32] jacksontj commented on #82
I had tried this before in https://github.com/prometheus/prometheus/pull/3615 upstream, but I can ask again in client_golang (https://github.com/prometheus/client_golang/issues/571)

[2019-05-08 03:33] jacksontj commented on #82
@jranson Also, if you want to get a query_range to return a scalar:

http://localhost:9090/api/v1/query_range?query=5&start=1557282803.584&end=1557286403.584&step=14&_=1557286398170

I simply went to the ui and put 5 in the query then changed to the `graph` tab.

[2019-05-09 15:33] raffraffraff opened #225 "Health endpoint pulls very large payload"
I just hit the /health endpoint with a curl and it spammed my terminal. So I directed it to a file and it produced 70mb of data. Is this expected? Seems ridiculously heavy.

[2019-05-09 16:53] jranson commented on #225
@raffraffraff Hi Paul, can you provide some more info (e.g., trickster version, etc). Thanks!

[2019-05-10 14:32] jacksontj commented on #82
@jranson mind chiming in on https://github.com/prometheus/client_golang/issues/571

[2019-05-15 14:02] lohmag opened #226 "Can't change host param"
Even if in config i see:
[code]
in logs:
[code]

[2019-05-15 16:27] jranson commented on #226
@lohmag Thanks for this report - it is already fixed in PR #224 (https://github.com/Comcast/trickster/pull/224/files#diff-34d4dc28e4e4b8f9e871d6d68f62ef07R334) and will be ready for you in Beta 6 which should be released later this week.

[2019-05-17 23:02] kamelkev commented on #6
Hi @jranson - we're pretty interested in this here at @circonus. We have some other staff who can help here, including @dhaifley and @cody271.

Can you please make the relevant introductions to your staff, and we can see how to proceed?

My interest level in this is pretty high. Maybe worth grabbing lunch to discuss if you're still here in Denver.

[2019-05-22 13:03] jranson commented on #123
Being worked under https://github.com/jranson/trickster/tree/1.0-clickhouse

[2019-05-24 09:48] lohmag opened #228 "Problem in Grafana variables"
When I use trickster in grafana variables as datasource there is problem when you use variable in variable like this:
[code]
In $instance and $datname is no data or some not valid data seem like it not updating. When I use Prometheus directly all works fine.

[2019-05-26 12:39] jranson commented on #228
Hey @lohmag can you please share which version of Trickster you are using? Thanks!

[2019-05-29 20:17] jranson commented on #223
@sylr thanks for the report. The next time we have a beta cycle, we'll make the versioning more clear.

The purpose of incrementing the the semantic version is so that we can quickly see the version in an issue report's output logs while troubleshooting issues that are reported. If we did not increment the semantic version, Trickster it would report 1.0.0 for all beta releases, and that could be c

[2019-05-29 22:09] sylr commented on #223
The problem here is that if you release 1.0.0 now people might install 1.0.x-betax because they will think it’s newer than 1.0.0.

[2019-05-30 17:19] raffraffraff commented on #228
I may be seeing a different issue, but the outcome is 'screwed up Grafana variables'. The nub of my issue is that Trickster appears to be returning cached results for the _previous_ label_values query.

Example: I have two variables, dc (datacenter) and role. The queries for them are as follows:

`label_values(system_uptime{role=~"consul|bastion"}, dc)`
The system_uptime metric from all 'consul' a

[2019-05-30 17:23] raffraffraff commented on #225
Sorry for the delay. I was using an older version (v0.1.7 I think). I've recently upgraded to the 1.0-beta5 and the problem is not only 'still there' but is returning far more data. Example:

[code]

You read that correctly - it pulled 875mb of data. I'm running Trickster as follows:

Grafana --> Trickster --> Promxy

I use Promxy to send queries to various Prometheus & Thanos Query instances.

[2019-05-30 17:38] raffraffraff commented on #225
Its use of `/label/__name__/values` may be the issue? Would this be expected to return a huge data set if Trickster were fronting a very large multi-datacenter Thanos setup, with high cardinality metrics?

[2019-05-30 21:25] lohmag commented on #228
1.0.0 beta 5

[2019-05-31 09:38] ahurtaud commented on #218
We had same issue and looks like 1.0.6-beta6 fix the problem.

[2019-05-31 13:27] jranson commented on #228
This is potentially related to caching requests to  the Prometheus `series` endpoint (#73). I will revisit that feature request and make sure it is working properly.

[2019-05-31 13:45] jranson commented on #225
@raffraffraff It's definitely possible that it could be due to the size of your label set. The reason we use that particular labels path is because Grafana also uses it to test connectivity when you add/update a datasource. For the beta7 release, I will change it to `/api/v1/query?query=up`, which accomplishes the same result and is guaranteed to return a small payload.

[2019-06-01 23:09] jranson opened #231 "Beta6 - Panic in Prom"
[code]

[2019-06-08 14:13] jranson commented on #231
Pinned this one down to a collision because of using two versions of `i` in the nested loop (https://github.com/Comcast/trickster/blob/v1.0.6-beta6/internal/proxy/prometheus/matrix.go#L122). I have fixed in the 1.0-promsim branch.

[2019-06-08 14:25] jranson opened #233 "1.0 - Config issue when using file and cli args for origin"
When running Trickster 1.0 with both `-config /path/to/file.toml` and `-origin http://example.com:9090` command line arguments, and the origins in the config file are not named `default`, the command-line provided origin will not register any routes as if the flag has been ignored.

[2019-06-08 19:17] jacksontj opened #234 "Proposal: mechanism to clear-cache on downstream change"
As it stands today trickster simply caches the responses of the downstream prometheus API. If the downstream's configuration is changed in such a way that the data behind it changes-- trickster will continue to serve "stale" data. Here are 2 example cases to highlight the problem

(1) remote_read on a single prometheus host
If the prometheus host was configured to start pulling data from a remote_

[2019-06-10 01:21] jranson commented on #234
Hey Thomas, I have an issue opened for much of this already (#143) but not in nearly as much detail as you've provided here! Thanks!

I'd like to start in 1.0 with a basic/generic reverse proxy object cache that respects all of the HTTP caching specifications, and when we have that fully vetted, we can move on to augmenting it to support evolving time series data cache management. So i think what

[2019-06-10 06:49] Wing924 commented on #218
I also confirmed it has been fixed.

[2019-06-10 06:49] #218 closed

[2019-06-10 14:42] jacksontj commented on #234
It sounds like we're on the same page. #143 should be to handle all the regular cache-control headers (so we can define TTLs etc). and then the only addition in mine is to support Etag + If-Modified-Since requests. The mechanisms I'm describing are regular RFC compliant mechanisms for caching that are regular to HTTP -- so hopefully we can re-use code to do it :)

As for using `No-Cache` in respon

[2019-06-10 15:33] sandyteenan opened #235 "Multi-origin configuration"
This may be more of a configuration or understanding issue, if so, apologies!

I am trying to configure trickster in my dev environment to be the cache layer for multiple prometheus instances.

Running on k8s, the urls used are the external address for the local prometheus:9090.

Hitting the default origin works with :
http://trickster.example.com
but hitting the same instance via a specified orig

[2019-06-11 13:49] jranson commented on #231
Fixed in #232

[2019-06-11 13:49] #231 closed

[2019-06-11 13:51] jranson commented on #235
Hi Sandy, that *should* work, what happens when you try a full URL (e.g., `http://trickster.example.com/messages/api/v1/query?query=up`)?   Are you using 0.1.10?

[2019-06-11 13:53] jranson commented on #228
@lohmag this should be all fixed up in the next beta release which we'll cut later today (we  have one more merge to come in first).

[2019-06-11 13:56] jranson commented on #225
@raffraffraff  this should be all fixed up in the next beta release which we'll cut later today (we have one more merge to come in first).

[2019-06-11 15:26] sandyteenan commented on #235
Hi James - thanks for replying. A full url does work for the three prometheus instances I have defined as origins 👍

When i go to the default trickster url, I see the prometheus landing page, but get the 404 for the multi-origin appendix.

I currently have tricksterio/trickster:0.1.7 - happy to upgrade first before you put any effort into any investigation. This is only a trial right now, but I ha

[2019-06-11 15:37] jranson commented on #235
Gotcha, thanks! I would recommend bumping to 0.1.10 if you want to stick with the 0.1 codebase, as it has numerous community fixes in it and addresses several race conditions that can produce chart artifacts. For a minor issue like the 404's you found, we will fix that in the 1.0 codebase at this point.  And to that end, for any kind of trial, you may want to check out the 1.0 beta releases. We'll

[2019-06-13 13:41] raffraffraff commented on #225
Just tested `curl -svvv localhost:9090/health` but got a 405
[code]

Trickster is working fine, this is happening because I'm using Trickster to cache for our Promxy service, and it doesn't seem to support the `query?query=up` method that you're using. I think I should open an issue on the Promxy project.

[2019-06-13 13:45] raffraffraff commented on #225
Looks like Promxy provides different endpoints: `/-/healthy` (returns "Prometheus is Healthy") and
`/-/ready` (returns "Prometheus is Ready")

[2019-06-13 14:35] sylr opened #237 "Panic on v1.0.7-beta7"
[code]

[2019-06-13 14:43] jranson commented on #225
I don't think it's an issue w/ Promxy at all, but I think we have root caused this and will have it fixed up in Beta 8. Work for that is going on on under `https://github.com/jranson/trickster/tree/1.0-httprpc`- and one of the things we'll to offer a configurable upstream health check URL.

[2019-06-13 14:49] sylr commented on #237
I don't know if it's related but I'm using a version of prometheus with the xrate patch of @free

https://github.com/sylr/prometheus/commit/9d315c4e770e8c501af6f6ffa3274d0e37506f2d

[2019-06-13 16:21] jtorkkel opened #238 "Empty query and query_range results are not cached"
Prometheus query or range_query results are not cached when response contain only empty list.
This will result that dashboards having non zero are reloaded fast from cache, whereas dashboards having one or more non zero query are always slow due lack of caching.
Trickster should also cache empty response, maybe this should be enabled/disabled through cache config.
Tested in v1.0.7-Beta7.

Example

[2019-06-14 15:07] jtorkkel commented on #237
We are using standard 2.8.x Prometheus and I can see same panic as in beta-6 but in different use cases in Beta7. I saw issues when I was modifying queries, I suspect that error in query like two ,, between labels trigger the issue or timeout in query.

[2019-06-15 00:37] jranson commented on #237
I've been able to identify at least one root cause for the panic, have added a test to catch it and am working on the patch. The condition I found is when one or more of the the query's resulting metrics stops having new data (e.g., some errors you are charting that have since been mitigated) for a long enough time that all of the metric's timestamps are old enough to purge. The panic occurs durin

[2019-06-15 05:37] jacksontj opened #239 "Any plans for tickster as a library?"
I see in the new 1.x branch that the code is no longer in the root of the repo (yay!), but I do see that most of the code is under `internal` which means that trickster wouldn't be usable as a library anywhere-- are there any plans to allow/enable this type of usage?

[2019-06-15 14:43] jranson commented on #238
@jtorkkel Thanks for finding and reporting this! I have included a patch in PR #240 and it will be fixed in beta8. The main issue was that we were simply looking to see if there were no timestamp values anywhere in the data set to determine if it was cacheable. Instead, now we will check to see if the dataset has any associated time ranges after cropping down to the cache retention policy, and onl

[2019-06-15 14:51] jranson commented on #237
I have switched out some of the cropping mechanics to use a pattern i totally script kiddied from https://play.golang.org/p/346LnF-E2H0 (credit the 2018 update part of https://vbauerster.github.io/2017/04/removing-items-from-a-slice-while-iterating-in-go/), and it seems to pass all of the unit tests I could come up with for the various cropping scenarios. We will cut beta 8 on Monday with this fix

[2019-06-18 14:36] jranson commented on #225
The root issue was that, in the change to `/api/v1/query=up` as the param for health, I sophomorically set that entire string to the `url.Path` instead of setting `url.Path = /api/v1/query` and `url.RawQuery = query=up`. We've PR'ed this minor fix separately for Beta8 releasing today, while a configurable hc url will be part of Beta9.

[2019-06-18 14:43] jranson commented on #36
We will be bumping this feature back to v1.1, since the OpenTelemetry libraries are currently barely emergent. We could adopt one of the now-sunsetting solutions from which OpenTelemetry is based and switch later, but that would be a lot of work to introduce a new feature. Targeting late Q3.

[2019-06-18 21:40] #73 closed

[2019-06-18 21:40] #151 closed

[2019-06-18 21:40] #208 closed

[2019-06-18 21:40] #217 closed

[2019-06-18 21:40] #219 closed

[2019-06-18 21:40] #225 closed

[2019-06-18 21:40] #226 closed

[2019-06-18 21:40] #228 closed

[2019-06-18 21:40] #237 closed

[2019-06-18 21:40] #238 closed

[2019-06-18 23:20] jranson commented on #235
@sandyteenan I took a look at this. It looks like you simply need to put a trailing `/` on the URL for it to work (with a caveat). I can adjust the final "catch-all" handler for each origin from `/{origin_name}/` to just `/{origin_name}` to catch the no-trailing-slash condition.

The behavior for requesting the root URL ("/") is to 302-Redirect you to the query/graph interface.

The caveat here is

[2019-06-19 03:20] jranson commented on #239
That definitely sounds interesting! We've been intentionally placing things deemed worthy of import by other projects into `pkg`, with the criteria of being simple, useful, portable and unique; and keeping the currently-less-sharable stuff in `internal`. With 1.0, the intent is to make things as generic, yet customizable, as possible for the existing users and developers. So those exposed packages

[2019-06-19 03:21] #214 closed

[2019-06-19 13:27] bradleyhession1 opened #241 "Add warning for potential Redis misconfigurations"
Hi - I've set trickster to cache to redis, I'm using beta 8 (but have tried multiple versions). Trickster seems to connect fine and even tries to store data:

--
time=2019-06-19T12:56:57.101537228Z app=trickster caller=proxy/engines/cache.go:71 level=debug event="compressing cached data" cacheKey=thanos-query:9090.0a9332e4c9046613a62ba8a6e4a2e78a.sz
time=2019-06-19T12:56:57.101899271Z app=trickste

[2019-06-19 13:51] jranson commented on #241
@bradleyhession1 thanks for this report. Strangely beta8 passed all the unit tests which verifies redis caching works with miniredis.  I will run some manual tests today and try to root cause this.  have you tried any previous betas and found success (that will help me pinpoint where it stopped working)

[2019-06-19 14:12] bradleyhession1 commented on #241
Hi @jranson We had some success on past Betas - I believe we had redis working shortly before https://github.com/Comcast/trickster/pull/220 was merged.

[2019-06-19 14:49] jtorkkel opened #242 "Ability to cache older-but-frequently-accessed data"
Setting value_retention_factor = 1536 to conf file has no impact. Only responses that have less than default 1024 sample are fully cached.
Config file is correctly used because I can switch to filesystem caching.

This is issue when Grafana Prometheus datasource use Resolution 1/1. It result small possible range_query "step", sample per pixel. For example querying 24h data the step is set to 60s -

[2019-06-19 14:56] jranson commented on #242
@jtorkkel thanks for the report - would you mind copy/pasting the relevant config snippet? That would help me to reproduce, thanks again!

[2019-06-19 15:06] jranson commented on #241
One more ask - can you drop in your config snippet here that is not working?

[2019-06-19 15:37] bradleyhession1 commented on #241
Sure thing... attached below:

`[caches]
        [caches.default]
        type = "redis"
        timeseries_ttl_secs = 21600
        fastforward_ttl_secs = 15
        object_ttl_secs = 30
        compression = true
            [caches.default.index]
            reap_interval_secs = 3
            flush_interval_secs = 5
            max_size_bytes = 536870912
            max_size_backoff_bytes = 167

[2019-06-19 16:21] bradleyhession1 commented on #241
I believe i've figured it out - endpoints: should be endpoint for standard - Interesting how it doesn't fatal in or log anything in debug mode. Maybe we just need some better error checking - since it looked like it was working in this case.

[2019-06-19 17:26] jtorkkel commented on #242
I renamed https://github.com/Comcast/trickster/blob/next/cmd/trickster/conf/example.conf to trickster.conf and pass the file to docker as shown in your example.
I have modified three lines:

[caches]
    [caches.default]
    type = 'filesystem' # change from memory

[origins]
    host = '10.x.y.z:19090'.   # point to host where Prometheus is running

    value_retention_factor = 1536 # Remove comm

[2019-06-19 17:30] jranson commented on #241
Great to hear it's working, and that Trickster is bringing value to your deployments. Thanks for trying it out, especially the betas, and giving us the great feedback.

As you probably figured out, we intentionally used `endpoint` for the clients that require a single  'string' endpoint and `endpoints` for the ones that require a \[ 'list' \] of one or more endpoints. I can definitely send a `WARN

[2019-06-19 17:34] jranson commented on #242
Thanks! I will take a look at this more today with those instructions to repro. I'm having a 'works on my machine' situation but will get to the bottom of it.

[2019-06-19 17:43] jtorkkel commented on #242
If you test with Prometheus graph directly you need to set step manually to 60 for 1d/86400s. Prometheus Graph probably divide screen width with 5 or six to calculate how many sample to show, and then divide range with that number resulting step between 300-400 for 86400s (response has ~500 sample).
Grafana use configured min steps if resolution is 1/1 and unfortunately can not adjust step intelli

[2019-06-20 13:19] jtorkkel commented on #242
I tested this more and cannot find any error from my configuration.
I also tried larger 3072 value because actually Prometheus is returning 2881 sample when Grafana query Graph which is screen width. Still only 1024 datapoints are cached. I also took logs which also indicate that only 1024 out of 1441 are cached.

Seems that Grafana use step size which result samples ScreenResolution < samples < 2

[2019-06-20 13:37] jtorkkel opened #243 "No histogram for cache hit, cache_status="" for unknown cache (rmiss) type and trickster_proxy_requests_total duplicate to trickster_proxy_request_duration_seconds_count"
1. Cache hit does not expose histogram, would be useful to see how fast response from hit are queried. Some large hit might take long time.
2. It is unnecessary to have separate total counter because histogram expose also _count. Only histogram should be used
3. cache_status="" reported in metrics, maybe it should be "rmiss"

### debug log for complex query "hit" taking ~1.5 second based on logs.

[2019-06-20 14:16] jranson commented on #242
@jtorkkel can you compare the clock time of your Prometheus and Trickster instances to make sure they are closely synced? You should be able to run something like `curl -s --head http://PROMETHEUS:9090/api/v1/query?query=up | grep 'Date:' && curl -s --head http://TRICKSTER:9090/v1/query?query=up | grep 'Date:'`

[2019-06-21 14:28] jtorkkel commented on #242
Will check on Monday. Trickster, Prometheus and Grafana are on same Linux host so time should match. Trickster is docker, Prometheus and Grafana not.  Browser using Grafana is different timezone, 1h difference as seen when converting the time. Trickster tz in utc+1, mine utc+2.

I checked the query start and end time and range was always 86400s.

In phit partial fetch was 8h44min. This hints that

[2019-06-23 19:49] jtorkkel commented on #242
I run the curl command and output was:
Date: Sun, 23 Jun 2019 15:45:22 GMT
Date: Sun, 23 Jun 2019 15:45:22 GMT

I made testing with "memory" cache and did not find any changes in behavior compared to filesystem.

I also tested different queries using setting value_retention_factor=3072 and made strange findings which relates to query range and/or system time and Trickster capability to update the

[2019-06-24 13:01] jtorkkel commented on #242
I made more testing by disabling compression and disabling fast_forward_disable but no help. I was suspecting that system cache data correctly but incorrectly made unnecessary fast forward but that was not the case.

I changed back to value_retention_factor = 1024 and checked the the content of the non compressed /tmp/trickster/keyfile.
I noticed that only cache contained only 126 entries out of 2

[2019-06-24 21:31] jranson commented on #242
@jtorkkel I think I understand your situation now, and believe Trickster is working as (currently) designed, but I propose a feature update below to make it work according to your expectations.

It is true that the Value Retention Factor helps determine what data is stored in cached for a given query. However the VRF does not guarantee that you will always have that number of timestamps in cache,

[2019-06-25 00:20] jranson commented on #243
@jtorkkel Thanks for this feedback, I will add \#1 and take a look at \#3. If @SuperQ agrees with #2, I am happy to take it out and avoid redundancy :)

[2019-06-25 00:42] jranson commented on #243
@jtorkkel for # 3 (cache_status=""), this label accounts for proxy-only requests and so there actually is no cache status. As you accurately implied, this includes time series requests with time ranges that fully predate oldest cacheable timestamp for the query, since they are punted to the proxy. (But that is different from actual range misses, where there is data for the query in the cache, but

[2019-06-25 05:04] jranson commented on #242
@jtorkkel I have evaluated the option of allowing the storage of up to `ValueRetentionFactor` timestamps in a query's cache object, regardless of age, and here is what i have found.

There would be a bit of a performance hit to operate in this mode, because it would mean that _every_ time series request, regardless of age, would then require polling the cache to determine how many free timestamps

[2019-06-25 14:05] jtorkkel commented on #242
I did not know how cache was expected to work and I did not realize it was optimize to work with recent data only. I use 1d time range because then you see more clearly the cache benefit. Now when I tested more I noticed that even with settings of 16384 caching did not work for "this day last week". When you explained how it works it is not expected to work either.

I agree that main benefit of th

[2019-06-25 14:54] jranson commented on #242
@jtorkkel the size-based retention policy will use a Least-Recently-Used methodology for evicting time ranges from a query's cache object to remain at or under the Value Retention Factor. So you would be able to approximate the behavior of having both cache types by using the size-based policy and doubling the Value Retention Factor. The older values that are frequently accessed, as well as any re

[2019-06-25 16:03] jtorkkel commented on #242
Make sense. We have duplicate Prometheus / Grafana setup so we can have current policy in one and new policy in another to measure  the difference.

[2019-07-11 14:51] carlosjgp opened #246 "Update configuration example (At least the redis bit)"
Thanks to #241 issue I realised why my `redis` configuration was not working

This is by using K8s deployment provided on master

[code]

[2019-07-11 15:36] jranson commented on #246
@carlosjgp  I am not sure I understand your issue - are you able to reply with the tree URL to the file that needs an update?  Just FYI, since you mention `master` -- the `master` branch's example files are for the 0.1.x release of Trickster. I see your pasted config is for 1.0. Trickster 1.0 is in beta, and everything (code, examples, documentation) is currently in the `next` branch. If you are u

[2019-07-12 15:14] jranson commented on #241
@bradleyhession1 The recommended warnings are added to the `next` codebase and will be available in Beta 9 which we are targeting for Monday. Thanks for your patience!

[2019-07-12 20:32] carlosjgp commented on #246
Hi @jranson, after reviewing the K8s manifests I copied from `master` branch I realised that it was using the docker image tagged as `latest`. That made me check docker hub and I realised that I was unaware of which release I was using. Then I checked the branches and tags and the configuration file is substantially different, so trying to configure Trickster using the K8s manifests from `master`

[2019-07-12 20:32] #246 closed

[2019-07-19 19:52] jranson commented on #243
@jtorkkel Beta 9 includes this feature request, see the release notes for details. Please let us know how this works out for you. Thanks!

[2019-07-19 19:53] jranson commented on #242
@jtorkkel Beta 9 includes this feature request, see the release notes for details. Please let us know how this works out for you. Thanks!

[2019-07-19 19:54] jranson commented on #241
@bradleyhession1  A few days late, but we've added the warnings as suggested here. Please let me know if it works as you expect and we'll close out the issue.

[2019-07-21 18:45] jranson commented on #6
Implemented in #252 pending PR merge.

[2019-07-22 07:32] SuperQ commented on #243
For metrics like cache hits/misses, we usually suggest having spearate total counters like `misses_total` and `requests_total`. This allows for easy things like `requests_total - misses_total` or `misses_total / requests_total`.

[2019-07-22 08:31] carlosjgp opened #253 "Redis configuration is not caching any request"
After configuring Trcikster to use AWS ElastiCache/Redis 5.0.4, deployed as Master + 2 Replicas and without cluster mode enabled.

Using Trickster 1.0-beta8 image

Deployed on K8s with 3 replicas and exposing Trickester through an Ingress to allow Grafana to use it as Datasource.

Every time Grafana runs a query Trickster misses the cache, even copying the request from Grafana and running it with

[2019-07-22 08:50] jranson commented on #253
hey @cpower, would you be interested in giving me an assist with debugging trickster backed by redis elasticache?

[2019-07-22 09:40] carlosjgp commented on #253
Re tested it with `1.0-beta9` since `8` is now not available on DockerHub

Still not working

[2019-07-22 09:43] carlosjgp commented on #253
These are the logs generated when I curl trickster API
[code]

It works when I switch to `memory`

[2019-07-22 11:02] bradleyhession1 commented on #241
Hi @jranson it seems like the latest beta has broken redis now - using the same configuration as previous (which was working in beta8).

I forgot to update this issue but I did test with the Cluster and Sentinel clients on beta8 and all was good.

[2019-07-23 16:46] jtorkkel commented on #243
I would like to see non empty cache_status like ”none”. Would help in dashboard creation because empty label would not be visible.

I tried to validate added histogram/bucket for “hit” in “lru” mode. Seems that only
path=“/api/v1/query_range” is counted but not path=“/api/v1/query” or path=“/api/v1/series” are not. They were counted in “_total”.

[2019-07-23 17:12] jtorkkel commented on #242
I did quick testing in new “lru” mode and cache correctly had 100% hit in second query in multiple range_queries (24h range) whereas default mode did not cache it.

Could you clarify which cache parameter impact “lru” mode.
- timeseries_ttl_secs
- object_ttl_secs
- timeseries_retention_factor
I have increased two first one but not sure how they should impact.

I think in our config timeseries_rete

[2019-07-24 02:41] cpower commented on #253
I was able to get trickster:1.0-beta9 running in a container on an EC2 instance to work with Prometheus as the origin and AWS Elasticache Redis as the cache

Trickster - v1.0-beta9
Prometheus - 2.11.1

Both running via a Docker compose file on an EC2 instance in AWS

AWS Elasticache Redis - v5.0.4
Master + 2 Replicas

[2019-07-24 02:42] cpower commented on #253
@carlosjgp - were you deploying Redis via Elasticache in AWS or did you deploy Redis into a K8S cluster?

[2019-07-24 02:46] cpower commented on #241
@bradleyhession1 - just tested the 1.0-beta9 release with an AWS Elasticache Redis instance in standard non cluster mode with Prometheus as the origin and it seemed to be working for me.

[2019-07-24 02:55] cpower commented on #241
Here's the Redis configuration:

`[caches]

    [caches.default]
    type = 'redis'
    compression = true
    timeseries_ttl_secs = 21600
    fastforward_ttl_secs = 15
    object_ttl_secs = 30

        [caches.default.index]
        reap_interval_secs = 3
        flush_interval_secs = 5
        max_size_bytes = 536870912
        max_size_backoff_bytes = 16777216
        max_size_objects = 0

[2019-07-24 02:57] cpower commented on #253
Here's the Trickster Redis configuration tested against the AWS Elasticache Redis instance:

[code]

[2019-07-24 03:37] cpower commented on #241
Attempted to test Redis endpoint warnings, specifying client.type=redis and using endpoints instead of endpoint does not result in a warning, rather it fails silently and defaults back to memory.

[2019-07-24 07:41] carlosjgp commented on #253
Thanks for the quick response @cpower, I've noticed that your configuration has 2 "undocumented" properties under `[caches.default.redis]`.
- `client_type`
- `sentinel_master`
They are not present in the configuration example provided on the `v1.09-beta9` branch/tag
https://github.com/Comcast/trickster/blob/v1.09-beta9/deploy/kube/configmap.yaml#L71-L79

Answering to your question, I'm deploying i

[2019-07-25 19:12] jtorkkel commented on #242
/trickster/config report timeseries_retention_factor correctly.

[2019-07-25 19:45] jtorkkel opened #255 "range_query not returning response when end time in future - grafana "today", "this week" etc."
query_range based on Grafana query inspector sometimes does not return any response (trickster in recent and lru mode) when end time is in future.

Grafana has number of quick ranges which have end time in future like
- today, end time is next day 00:00:00, start time today 00:00:00
- this week, end time is next week first day 00:00:00, start time first day 00:00:00

Example of working "today" que

[2019-07-26 16:58] yosifkit opened #256 "1.0.9-beta9 inconsistently/incorrectly tagged"
It is currently tagged as `1.09-beta9` where the attached assets are named for `1.0.9` and previous releases all use three part version number with optional pre-release qualifier.

https://github.com/Comcast/trickster/tags

[2019-08-03 07:43] infa-ddeore opened #257 "helm chart's `readme` and `values.yaml` correction"
values.yaml and README.md: `image.tag` needs to be `0.1.10` since `0.1.7` tag doesn't exist

README.md: `persistentVolume.enabled` is `false` by default but README has it as `true`

[2019-08-06 22:47] jranson commented on #257
@infa-ddeore I am away on holiday with very little net access, but we will review this issue next week when I am back. Thank you for the report!

[2019-08-07 15:37] sandyteenan opened #258 "Sharing the cache across user sessions?"
We're testing for the sharing of the cache across different user browser sessions - we see that if I run a grafana query there is an improvement the second time onwards, but if I pass that same url to a colleague, they get same results - slow on the first execution, faster on the second execution onwards.

Tested on 0.1.7, 0.1.10 and 1.0.9. Memory cache. Running with multiple origins.

Can / shoul

[2019-08-07 15:52] sandyteenan commented on #258
`[main]
# instance_id allows you to run multiple trickster processes on the same host and log to separate files
# Useful for baremetal, not so much for elastic deployments, so only uncomment if you really need it
# default is 0, which means ignored
#instance_id = 0

# Configuration options for the Proxy Server
[proxy_server]
# listen_port defines the port on which Trickster's Proxy server listens.

[2019-08-08 09:07] jranson commented on #258
@sandyteenan yes, the cache is shared across browser sessions. The first load can be slow for several reasons. For example, the other user may need to download or revalidate all the other pieces of (assuming) the Grafana application itself - javascript, css, etc. Separately, Trickster uses a unique cache record per `step` parameter on the Prometheus query. This way, we don't have to iterate the ca

[2019-08-08 09:19] jranson commented on #258
btw, another condition we have encountered on slow first loads is when you have a very large number of `/api/v1/series` requests to populate dashboard $variable values. These are unfortunately not cacheable and can cause the initial loads for each user to be a bit slow, while the subsequent timeseries refreshes are very fast. You can check for this on your local browser by turning on browser the d

[2019-08-08 09:57] sandyteenan commented on #258
Thanks for the clarification @jranson! I've already tuned the variable population queries, which becomes even more important now I know they're not cacheable.

The `step` logic makes sense, so I'll verify the conditions across user sessions and it's something we'll need to be aware of.

Thanks again for the quick responses!

[2019-08-08 15:21] aiman-alsari commented on #60
Hi, I realise this is an old issue but it's happening to me now. I can hit refresh over and over and get differing bar widths on each refresh. I'm on Grafana 6.2.5.

My suspicion is that it is something to do with the "Step boundary normalization" stuff, as the width in grafana is based off the aggregation period, which shouldn't be changing on each refresh. If I take trickster out of the equation

[2019-08-09 08:26] aiman-alsari commented on #60
After some testing, I've found that the issue is still reproducible, but only on large time ranges > 12 hours. At a lower time interval the graphs look identical to vanilla prometheus.

[2019-08-09 08:40] aiman-alsari commented on #60
Disabling the fast-forward feature has no impact

[2019-08-14 15:53] LimitlessEarth opened #260 "Include Vendor libraries in Repo"
The vendored dependancies should be included in the github repo.

This will have a couple of quality of life improvements:
- Faster CI - no redownloading on every run
- Faster Docker build - no redownloading on every build in the 2-step Dockerfile
- etc.

Most of the projects I have worked on do it and I have not had issue. Prometheus does it as well.
https://github.com/prometheus/prometheus/tree/

[2019-08-15 23:42] jranson commented on #260
If there are no objections from the community,  I am fine with this. Is this just a matter of removing `vendor` from `.gitignore` and `git add`'ing?

[2019-08-16 18:27] jranson commented on #239
@jacksontj there is some interest in giving this a look by a few other stakeholders from the Trickster community. @dmitsh and @alfred-landrum from Sysdig demonstrated to me a prom-specific working POC of an importable Trickster package; it looks like a really good starting point for this feature.

One of the things I am concerned about getting right is ensuring that we make make the package soluti

[2019-08-16 23:26] dmitsh commented on #239
I've posted a PR #262 with our proposed approach. This PR incorporates @jranson idea of origin-type-specific libraries.

[2019-08-20 03:55] jacksontj commented on #239
My initial thinking is that approach #2 would be beneficial -- as each system has their own client types etc -- so it would be nice if they mirrored the upstreams. Then trickster the binary could use those same libraries itself (meaning the http -> library translation is done presumably in *another* library).

[2019-08-21 15:41] jacksontj commented on #260
@jranson yes, thats it :)

Also as an added benefit you avoid any possibility of an upstream tag/branch change breaking your builds -- which is nice (I have had that issue happen a couple of times before).

[2019-08-30 09:32] vitovitolo opened #271 "Query errors from Grafana using Trickster 1.0.9-beta"
We've recently upgrade trickster from `0.1.10` to `1.0.9-beta` and we are experienced some errors while loading Grafana dashboards. Errors are intermittent, sometimes it works perfect.

Our setup is built on k8s:
- prometheus Statefulset with 1 replica and a cloud storage volume + Service
- trickster Statefulset with 5 replicas each with a cloud storage volume using BoltDB + Service
- Ingress expo

[2019-08-30 10:52] pcarranza commented on #271
`trickster_proxy_failed_connections_total` is a red herring, that means that no connection failed to be created, not that requests are not failing.

In fact the interesting part is that we keep getting more and more active connections, that is: things are not timing out somewhere, thus requests lock forever.

What I find concerning is that we did not see a single error reported in the logs.

(disc

[2019-09-01 20:19] tehlers320 opened #272 "Trickster with influxdb prometheus endpoint needs post_uri"
There needs to be a post_uri addon unless i mis-understand how this functions.

The schema for using the influxdb URL  build into influxdb is:

`http://myinflux.server.com:8086/api/v1/prom/read?db=somedatabase&u=someuser&p=somepassword`

The only way i could do this was using nginx.

[2019-09-06 13:07] sylr commented on #256
Yes, @jranson, please be consisten.

Also, please respect the SemVer spec and do not increment patch version level for beta versions.

Please see: https://semver.org/#spec-item-9

[2019-09-06 13:28] sylr opened #273 "Panic"
Found on next branch @ 47bb9ff

[code]

[2019-09-06 15:34] #260 closed

[2019-09-06 15:34] jranson commented on #260
Merged #269 to `next`

[2019-09-07 03:24] jranson commented on #271
@vitovitolo I noticed you are using `bbolt` (awesome!). Investigating this, I found a few race conditions in both bbolt and memory cache types that can deadlock the mutex on certain URLs, causing them to hang and time out until trickster is bounced. I have submitted patches (PRs #274 and #277). This could possibly be the root cause for your issue, and possibly not. But if you don't identify a sepa

[2019-09-07 21:45] jranson commented on #273
I have this one patched up and will be part of the next beta release. Thanks for reporting it!

[2019-09-13 12:22] ti-mo commented on #216
Hi @jranson, sorry to revive this; is it possible that this patch didn't make it into 0.1.10? I'm still seeing this error. Running the following build:
[code]

[2019-09-17 13:05] jranson commented on #216
@ti-mo it should have made it in but I will crawl through the code and see what might have happened. If you are able to capture this, would you mind dropping a full snippet of response headers on here (and in particular, the `X-Trickster-Result` header. Thanks!

[2019-09-21 17:24] ti-mo commented on #216
Hi @jranson

We're hitting Trickster through an `ingress-nginx` ingress controller, so client -> ingress is h/2. Shouldn't make a difference in terms of response headers, though. These are the response headers as seen on the browser:

[code]

`X-Trickster-Result` is not present in the response, as it was introduced in `1.0.6-beta6` according to the changelog.

[2019-09-21 18:20] ti-mo commented on #60
Adding another data point to this issue, also seems related to using fast-forward.
https://github.com/Comcast/trickster/issues/92

Trickster version: `0.1.10`
Grafana version: `6.3.5`

I'm using a heatmap to visualize a histogram over time, and the following graphical error occurs:

![image](https://user-images.githubusercontent.com/3214460/65377366-32b8c900-dcab-11e9-98af-e053ae49aacb.png)

The b

[2019-09-24 21:27] TimSimmons opened #281 "question re: Trickster expected performance"
:wave: hello! I finally had a second to try out Trickster and I wanted to give a snapshot of my experience and see if it lined up with your expectations. I pulled the latest beta
[code]
and loaded up an instance with the following config
[code]

I then made a bigish query directly to the Prometheus instance
[code]
It took ~8 seconds and returned ~160 MB of data

Then I made the same query to trick

[2019-09-26 19:42] jranson commented on #281
@TimSimmons thanks for this report. I'm on business travel and haven't had a chance to look at this, but should get to it over the next couple of days. Sorry for the delay. This is definitely not the behavior or performance we'd hope to see, so we'll get to the bottom of it.

[2019-09-27 01:40] jranson commented on #281
@TimSimmons, i took a look at this and am not seeing this behavior (caveat: I am testing everything locally on my mac via the darwin binary, and via localhost rather than an actual multi-host routed network; however network locale should not affect the trickster memory internals when processing data).

Your example query is exactly 24h3s in range size. Generally speaking, querying for 1 day's wort

[2019-09-27 13:26] jranson commented on #281
Ah - i see that the `up` query will return one series per target, so that 25K would be per series. Doing the math, it looks like you might have about 6500 targets in prom, does that sound right?  I am able to reproduce this with promsim with those conditions (`up` @ 6500 targets, 1d, 1m resolution) and will take a look today. Thanks for this!

[2019-09-27 15:03] TimSimmons commented on #281
Yup `6910` timeseries as of right now! Thanks for looking into it. The reason I chose this as a sample is I routinely have issues with folks querying lots of timeseries like this, especially with histogram metrics, so I wanted to see how it'd work caching large result sets like this. Excited to see what you find out :eyes:

[2019-09-27 15:10] jranson commented on #281
I think the basic issue is that all of trickster's data merging is being done by iterating the series in a serial fashion; I will get that bit moved into a goroutine and see how that works out. We should have beta 10 / GA RC1 cut next week, and that will include the optimization.

[2019-09-27 15:13] TimSimmons commented on #281
That makes sense, in my case at least I'm ok with Trickster using a ton of CPU/RAM as it'd be a completely separate component from everything else. To answer your question from earlier the topology on this particular request was
DigitalOcean Droplet -> HW Kubernetes Pod (nginx proxy) -> DigitalOcean Droplet, all in the same datacenter.

[2019-09-28 23:04] jranson opened #283 "update makefile to bake build time, commit id, etc., into binary"
as the release manager for trickster, i would like to have the trickster binary's build time and commit id baked into the binary when i run `make build`

[2019-09-28 23:09] jranson opened #284 "use io stream when proxying"
as an end user of trickster, I would like for requests that are proxied to origin to use an iostream to serve the content to the downstream client in real time, rather than waiting for the entire object to download into trickster's memory before beginning to service it to the end user. one consideration for this is, if the object is cacheable, to be sure to tee the stream so it can be written to t

[2019-09-28 23:17] jranson opened #285 "frontend tls support"
as an end user, I would like for trickster to support TLS natively on the frontend (facing clients) without the need for a sidecar. This should include providing trickster, on a per-origin-config basis, with the path to an Intermediate/Chain Certificate Authority file; a Certificate file; a Certificate Key file; and any other necessary configurations to implement this feature.

[2019-09-28 23:19] jranson opened #286 "frontend http 2.0 support"
i would like for trickster to incorporate basic http 2.0 support . As http 2.0 mandates tls, this feature is dependent on #285.

[2019-10-01 04:46] pavan-kalyan commented on #283
by baking the build time and commit ID into the binary, do you mean using ldflags to assign the respective variables in main.go from the makefile (as suggested here https://stackoverflow.com/questions/11354518/application-auto-build-versioning) ?

[2019-10-01 04:46] pavan-kalyan commented on #283
I would like to work on this issue, if that's okay ?

[2019-10-01 15:15] jranson commented on #283
@pavan-kalyan I have assigned the issue to you, thanks! Note that you'll want to base your changes off of the `next` branch and PR against that. I do not have a preferred implementation, so long as it is done similarly to how other projects in this space also do it (e.g., Prometheus).  Thanks again for contributing and participating in Hacktoberfest!

[2019-10-01 17:49] jranson opened #287 "refactor origin clients and interface"
As a developer for Trickster, the interface and its implementations for its various Origin types is not ideal.

For example, in the timeseries origins like Prometheus, the parts that are http specific (registering route paths and what handlers should work for them, the health check response, etc) reside in the same class as the parts that are data payload specific (merging and sorting timeseries d

[2019-10-01 18:25] jranson opened #288 "support Range requests"
As an end user of Trickster, I would like for it to be able to fully support `Range` requests, as described in [RFC 7233, 3.1](https://tools.ietf.org/html/rfc7233#section-3.1).

Implications for the server involve supporting all of the accompanying request and response headers (206 Partial Content, 416 Range Not Satisfiable, Content-Range response, If-Range, etc.).

Implications for the cache invo

[2019-10-01 18:35] jranson opened #289 "make better use of consts and iota enumerations"
Lots of places in the codebase still pass around and compare strings, some number-based iota enumerations would be more ideal. We've started some work on this in `next` (see [TimeseriesEvictionMethod](https://github.com/Comcast/trickster/blob/next/internal/config/timeseries_eviction_method.go)) and in pr #280, but could use some help going through the `next` codebase and cleaning up these issues a

[2019-10-01 18:48] jranson opened #290 "1.0 documentation review"
As we are ramping up for the 1.0 release, which includes numerous changes and updates, the documentation may be out of date in some areas and missing descriptions of new features in others. The assignee for this issue would compare all of the comments and values in the [example config file](https://github.com/Comcast/trickster/blob/next/cmd/trickster/conf/example.conf) in `next` with the [various

[2019-10-01 19:00] jranson opened #291 "better handling on failed upstream partial requests"
when the delta proxy cache determines which ranges to request from the origin, if those ranges are separated by any amount of time, the origin will make multiple parallel requests to get the separate ranges. If one of those requests fails, the result to the client can be unpredictable based on which request finished first and what its response was, and the order that the were reconstituted. we sho

[2019-10-01 21:43] jranson commented on #36
Revisiting this one. Not sure why it didn't occur to me already, but tracing should certainly be something we implement as an interface, or some other mechanism that makes the underlying tracing implementation (if any) configurable by the Trickster operator, similar to how we already do for Cache type selection.

[2019-10-02 13:30] Flamingo09 commented on #289
Hey @jranson , can you assign me this issue.

[2019-10-02 13:33] jranson commented on #289
All set! Thanks for your help!

[2019-10-02 13:50] jranson commented on #283
@pavan-kalyan it looks like someone might have beaten you to this one (see PR #292), sorry about that. If you would like to provide a review to that PR, that would help me out a lot, and you'll get contributor credit.

[2019-10-02 16:49] arsh-7 commented on #290
Hi @jranson i would like to help with documentation for 1.0

[2019-10-02 22:55] jranson commented on #290
Sounds great, thank you! Please hit me up with any questions.

[2019-10-03 07:08] pavan-kalyan commented on #283
Thanks for the opportunity, i have reviewed.

[2019-10-03 11:16] u5surf commented on #291
For example, if `getMatrixFromPrometheus` returns err, what you wanna said, it does `r.Writer.Header().Set(“foo”,  originParams.Encode())`, don’t you?
https://github.com/Comcast/trickster/blob/67cf188025f01e4e516ac032ec43d62760d52ad7/handlers.go#L750-L757

[2019-10-11 09:38] jranson commented on #283
Implemented in #295; Thanks @pavan-kalyan!

[2019-10-11 09:38] #283 closed

[2019-10-18 13:35] jranson commented on #284
@LimitlessEarth be sure to consider that other clients may request the same object as the original requester nearly simultaneously, either before the first byte is returned from the origin, or while the bytes are still in flight from the origin (e.g., many dashboards refreshing at roughly the same time). These late joiners should be able to be served any already-downloaded bytes, and then pick up

[2019-10-24 08:30] Nokius commented on #33
Found out about your project today and in your talk during CloudNativeCon last year you mentionted HA avalibility. This should be the ticket for the topic.

Is it planed to add the feature, or does anyone use the trickster with the metioned and promessing sounding project Promxy?

Thanks for you work and shraing it with others, I appreciated this!

[2019-10-24 09:33] SuperQ commented on #33
We use Thanos Query proxy to handle our HA setup.

[2019-10-24 11:09] Nokius commented on #33
@SuperQ chould I use the Thanos Query proxy without the other componense of Thanos?

[2019-10-24 11:12] SuperQ commented on #33
You need the sidecars and query only. You don't need the other components. You can also run the sidecars without any external storage. Just as an aggregation proxy.

[2019-10-24 12:05] Nokius commented on #33
+-----------+
                                | trickster |
                                +-----+-----+
                                      |
                            +---------v-+---------+
                            | thanos|io | Querier |
                            +---------+-+---------+
                                      |
                                      |
+-----------------

[2019-10-24 14:31] jacksontj commented on #33
Author of [promxy](https://github.com/jacksontj/promxy) here -- there are quite a few people that are using promxy + trickster successfully in production. Promxy is simply an aggregating proxy of other prometheus API endpoints, so it doesn't require additional sidecars etc. In addition in can actually aggregate other compatible services (such as [VictoriaMetrics](https://github.com/VictoriaMetrics

[2019-10-24 18:28] Nokius commented on #33
@jacksontj Thanks for joining the discussion. Thanks for you comment I had the idea first to use promxy as it less complex as thanos. I didn't found any documentation in your repo for the setup of promxy, somehow /wiki is pointing to the repo itself again.

Yeah the VictoriaMetrics part sounds great too, I wanna go use this in a second step after having a HA prometheus and quicker querying

[2019-10-25 16:40] ghost opened #317 "Trickster on helm hub"
Hi,

Do you think if it's possible to publish the helm manifests to [helm hub](https://hub.helm.sh/) ?
It would be awesome to facilitate the integration in kubernetes environment.

[2019-10-25 17:42] jranson commented on #317
@damienhb That's a great idea. We are almost ready to feature lock the upcoming 1.0 release (which will mean no more breaking configmap changes, etc). As soon as we have that piece in place, we'll get the finalized 1.0 helm chart published over on helm hub. I will follow up on this ticket once we're all ready.

[2019-10-26 04:18] jacksontj commented on #33
@Nokius there isn't a lot of detailed documentation largely because its very familiar configuration (although if you have some free time and want to contribute some better docs I'm all for it :) ) -- the easiest way is to take a look at the example config (https://github.com/jacksontj/promxy/blob/master/cmd/promxy/config.yaml) which basically docs everything. If you run into any questions/comments

[2019-10-26 07:42] Nokius commented on #33
@jacksontj  Thanks I will look into it hopefully next week over next have to check how busy I'm.
Sure, as I have to document anyway my work I could may get it out for public.

Thanks guys for the great feedback!

[2019-10-28 11:11] Dudesons commented on #317
@jranson thank you for the information there is a way to keep in touch of  the GA of the 1.0 release ?

[2019-10-28 11:33] jranson commented on #317
Absolutely! Under the "Watch" option in the upper right navigation, you can choose "Releases Only" to GItHub and email notifications when new releases are cut. We'll also follow up on this ticket for you!

[2019-11-05 09:15] JonasDeGendt opened #323 "Grafana Dashboard failing upon changing timerange"
Going to open up an issue for this on the Grafana repository as well, but this seems like a good place to try and get some insights as well.

Thank you for Trickster, looking really cool!

I've implemented Trickster on Kubernetes and set it up in between a Grafana instance and a Thanos-querier (also a Prometheus proxy, esssentially).

I've converted a dashboard to use Trickster as a datasource, an

[2019-11-05 12:03] jranson commented on #323
Hi! Thanks for trying out Trickster. Would you be able to post some logs from your Trickster container(s)?  An easy way to distill it down would be to expand into aa single view on your graph and then do the refresh, so thta only a couple of elements are refreshed instead of all of your dashboard charts. That should help us diagnose. Thanks!

[2019-11-05 12:22] JonasDeGendt commented on #323
Absolutely, here's the logs of refreshing a linegraph that fetches 6 hours worth of metrics on CPU usage. Every other refresh resulted in the error.

[code]

[2019-11-11 14:02] chris-vest commented on #253
@jranson @cpower Any updates on this ticket? Do you need any more information?

[2019-11-11 15:36] raspberrypython commented on #323
Ive been seeing the same issue but only with Firefox, other browsers seem fine.
When I change the grafana data source to access prometheus directly (so not using Trickster) the 'e.data.data is undefined' error does not manifest itself.
Firefox Nightly 72.0a1
Grafana: 6.4.1
Trickster: 0.1.10

[2019-11-11 15:39] raspberrypython commented on #323
Here is one of the errors from the browser's console if it helps:

`Panel data error: TypeError: "e.data.data is undefined"
    transform result_transformer.ts:10
    processResult datasource.ts:173
    g datasource.ts:253
    RxJS 7
        _next
        next
        _next
        next
        _next
        next
        o
    Angular 26
        f
        f
        $digest
        $apply
        r

[2019-11-12 11:36] JonasDeGendt commented on #323
@raspberrypython, yep, looks like it's indeed on Firefox's end. Thank you!

[2019-11-12 11:36] #323 closed

[2019-11-13 12:15] elcomtik opened #329 "Support for configuring Redis key prefix for each origin"
I'm interested in HA trickster setup with Redis cache backend like it's mentioned in https://github.com/Comcast/trickster/issues/214

I would like to have redundant thanos setup instead of one prometheus instance, so I would appreciate possibility to configure key prefix instead of using origin(prometheus) hostname.

I didn't find such option in 1.09, would such solution be acceptable by project?

[2019-11-14 05:48] jranson commented on #329
@elcomtik Thanks for the feedback! I think it would be a great addition to allow for a custom cache key prefix, and should be fairly simple. We will implement this soon and update this issue when it is ready in beta 10.

[2019-11-14 21:52] elcomtik commented on #329
Thanks for quick response a implementing it so quickly. I will wait for release and then test it in my setup.

[2019-11-19 21:51] ninjaslothx opened #337 "Possible to read metrics in outside max_value_age_sec?"
Is it possible to have trickster read in metrics further back in time than the cache will allow...but not cache?

Example we have metrics going back several years.
90% of our dashboard usage is for 1week~. Trickster cache is great for this and is set to this size.
However for us to query data outside this period we have to setup a datasource variable in grafana to change to "long term" bypassing t

[2019-11-19 21:53] jranson commented on #337
hi @ninjaslothx what version of Trickster do you use? The latest stable release (0.1.x) as well as the 1.0 beta (and several releases prior) work the way you are asking without needing additional data sources.

[2019-11-30 09:39] jorkzijlstra opened #340 "Support for Arm64v8"
Are there any plans for a arm64v8 based docker image?

Regards, Jork

[2019-12-02 14:46] jranson commented on #340
@jorkzijlstra we did not have any plans to do that, but it's pretty simple, so we'll get it wired up for the next release!

[2019-12-02 15:00] jranson commented on #253
@chris-vest Hi Chris, I am still not able to reproduce this, however, we have put a lot of work into cleaning up the kube configmap and helm charts to include all possible values for the next beta release and addressed a lot of other small issues. It should be out in the next couple of days as we get the last few things fixed up. If you wouldn't mind testing then, that might make a difference for

[2019-12-02 15:04] jranson commented on #290
Docs are all cleaned up in `next`

[2019-12-02 15:04] #290 closed

[2019-12-02 15:05] jranson commented on #289
we have this mostly cleaned up in `next` at this point. still some minor nits but things are largely in a good place with this, so closing

[2019-12-02 15:05] #289 closed

[2019-12-03 01:55] softwareklinic opened #341 "Support for Elasticsearch queries from Grafana"
Would Trickster work for elasticsearch queries as well

[2019-12-03 02:01] jranson commented on #341
@softwareklinic thanks for the question and for your interest in Trickster. I hope you don't mind that I mark this as a duplicate and close, because we actually have an issue open for ElasticSearch support -- #7. So the short answer is, not yet, but we hope to at some point in 2020. I will update #7 when we have more info to share.

[2019-12-03 02:01] #341 closed

[2019-12-03 02:12] softwareklinic commented on #7
Thank you - will keep an eye on this thread.,.,.

[2019-12-09 10:01] chris-vest commented on #253
@jranson No problem! We'll test out the latest version when it's released and go from there.

[2019-12-11 22:51] ninjasloth22 commented on #337
Currently on 0.1.10
Is there a setting required to enable this? I am still getting only metrics up to the cache age.

![image](https://user-images.githubusercontent.com/14971594/70667287-581b0900-1cd5-11ea-8ecd-48b9d698b1e9.png)

My config looks like the following:
`[main]

[proxy_server]

[cache]
cache_type = 'filesystem'
    [cache.filesystem]
    cache_path = '/opt/data/trickster/cache'

[origi

[2019-12-18 13:21] IKSIN commented on #143
Hello! Have you any updates?

[2019-12-19 04:49] jranson commented on #143
Hi @IKSIN, so we have merged a large chunk of this issue into `next`, which means it will be in the next beta release. Beta 10 is currently overdue, as we are making some final internal quality fixes, but we should have it released by the end of the year. Thanks for checking, we're really excited to share this with everyone!

[2019-12-19 09:05] IKSIN commented on #143
@jranson Thanks) And what about handling cache-control headers from trickster backend in delta-proxy? We need to no caching policy for some cases. We use `thanos`, and i want to add `no-cache` headers on partial response.

[2019-12-20 20:00] guygrigsby commented on #36
@jranson Is this the one you want me to take a look at? I'll get started right away.

[2019-12-20 20:51] jranson commented on #36
:-D Yes please!

[2019-12-22 23:01] guygrigsby commented on #36
I have been doing some research and playing with Open Telemetry in Trickster and here are my thoughts.

#### Interfacing
You mentioned above that we create our own interface and provide a reference for wrapping others, ex OpenTelemetry, within our interface. I suggest that we should use the OpenTelemetry API spec directly. Rather than adapting the OpenTelemetry API to our interface, we should adap

[2020-01-01 17:45] guygrigsby commented on #36
@jranson and I spoke offline about my recommendations above and we agreed this is a good place for 1.x. If anyone else has thoughts I would love to hear them.

[2020-01-01 22:04] jranson commented on #36
Thanks for looking through this and putting some ideas down.

I think a single high level span, to start, will be fine for this as a first cut in 1.0, and we can add more as we refine the capability. But, we will eventually want these spans, at a minimum: upstream request time; fast forward request time; upstream revalidation request time; cache query time (also recording the query result in the s

[2020-01-01 23:05] guygrigsby commented on #36
Awesome thanks for the feedback. I got excited about being able see inside Trickster and started adding spans today so we will surely have more than one. I am shooting for everything you listed above.

- [x] upstream request time
- [ ] fast forward request time
- [ ] upstream revalidation request time
- [x] cache query time (also recording the query result in the span)
- [ ]  cache write time (rec

[2020-01-17 22:17] jranson commented on #340
@jorkzijlstra we are not able to get this into the current release (coming out in the next 30 minutes). We are working on getting Trickster into the "official" docker hub images, and when we do that, the process for multiple, per-architecture images is different. So as to avoid any confusion, we want to wait until the official process is completed. It should be in the next few weeks. Hope that is

[2020-01-17 22:46] jranson commented on #329
@elcomtik this feature has been included in Beta 10, which is now live! Thank you for the feedback, and please re-open the issue i fit does not meet your needs.

[2020-01-17 22:46] #329 closed

[2020-01-17 22:48] jranson commented on #288
This feature is included in 1.0 Beta 10. Thank you @srijeet0406 for helping with this contribution, greatly appreciated!

[2020-01-17 22:48] #288 closed

[2020-01-17 22:49] #287 closed

[2020-01-17 22:49] #285 closed

[2020-01-17 22:51] jranson commented on #284
This truly awesome, best-in-class enhancement is released as part of 1.0 Beta 10. Thank you @LimitlessEarth

[2020-01-17 22:51] #284 closed

[2020-01-17 22:54] jranson commented on #281
Hey Tim!  Sorry for taking longer than expected on this one. We have released 1.0 Beta 10 which should fully resolve this particular bottleneck (as far as I was able to test and confirm per your instructions). If you wouldn't mind giving it a try, we'd love to know how things are working out for you. And be sure to take a look at all the new goodies that are in this release too! Thanks again for t

[2020-01-17 22:54] #281 closed

[2020-01-17 22:55] jranson commented on #273
@sylr beta10 is released with the fix for this panic. Thanks again for your patience!

[2020-01-17 22:55] #273 closed

[2020-01-17 22:56] jranson commented on #256
@sylr @yosifkit thank you for this report, with the latest release we have adopted 1.0.0 as the semantic version per your feedback.

[2020-01-17 22:56] #256 closed

[2020-01-17 22:57] jranson commented on #243
These changes are all fully released in beta10. Thank you for the report!

[2020-01-17 22:57] #243 closed

[2020-01-17 22:57] #241 closed

[2020-01-17 22:59] #233 closed

[2020-01-17 22:59] #223 closed

[2020-01-17 23:02] jranson commented on #143
@IKSIN we finally have that new release out, and it does support the proper observance of all cache control headers, including in the timeseries delta proxy. So any headers you send down from Thanos should be respected. Please reopen if you have any issues with this. Thank you again!

[2020-01-17 23:02] #143 closed

[2020-01-17 23:03] jranson commented on #123
Clickhouse support is available in the 1.0 Beta 10 release.

[2020-01-17 23:03] #123 closed

[2020-01-17 23:03] #109 closed

[2020-01-17 23:04] jranson commented on #6
Circonus IRONdb support is now avaiable in Trickster 1.0 Beta 10. Thanks to @kamelkev and @dhaifley for this great contribution!

[2020-01-17 23:04] #6 closed

[2020-01-17 23:07] jranson commented on #167
The final design of 1.0 did not require this feature, thus the issue is closed.

[2020-01-17 23:07] #167 closed

[2020-01-17 23:09] jranson commented on #82
I believe this one is completely resolved now, please reopen if 1.0 Beta10 does not resolve. All of the provided URLs in this issue are confirmed to be compatible with Trickster.

[2020-01-17 23:09] #82 closed

[2020-01-17 23:14] jranson commented on #234
@jacksontj    check out the sweet new Cache Control abilities in Trickster 1.0 Beta 10! This includes support for ETag <-> If-None-Match and Last-Modified/Expires <-> If-Modified-Since revalidations between Trickster and the Origin (be it Promxy or anything else). I will keep this issue open for now for further discussion, but hopefully this will meet your needs. Thanks again for the detailed requ

[2020-01-17 23:21] jranson commented on #271
@vitovitolo @pcarranza @ti-mo we have released Beta10 which includes the deadlock patches for BBolt and many other fixes. Would you mind trying this release to see if it mitigates your issue? Sorry for the delay on getting this patch into a release. We would love to know if this was the root cause for you and that it is all fixed up. I will leave this issue open until you provide a confirmation. T

[2020-01-17 23:25] jranson commented on #258
@sandyteenan just wanted to check and see if this issue is satisfactorily resolved for you. We'll close the issue next week if there is no more activity. Thanks for trying Trickster and giving us great feedback. Hope it's still working well for you!

[2020-01-17 23:30] jranson commented on #337
Hi @ninjaslothx, would you mind trying this on the 1.0 Beta 10 that was just released (or beta 9 if you're not feeling adventurous). As we are primarily focused on 1.0 in advance of the GA release (hopefully next month!), and as of today the 1.0.x codebase is merged to `master`, so the older 0.1.x codebase can no longer be maintained.

[2020-01-18 00:02] jranson commented on #239
@jacksontj @dmitsh @alfred-landrum we have _finally_ merged `next` into `master` (I have rebased the POC PR to `master`).  While most of the packages still reside under `internal`, the good news is that a major overhaul of the 1.0 codebase over the past few months means that every part of the application now uses the basic http handler components (*http.Request, http.ResponseWriter), and the speci

[2020-01-18 01:40] jranson opened #346 "Trickster Kubernetes Ingress Controller"
Now that we have a full reverse proxy cache, we would like to offer Trickster as a Kube Ingress Controller. Not a lot of detail to this particular issue just yet, but I will populate it as I do more research on this topic.

[2020-01-18 01:44] jranson opened #347 "Use RWMutex for Cache Synchronization"
We currently use a standard sync.Mutex for locking cache objects. This means that if multiple users are requesting the same cached object at the same time, they will be served in the waitlist sequence rather than concurrently. The desired behavior would be for global read access to a cache object unless a write is required, with an exclusive lock being required just for the duration of the write o

[2020-01-18 01:49] jranson opened #348 "Implement Common Time Series Format"
We currently have custom delta proxy cache code per time series origin, for doing things like merging, sorting, and cropping time series objects. Each origin type currently requires about 1000 lines of code to accomplish this, and it turns out that the code for each of the upstream origins is quite similar for these operations. I believe we can implement a common time series format that is capable

[2020-01-18 02:07] jranson opened #349 "HTTP Compliance / Benchmarking Suite"
We would like to create a standalone compliance and performance benchmarking suite which works generically with any HTTP proxy. The idea would be that a client and server application would orchestrate and monitor HTTP requests that are routed through the interim proxy in order to time and test various requests for specification compliance and performance bottlenecks in the proxy. Solutions such as

[2020-01-18 10:39] jorkzijlstra commented on #340
Hi @jranson no problem, take as much as you need.

[2020-01-19 23:05] kamelkev commented on #6
@jranson wonderful 👏 🎉

[2020-01-21 10:09] agoloAbbas opened #352 "issues with helm deployment"
I faced an issue yesterday with Chart 1.1.2, it seems the 1.0-beta chaged to be copy of 1.0-beta10 which caused trickster to fail to start after updating my kubernetes cluster nodes and pulling the docker image. then I tried to update to latest chart.

for 1.3.0 also some values in values.yaml is duplicated like service section which cause an issue with config file having an empty listen_port

als

[2020-01-21 16:28] sandyteenan commented on #258
Yes, I'm very happy with how it's working thanks @jranson !

[2020-01-21 16:51] #258 closed

[2020-01-21 16:53] jranson commented on #352
Thanks for this report. I will give this a quick look and update the helm chart and follow up shortly. Sorry for the issues!

[2020-01-21 19:18] ninjaslothx commented on #337
Hey @jranson, I upgraded to Beta 10. This has indeed resolved the issue!
I have however run into a new issue where after the first query or two are run it fails to run any new queries.
The only fix is to stop the service and delete the cache. However the same scenario happens next run.
If I try to restart the service without deleting the cache I get this.

`panic: runtime error: invalid memory add

[2020-01-21 19:21] jranson commented on #337
Thanks for this new report. Panics are always bad and a bug!  We'll try to reproduce this, root cause it, and get it fixed up for you.  Would you mind trying with a memory cache or bbolt? that way we can isolate quickly whether it's related to the filesystem cache type or something higher up in the chain. Thanks again!

[2020-01-21 20:40] ninjaslothx commented on #337
Memory cache works without issue. It would certainly appear to be related to the filesystem cache.
Let me know if you would like me to run any more tests!

[2020-02-04 14:41] IKSIN opened #355 "404 on any request to v1.0.0-beta10 via HTTP proxy"
Hello! We use http proxy to k8s ingress, therefore, when I try to use prometheus.example.org (DNS record see to nginx) they resolved to proxy IP. Trickster proxy use IP address to send requests to prometheuses?

[2020-02-04 14:48] IKSIN commented on #355
Sorry, all is well

[2020-02-06 05:38] jranson commented on #352
@agoloAbbas these issue should be resolved in the latest release (Trickster 1.0.0-rc1, Chart 1.4.0). Please let use know if everything looks good for you now! Thank you again!

[2020-02-06 05:39] jranson commented on #337
@ninjasloth22 the filesystem and bbolt panics should now be resolved in the latest release, which is 1.0.0-rc1. Please let me know if you find everything to be fixed up and we'll close out this issue. Thanks again for the report!

[2020-02-06 05:41] jranson commented on #36
This one is finally released, thanks to @guygrigsby for the excellent work!  More refinements around the content and number of spans will come, but we have a really good start now on the core spans required to bring tracing visibility to the entire application.

[2020-02-06 05:41] #36 closed

[2020-02-06 05:44] jranson commented on #257
Hi @infa-ddeore - we have finally been able to circle back and get the helm items cleaned up. We've removed the values table from the README and now refer users to the values.yaml file, which is exhaustively documented inline. We've also fixed up the image.tag to be correct and working. Thanks for this report, and sorry the issue has lingered for several months.

[2020-02-06 05:44] #257 closed

[2020-02-06 05:46] jranson commented on #317
Hey @Dudesons we finally have the helm charts in tip top shape. We will proceed with the HelmHub submission sometime next week and follow up again on this ticket when that process is completed. Thanks again for the suggestion!

[2020-02-06 07:40] kogent commented on #253
I experienced this as well in beta9.  After adapting to the new configuration this is working for me in beta10.

[2020-02-06 07:42] Dudesons commented on #317
Hi @jranson , oki good news 😄
Since they announce helm 3, the helm hub will not be maintained (and will be marked as obsolete https://github.com/helm/charts/#status-of-the-project).
So maybe the chart have to be hosted in a github page like for [jaeger](https://github.com/jaegertracing/helm-charts/tree/gh-pages).

[2020-02-07 18:49] carlosjgp commented on #253
I'm afraid we are moving away from trickster in favour of cortex ui which has now been decoupled and is compatible with any PromQL client.

You can close this ticket if you want

[2020-02-07 19:09] jranson commented on #253
Carlos, we're sorry to see you go! Thanks for trying out Trickster, and please check in on the project periodically to see if there's anything new that can fit in your stack. The current RC1 has a lot of new features that we hope to encourage new users and contributors who can make the project even better. And we'd love for you to submit any new feature requests that might help us be more relevant

[2020-02-07 19:10] jranson commented on #253
@kogent could you confirm that this is resolved for you in RC1? Thanks very much for trying this out. We've been trying to reproduce this in order to troubleshoot further, but have been unable.

[2020-02-07 20:05] jranson commented on #272
Hi @tehlers320 - unfortunately we weren't quite able to get the prom endpoint into 1.0, but I will have it ready to go in the 1.2 release slated for Q2. This feature requires being able to decouple some internals of the the Trickster codebase, which will be completed when we implement the Common Time Series Format (#348) in Trickster 1.2. So I will slate this issue that release, and you can keep a

[2020-02-07 20:42] jranson commented on #272
BTW, an example of appending an authorization header to Influxdb:

[code]

That's a lot of TOML, and we are looking at some point in the future joining the YAML revolution (and supporting both formats for a period of transition), which will greatly simplify managing path-level behavior customizations.

[2020-02-07 21:51] kogent commented on #253
I was mistaken about it working in beta10.  The key for cache type changed and it was silently using memory instead of redis.  So this is still broken in beta10.  I'll try out rc1 and get back to you.

[2020-02-07 21:54] jranson opened #360 "New Origin Type: Graphite"
We would like to support Graphite as a time series database when being used to front a dashboard.

[2020-02-07 22:00] jranson commented on #360
Note, this is dependent upon #348, as I'd like to avoid supporting another time series origin type until we have the common internal format.

[2020-02-07 22:10] jranson commented on #253
@kogent Thanks for checking, hopefully we can get to the bottom of this. If it is still an issue, we would like to get on a call and work through this together if you are available and interested. My contact information is on my github profile. Thank you!

[2020-02-09 23:27] jranson commented on #355
@IKSIN Thanks for this report. We have isolated the root cause of this and a patch will be included in 1.0-rc2.

[2020-02-09 23:50] jranson commented on #355
Will reopen this until we have the release cut.

[2020-02-10 04:55] jranson commented on #355
@IKSIN we have this all fixed up in 1.0.0-rc2, thanks again!

[2020-02-10 04:55] #355 closed

[2020-02-10 04:57] jranson commented on #340
@jorkzijlstra we have this ready to go in 1.0.0-rc2, image is available for arm64v8 at `tricksterio/trickster:arm64v8-1.0`. Thanks for the great feature request!

[2020-02-10 04:57] #340 closed

[2020-02-10 05:00] jranson commented on #253
@kogent I think we have this one figured out and baked the fix into `1.0.0-rc2`, so hopefully you've not tried rc1 yet and wouldn't mind confirming on rc2 for us. I have confirmed locally and running in ec2 with elasticache that everything looks good. Thanks for your help!

[2020-02-10 20:08] jranson commented on #91
All of the reports for this issue are related to the legacy codebase and releases which, as of today, are no longer supported. If you are experiencing this issue in Trickster 1.0, please open a new issue and we will take a fresh look at it.

[2020-02-10 20:08] #91 closed

[2020-02-10 20:09] jranson commented on #128
All of the reports for this issue are related to the legacy codebase and releases which, as of today, are no longer supported. If you are experiencing this issue in Trickster 1.0, let's open a new issue.

[2020-02-10 20:09] #128 closed

[2020-02-10 20:12] jranson commented on #271
Closing for now, as mentioned above we have made patches that hopefully (uncertain without more info from the reporter) correct this issue. As of now, we cannot reproduce following the mentioned fixes. If the GA release of Trickster 1.0 still exhibits this problem, please re-open the issue and we'll take another look

[2020-02-10 20:12] #271 closed

[2020-02-10 20:14] jranson commented on #216
@ti-mo wanted to check in on this issue and see if 1) are you still having issues upgrading to a more recent beta, and 2) if so, are you still experiencing this issue? Thanks for letting us know. We will close the issue next week if there is no additional activity.

[2020-02-10 20:16] jranson commented on #234
1.0 is now GA and we have not received additional activity on this issue since our previous comments. I will close this for now, but welcome it to be reopened if there are any issues with the cache control features of Trickster 1.0.

[2020-02-10 20:16] #234 closed

[2020-02-11 00:08] jranson opened #367 "Origin-level Authentication Interface"
We'd like to incorporate an interface for configuring authentication between Trickster and upstream origins. Out of the box this should support Basic Authorization and hopefully other popular implementations. This ideally would be a package we can import with a little wiring.

[2020-02-12 10:35] agoloAbbas commented on #352
now it fails to pull 1.0.9-beta9
[code]
why was this image deleted? I don't get it. It is so hard to keep using this solution

[2020-02-12 14:51] nicopapayann commented on #352
Same problem here. Image deleted and now i have some issues with the chart. Could you reupload the image please?

[2020-02-12 14:52] jranson commented on #352
@agoloAbbas Thanks for following up, and for sticking with the project during the beta process. I know that it required some effort to keep up as we released new versions, and we really appreciate it.

To your question about the image deletion: now that the 1.0 release is live, the beta images have been removed, so as to avoid users installing now-unsupported builds and filing issues against them.

[2020-02-12 14:53] jranson commented on #352
Nico, can you please check your chart version? The image tag in the latest helm chart is `1.0`

[2020-02-12 15:16] agoloAbbas commented on #352
simply I didn't migrate to it cuz I didn't find fixes for issues I reported for example right now.
for example:-
ingress.enabled=true would fail the deployment

[code]

[2020-02-12 15:20] nicopapayann commented on #352
there are errors like @agoloAbbas  mentions, i try to patch the templates directory and still get more errors after, i agree with him deleting images without testing first.

[2020-02-12 15:28] jranson commented on #352
Thanks for the additional information. We do test the charts with a `helm lint` and a `helm template`, which chart version `1.4.0` passed before it was released. I'm sorry to hear there are some errors despite those tests. Are there other validation tests that you can recommend we add? I am unfortunately just one person trying very hard to maintain this project and I am not a helm expert, so my ap

[2020-02-12 17:05] agoloAbbas commented on #352
I am willing to help you with helm but I would recommend to not deprecate 0.9 image as it would cause issue with anyone currently using the chart.
I rebuilt the image localy and pushed to `agoloabdelsalam/trickster:v1.09-beta9` if anyone want to use it. I will create a pr soon to fix current deployment.

I myself test helm with testing different scenarios y enabled different keys like ingress..etc

[2020-02-12 17:16] jranson commented on #352
Thanks for the help! Is there an issue with the `1.0` image itself? I can run it in docker with no issues. It would be preferable to not use images of old beta software if the only issues are with the actual chart. I believe then that you should be able to take your working chart and update the image tag to `1.0` to have it work, while we work out the chart issues directly (irrespective of the ima

[2020-02-12 19:46] jranson commented on #352
@agoloAbbas and @nicopapayann it looks like removing the duplicate `service` section (which does not appear to be checked by `helm lint` and `helm template`) didn't quite make it into a PR, and that was my mistake - I was sure we'd taken care of it. We have a PR open to address that issue now.

Also, our gracious kube/helm reviewer (@LimitlessEarth) will be standing up a kube namespace in our test

[2020-02-12 20:30] Abdelsalam-Abbas commented on #352
running old chart with new image would not work as it seems health probe endpoint has changed . so updating image tag within same chart is not a solution. pod keep restarting due to health probe failure.

[2020-02-13 08:21] LimitlessEarth commented on #352
https://github.com/Comcast/trickster/pull/370
FYI

[2020-02-13 14:36] shaikatz opened #372 "Trickster with PVC filesystem cache doesn't proxy after pod-recreation"
Hi,

While using trickster with PVC and filesystem cache, when the pod is recreated (in case of node scale-down or pod eviction) the new pod doesn't answer to any queries although it still creates new cache files in the cache folder.

I can't see anything relevant in the pod debug logs.

[2020-02-13 14:42] nicopapayann commented on #352
thanks guys, i found a couple of problems and fixed them but there was one i really had trouble found a fix, i will wait for the merge.

[2020-02-13 18:33] LimitlessEarth commented on #372
What version of the chart are you using? Sorry so much of this is in flux.

To make sure I understand, the pod runs and is writing stuff out onto the PVC but it isn't giving you data back? If so what sort of response do you get?

[2020-02-13 19:45] jranson commented on #352
Hi everyone, we have merged #370 into master, which is chart version 1.4.1. It is compatible with the 1.0 GA release and the release candidates, but will not work with the beta binaries prior to beta 10. Thanks for your patience while we got everything sorted out with the charts, and please let us know if there are any additional issues and we'll get them worked out as soon as possible.

[2020-02-13 23:53] jranson commented on #317
@Dudesons it looks like Helm Hub is not going away. What is going away is the `stable` and other repositories that are maintained directly by helm. So yeah - we will get our helm charts into a github pages like Jaeger _and_ get that listed on to Helm Hub. It looks like there is a little bit more process involved (getting the chart into a tarball, associating a SHA has with it, etc), that will requ

[2020-02-14 03:24] Dudesons commented on #317
Ok, awesome and thank you for your work :smiley:

[2020-02-14 12:52] shaikatz commented on #372
I'm using the chart from my helm fixes PR.
I don't think it's related to the setup, the behavior is that on the first lunch of the pod when the PVC is empty, everything is working correctly.
After the pod being recreated, it uses the same PVC, but now the requests just getting timed out.
You can try to reproduce that easily.

[2020-02-16 13:31] jranson opened #375 "Change Trickster Default Frontend Port to 8480"
Currently Trickster 1.0 will listen, by default, on port 9090, since Trickster was originally a Prometheus accelerator.

Since Trickster 1.0 functions as a general HTTP Reverse Proxy Cache, and also accelerates several other time series databases (in addition to Prometheus), all of which listen on different ports, it does not make sense to use 9090 by default anymore.

With the Trickster 1.1 relea

[2020-02-17 21:48] #253 closed

[2020-02-18 01:17] chicknsoup opened #376 "Logging not working when starting trickster as systemd service"
When running as commandline: /opt/trickster/trickster -config /opt/trickster/trickster.conf the logging function is working properly. But when configuring trickster to run as systemd service, no log written to file.

Systemd configuration:

[code]

[2020-02-18 01:43] jranson commented on #376
Thanks for this report. We'll take a look, but initial thoughts are to make sure you have the right ownership and access permissions on your log file (looks like it should be owned by `bigmon` user in the provided setup). If you are able to run it from the command line, is it possible that is being done with a different user account? If so, that would likely prevent the `bigmon` user from having w

[2020-02-18 03:45] chicknsoup commented on #376
The process being executed with `bigmon` user, and the logging part works well with that, so no permissions issue here.

[2020-02-18 11:03] mehyedes commented on #33
We are currently using HAProxy between trickster and 2 prometheus nodes. It would automatically make the switch the backup node if the primary node goes down.
I has been working fine for us for a while
[code]

[2020-02-18 22:43] kogent commented on #253
i deployed 1.0.1 and this is working for me..

[2020-02-19 16:43] jacksontj commented on #33
I have used a similar setup (haproxy + prometheus) before. Just as a heads up, the main problem you'll run into is if a prometheus node misses some scrapes (OOMs, restarts, updates, etc.) it'll have a "hole" in the metrics (and since they are separate nodes they'll each have different holes that won't fill). This was one of the driving reasons to create [promxy](https://github.com/jacksontj/promxy

[2020-02-19 21:24] jranson commented on #286
This may be as simple as adding `tlsConfig.NextProtos = []string{"h2"}` in main.go. We would need to verify that works, as well as ensure none of the header-dependent parts of Trickster are impacted by HTTP/2.0, where header names are lowercased.

[2020-02-20 02:17] jranson commented on #376
Thanks for the additional info! We are just getting started on restructuring the logging in #342 and will take a look at this as part of that effort.

[2020-02-20 15:52] mehyedes commented on #33
@jacksontj Absolutely :)
In our case, we can tolerate "holes" in our metrics, although that happens only rarely. But in other use cases, this might not be acceptable.

[2020-02-20 16:09] jranson commented on #33
Given the Promxy option (data redundancy), and the HA Proxy option (uptime only), does anyone object to closing this issue/question as sufficiently answered? Regarding the use of exportable packages, we are tracking this closely but separately with @jacksontj under #239.

[2020-02-20 16:14] jranson opened #377 "New Origin Type: Rules Router"
We would like to implement a generic rules router Origin Type that would allow the Trickster operator to selectively route requests between one or more configured origins (including other RR origin types) based on the properties of the incoming request as defined in the ruleset. For example, the username provided in the Authorization header, or a query parameter value, could be used to determine w

[2020-02-20 18:32] jranson commented on #337
As we think this is resolved, but havent gotten confirmation from the reporter after 2 weeks, i will close for now. Please re-open or file another issue if you have any more problems. thanks for the report!

[2020-02-20 18:32] #337 closed

[2020-02-22 11:20] jorkzijlstra commented on #340
I just gave it a go and it seems to work fine. Thnx for the quick work.

[2020-02-22 14:32] jranson commented on #340
Glad to hear it!  Once Docker has our Official Image pipeline completed, you'll be able to pull the main tag; it will determine your architecture and send down the appropriate image. We didn't get that quite set up in time for the 1.0 main release, but I will comment here when all of that is worked out!

[2020-02-23 16:38] jranson commented on #376
@chicknsoup taking a look now, i see there is a typo in your ExecStart (missing the t on trickster). Can you let me know if that makes a difference in your tests? I will test on our side with the typo corrected.

[2020-02-23 19:01] jranson commented on #376
@chicknsoup we are not able to reproduce. I have attached our test harness for this issue, for you you to try as well. It takes a system from fresh install (I used an fresh AWS EC2 instance w/ Amazon Linux 2 AMI) to running trickster via systemd and properly logging
. Please let us know what you find. This tarball includes the systemd service file you provided above - with the typo fixed - along w

[2020-02-25 00:51] chicknsoup commented on #376
@jranson Thanks. I have tried the service on another server and logging works as expected. So there could be something wrong with my old server, I think. We can close this for now.

[2020-02-25 00:53] #376 closed

[2020-02-25 12:42] d-ulyanov opened #381 "Impossible to use Jaeger Agent for traces delivery"
Hi, trickster team!

We use Jaeger Agents to deliver trace data.
Currently, it's impossible to use agents because Collector initialization is hardcoded in init of Jaeger exporter:
https://github.com/Comcast/trickster/blob/master/internal/util/tracing/tracer.go#L33

Also, the tracing configuration seems quite inflexible at the moment, I think we need to reconsider tracer initialization totally.

[2020-02-25 13:30] jranson commented on #381
@d-ulyanov thanks for the report. This is our first time working with Jaeger (we use a different tracing solution internally here @ Comcast) so I am sure there is lots of room for improvement. If you have any additional info or suggestions to make it flexible enough to work as desired for everyone, we'd love to hear them. We'll use this issue to track those improvements.  cc: @guygrigsby

[2020-02-25 14:45] guygrigsby commented on #381
@d-ulyanov Good feedback. Like James said, I haven't used much Jaeger. Let me see if I have the use case right. Rather than the Jaeger exporter, you would like to have Trickster report to the Jaeger agent running on a local host? Is it possible that the Trickster config could be set to export to the agent? Genuinely curious.

I'll start doing some research and see what I can find. Is there anythin

[2020-02-25 20:02] d-ulyanov commented on #381
https://github.com/open-telemetry/opentelemetry-go/blob/master/exporter/trace/jaeger/uploader.go#L25

Let's add some flexibility here, it would be nice to have additional factory for every provider, like

[code]

[2020-02-25 20:41] jranson commented on #381
We are doing this already (see https://github.com/Comcast/trickster/blob/master/internal/util/tracing/tracer.go#L21).  The StackDriver, I believe, was just made available for the golang libraries recently, and we'll get that support baked into a future release.

Are there any specific configurations or options that would improve the flexibility (e.g., some specific options that we have not impleme

[2020-02-25 20:56] d-ulyanov commented on #381
Any tracer has its own specific if configuration, e.g. Jaeger has the remote sampling strategy, there is a possibility to send trace data to collectors or agents, etc.

Currently, it's not possible to provide tracer-specific configuration to this func:
https://github.com/Comcast/trickster/blob/master/internal/util/tracing/tracer.go#L21

[2020-02-25 21:02] jranson commented on #381
I see, thanks! We do this with our caching layer already (e.g., options section for Redis vs bbolt, etc) and can do the same thing for Tracing providers. We will take a look @ the Jaeger options and make sure that they are exposed during Tracer registration, and work with you through this issue to make sure we have everything covered. We will slate this for the v1.1 release that should be about 3-

[2020-02-27 19:22] guygrigsby commented on #381
@jranson I'l start working in this.

[2020-02-27 22:27] jranson commented on #317
@Dudesons we have the helm repo all setup and ready to go, just like Jaeger, right here on GitHub. We totally copied their repo - thanks for the tip ;-)  You can check out [our new Helm project](https://github.com/tricksterproxy/helm-charts) and our new repository at https://helm.tricksterproxy.io

We will have the PR submitted for this to be on Helm Hub in the next 24 hours, and as soon as that i

[2020-02-27 23:52] jranson commented on #349
We have created a new project for this effort called [Benchster](https://github.com/tricksterproxy/benchster). We'll ber moving the `trickster` project from the `Comcast` org to the `tricksterproxy` org in the next few weeks, and at that time, will transfer this issue to the new project.

[2020-03-03 13:53] jranson commented on #317
We are live on helm hub at <https://hub.helm.sh/charts/trickster>   Thanks again for the suggestion!

[2020-03-03 13:53] #317 closed

[2020-03-07 00:21] codywilliams5 opened #383 "Windows release/support?"
Apologies if incorrect place for this, but any plans for Windows x64 release? Prometheus/loki/the rest have windows releases. Want to have trickster bad but its a Windows server only environment (I know...)

Or at least support for building on Windows? I tried setting up a go environment and building but eventually go starts complaining about *nix dependencies.

[2020-03-07 00:35] jranson commented on #383
@codywilliams5 this is the right place, and windows binaries are a great idea for future releases. There are currently 2 unix package dependencies for the filesystem cache, which are resulting in the compilation issues you encountered. Those should be fairly easy to swap out for something more generic, but it means we won't be able to provide windows binaries for past releases. Trickster v1.1 will

[2020-03-07 01:16] codywilliams5 commented on #383
@jranson What excellent news! As a potential new user past releases are no worry for us. I look forward to Trickster 1.1, and I'll put it through its paces in a significant production windows environment xD Thanks to you, your team, and Comcast for sharing what looks like a very excellent project.

[2020-03-07 03:48] jranson commented on #286
PR is #386

[2020-03-12 09:22] infa-kparida opened #388 "Readiness probe failed: Get /health: net/http: request canceled (Client.Timeout exceeded while awaiting headers)"
We observe 2 of our trickster PODs are going into not ready state as readiness probe failed and coming back to running state.This behaviour is getting repeated every ~5 mins interval
On checking the logs we see below.Any idea what is this error and how to resove

time=2020-03-12T08:15:20.46827093Z app=trickster caller=trickster/handlers.go:899 level=debug event="Compressing Cached Data" cacheKey=9

[2020-03-12 14:05] jranson commented on #388
@infa-kparida thanks for this report. From these log entries, it looks like you are running the legacy v0.1.x Trickster codebase. I would recommend trying v1.0.1 and seeing if the problem continues. There are a few changes to the configuration file, but should be straightforward since you are using the memory cache.

[2020-03-13 04:20] infa-ddeore opened #390 "what is rmiss, kmiss, phit?"
what is `rmiss`, `kmiss`, `phit` meaning in trickster metrics, this is from v0.1.x version metrics, not sure if newer version has something changed.

based on which value should we tweak trickster?

![image](https://user-images.githubusercontent.com/39782583/76589387-f48cbb80-650f-11ea-8a4e-09fd8a8780d5.png)

[2020-03-13 04:35] jranson commented on #390
You can read about these values in the [metrics](https://github.com/Comcast/trickster/blob/master/docs/metrics.md) documentation (they're largely unchanged from 0.1 to 1.0). Here is some more detail:

`kmiss` means that the query requested by the browser was not in the Trickster cache. Once a query is requested and then added to the cache, subsequent requests can have a `hit` meaning all of the ti

[2020-03-13 07:23] DirkFries opened #391 "How to avoid max open files limit"
Hi @all,

tonight trickster ran into an open files limit, which was configured to 32k files.

2020-03-13T01:16:10.910147+01:00 host trickster-1.0.1.linux-amd64[1416]: 2020/03/13 01:16:10 http: Accept error: accept tcp [::]:9092: accept4: too many open files; retrying in 1s

Of course one way to fix this is raising the open files limit, but I am wondering which configuration option of trickster aff

[2020-03-13 07:40] infa-ddeore commented on #390
thx for the explanation

[2020-03-13 07:40] #390 closed

[2020-03-13 07:48] infa-ddeore commented on #390
https://grafana.com/grafana/dashboards/5756 doesn't work with `1.0`, is there similar dashboard for newer trickster version?

[2020-03-13 17:45] jranson commented on #390
While we did not create this dashboard, we're working on an updated version that will work with v1.1, which should be released in the next 3 weeks.

[2020-03-13 22:41] jranson commented on #391
Thanks for the report! Can you let us know what type of cache you are using in your Trickster config?

[2020-03-15 00:12] rlex opened #393 "[Feature request] Config check"
Hello! I wrote [ansible role for trickster](https://github.com/rlex/ansible-role-trickster)

However, there is no config check command which will be really nice to check for errors in config before restarting (toml is very easy to fuck up)

It will be nice to have something like
[code]
Which returns either 0 if checks passed or anything but not 0 in case it fails.

[2020-03-15 00:40] jranson commented on #393
Thanks for your awesome extension to our project (!!) and for this great and timely request.

We definitely need to have a config check feature. While Trickster runs many checks at startup to validate the config, they are not quite in a state that is conducive for a dry-run-style config check. But they are close.

We are finally putting real work into #12 on in the v1.1.x branch, and definitely ne

[2020-03-15 00:51] rlex opened #394 "Error in example config"
Example config in sample_rate var (https://github.com/Comcast/trickster/blob/master/cmd/trickster/conf/example.conf#L452) states that
[code]
Can be used. However, if launched with that setting, trickster will crash due to failed conversion of int64 to go float.

Setting sample_rate to 1.0 allows trickster to launch.

[2020-03-15 01:02] jranson commented on #394
Thanks for this report, I just committed a change to master for the main example.conf. We'll push a corresponding helm/kube/etc update to those projects with the next release. I'll keep this issue open until those changes are also made.

[2020-03-16 07:46] DirkFries commented on #391
I am using

 cache_type = 'memory'

[2020-03-16 20:14] jwshieldsGetty commented on #391
Hello,

We are using Trickster at my organization;
Running version 1.0.1 - we've configured our instance of Trickster to use an in memory cache, and have given it a limit of 64k files

Lately, we've been running into this issue, where our instance soft-crashes and floods our logs with errors of "too many open files"

Is there any idea where this may be coming from or what can be done to mitigate/f

[2020-03-16 22:43] jranson commented on #391
Thanks for the additional info. Since this is happening on a memory cache, it would point to network connections causing the file descriptors to be exhausted, and the default (32k) should work just fine, so there is a possibility something is leaking. We'll take a look at the pprof diagnostics to try and isolate this and issue a patch.

[2020-03-16 23:19] jranson commented on #239
@jacksontj if you'd like to hit me up via email, we'd love to put some time on the calendar to talk about this issue and get it ready for release.

[2020-03-19 06:59] DirkFries commented on #391
Hi @all,

had the same error tonight and collected some infos before restarting

lsof showed 1028 opened files like this:

trickster 29131 trickster 1023u     IPv6           68885247      0t0      TCP host:XmlIpcRegSvc->nagios:35762 (ESTABLISHED)

So the assumption of  jranson  that the problem are not really open files but open network connections is true.

[2020-03-20 05:25] chicknsoup opened #397 "Unexpected upstream response"
I have to restart trickster once every week or so in order to normally query from Grafana. Checking the log file, there are only unexpected upstream response errors, nothing else.
Prometheus queries still ok, restarting trickster fixes  the problem.
[code]

[2020-03-20 10:42] ahurtaud opened #398 "Support POST with Prometheus Origin Type"
Hello,

I tried trickster 1.0.1 in between grafana and thanos-query (same prometheus HTTP API).
With thanos I am used to set the datasource with POST method because we sometimes have lots of label key + values and the 300chars limit of GET URL was reached.

However when switching to trickster, a cache key was stored but it never contain any data.
When I switch in grafana datasource the method to G

[2020-03-20 14:59] jranson commented on #397
Thanks for this report. In the next release, we'll enhance this log entry to include the full inbound (from grafana) client request, and Trickster outbound response (to prom), and the Prometheus full response. So that way, you can provide us with further detail that might point towards a root cause. Separately we will look at reproducing and root causing the behavior.

[2020-03-20 15:06] jranson commented on #352
All, closing this issue as there has been no more discussion since chart 1.4.1 was released. Note we have moved Trickster's Helm charts over to their own project at < https://github.com/tricksterproxy/helm-charts>, so please open any new issues discovered with the charts over there. The charts are now available as a chart repo, and you can find information about that at https://helm.tricksterproxy

[2020-03-20 15:06] #352 closed

[2020-03-20 17:42] jranson commented on #398
Hi, thanks so much for trying Trickster. You are right that we do not currently support the POST option in Grafana for Prometheus. And we certainly should, since it's part of the Prometheus HTTP API specification, and we definitely want to play nice with that pesky HTTP URL length specification. I will take a look at implementing this; we'll provide a patch in v1.1.0, which should be out within 2

[2020-03-25 20:14] jranson commented on #372
@shaikatz we have pushed release [v1.0.2](https://github.com/tricksterproxy/trickster/releases/tag/v1.0.2) that hopefully fully addresses this. If you wouldn't mind giving it a try and let us know if it resolves for you, that would be great. Thanks!

[2020-03-26 08:43] shaikatz commented on #372
Hi @jranson, unfortunately continue the adoption of trickster dropped in priority for me, so I won't be able to do it soon.
I'll close the issue and re-open if necessary.

[2020-03-26 08:43] #372 closed

[2020-03-30 09:23] jmichalek132 commented on #381
any progress on this?

[2020-03-30 14:03] jranson commented on #381
hey @jmichalek132 we are working this on the [v1.1.x](https://github.com/tricksterproxy/trickster/tree/v1.1.x/internal/util/tracing) branch, and Guy has PRed a few improvements in #382, but we still have more work to do. We're going to be just a few days late on the 1.1. release (I anticipate next Monday) that will include these updates.

[2020-03-30 14:36] jmichalek132 commented on #381
Great thanks for update and the quick reply.

[2020-04-04 02:53] chicknsoup commented on #397
Here's what i've found so far.
- Unexpected upstream response error has been fixed (by removing invalid queries from Grafana) --> This is not the culprit.
- Trickster stopped working after 7-10 days
- By the time it stopped, tcp connection started leaking (below is the number of open files - most of them are socket file). It kept leaking until I restarted trickster:
![image](https://user-images.gi

[2020-04-06 01:26] chicknsoup commented on #397
Today it happened again (after nearly 1day running). Checking the log I can only see these lines:
[code]

I don't see any `event="delta routine completed"`

[2020-04-09 10:15] vishnubraj opened #409 "prometheus quantile_over time slow responce"
I  just installed trickster between Grafana and Thanos server.
The quantile_over_time  requests takes longer time to execute in Thanos. but tricster also it takes the same amount of time. is it expected because the actual calculation runs on the Thanos server?

Thanos results:

[code]
Trickster result
[code]

[2020-04-09 13:10] jranson commented on #409
When you execute the query against Trickster the first time you can expect it to be about the same execution time as a direct query, as in your example, because no data for that query is in the Trickster cache. It is the second, third, and beyond queries via Trickster that should be very fast.

[2020-04-09 13:10] #409 closed

[2020-04-09 16:06] vishnubraj commented on #409
no @jranson  subsequent queries also taking the same time.. i did query multiple times and received the same response time.

[2020-04-09 16:08] vishnubraj commented on #409
i think this formuala in run in thanos.. and thanos collects data from sidecars and calculates the results and sends the result value so trickster doesnt know about the time series data. correct me if i am wrong.

Also i believe trickster cannot be installed between thanos querier and side car also .

[2020-04-10 10:44] chicknsoup commented on #397
I ended up using the previous version, and it seems working well so far (4 days)
https://github.com/tricksterproxy/trickster/releases/tag/v1.09-beta9

[2020-04-14 19:14] jranson commented on #391
@jwshieldsGetty @DirkFries Thanks for all the information on this - we have identified the mutex deadlock that is the root cause of this (causing subsequent inbound requests to hang while waiting on lock acquisition and exhausting the file descriptors), and will be issuing a patch in the next 24 hours.

[2020-04-14 19:37] jranson commented on #397
@chicknsoup thanks for this info on the file descriptors, after fixing your dashboard queries. Looks like this may now be a duplicate of #391, which we'll be issuing a patch version 1.0.4 shortly. Thanks for your information and helping us get to the bottom of it! (p.s. we will still include the additional detail for Unexpected Upstream Response in the 1.1 version)

[2020-04-16 13:16] jranson commented on #388
No activity after 30 days. Please reopen if you find that you are experiencing this issue in 1.x

[2020-04-16 13:16] #388 closed

[2020-04-16 14:51] jranson commented on #391
All we have cut release v1.0.3, which is the patch release to address this issue. We would really appreciate if you can try it out and report back if the issue has resolved for yo. Thanks again for the report and your patience while we got it worked out.

[2020-04-16 19:56] jwshieldsGetty commented on #391
Hello! I've rolled this change out to our environments this morning.
So far, around 4 hours in, things are holding stable, but I will report back here if I notice something.

Thank you all for the responsiveness and the fix on this!

[2020-04-24 20:30] WesleyDavid opened #414 "/metrics endpoint not exposing trickster_frontend*, trickster_cache*, or trickster_proxy* metrics"
I pulled the latest version of the Trickster image from Dockerhub as of this week:

[code]

Some hopefully pertinent notes about the environment is that the backend is: `origin_type = influxdb`. Trickster itself appears to be functioning great. I can query through to the origin and get time series back to clients. However I'd like to get many of the metrics mentioned here: https://github.com/trick

[2020-04-25 02:03] jranson commented on #414
Thanks for this report, i'll take a look shortly. It is possible we goofed something up in making sure those metrics are registered at startup.

[2020-04-26 03:23] WesleyDavid commented on #414
Thanks! I've been doing some troubleshooting and pulled the MacOS version of 1.0.3 and don't see any of the `trickster_*` metrics showing up at the `/metrics` path. I went back to MacOS release `v0.1.10 / 2019-05-02` and don't see any of the `trickster_*` metrics showing up either. For example, here's that set of metrics that I've got:

[code]
I went even further back to 0.1.7 from January 2019 an

[2020-04-26 13:27] jranson commented on #414
Yes, very strange, as I am not able to reproduce (and use these metrics for dashboards 24x7!). Nonetheless, we'll get to the bottom of it!

[2020-04-27 20:19] WesleyDavid commented on #414
I solved the mystery.

# TL;DR
PEBCAK

# TL;DR++
There is a `/metrics` page on the `[frontend] listen_port` as well as a `/metrics` on `[metrics] listen_port` The latter has the `trickster_*` metrics, the former does not.

# The Longer Story

Naturally, I configured Trickster with a `[frontend]` port (in my case `8086` for InfluxDB as a backend). I then used the default `8082` for the metrics endp

[2020-04-27 20:29] jranson commented on #414
Ah - I see what is happening. There actually is _not_ a metrics listener on the frontend listener. When you are requesting `/metrics` against the InfluxDB origin on `localhost:8086`, it is actually proxying back InfluxDB's metrics page to you, since anything under `/` is proxied by the InflxuDB accelerator. You can see the same page by requesting `/metrics` directly against InfluxDB without using

[2020-04-27 20:45] WesleyDavid commented on #414
Interesting. I had assumed that since my Trickster's origin section was set up to only respond to a `/query` path, that anything `/notquery` wouldn't be passed through, including `/metrics`*. At least, when attempting to access other routes through Trickster like `/write` I was not able to get a response. I never considered that the `/metrics` I was seeing was being pulled from the InfluxDB origin

[2020-04-27 21:13] jranson commented on #414
There are two paths configured by default (as shown in your `/trickster/config` blob above), one for `/` that proxies-only everything but /query (including /metrics, /write, etc) , and one for `/query` that handles the read-only metrics queries that are known to be cacheable. We could/should probably adjust the default paths for InfluxDB to only route known read-only endpoints, but you can also ad

[2020-04-28 21:44] WesleyDavid commented on #414
You've been immensely helpful. The project I'm working on is in a successful PoC stage and we're scooping up some good data as a result. Thanks so much!

[2020-04-28 21:44] #414 closed

[2020-05-06 13:26] genzgd opened #420 "make build fails on Mac"
I'm sure I'm doing something stupid, but `make_build` is failing after checking out the repo:

[code]

[2020-05-06 13:28] jranson commented on #420
Try running `go mod vendor` before running `make build`.

[2020-05-06 15:58] jranson commented on #393
hey @rlex - we have released Trickster 1.1.0-beta1, which includes the config check feature. We'd really love it if you gave it a try and provided any new feedback before we end the beta cycle. You can even download the binaries tarball from the [1.1.0-beta1 Release](https://github.com/tricksterproxy/trickster/releases/tag/v1.1.0-beta1) and run it locally against any config you have to test with.

[2020-05-06 16:17] jranson commented on #383
hey @codywilliams5  - sorry for the extended time on this one. We have released the first beta of Trickster v1.1, and have included our first ever win64 binary in the [v1.1.0-beta1 Release](https://github.com/tricksterproxy/trickster/releases/tag/v1.1.0-beta1) distribution. Two areas where we would love some feedback. First, does it work without any issues in your environment? And secondly, are th

[2020-05-06 16:54] jranson commented on #381
All, Trickster v1.1-beta1 is released, which includes the improvements to Tracing we've discussed, and some other great additions.

In addition to now supporting both Jaeger `collector` and `agent` (thanks Guy!), we added in support for providing authentication credentials when shipping traces to the trace collector, and also added support for Zipkin. In addition to these new options, the `[tracin

[2020-05-06 17:13] jranson commented on #239
All, as of today, `internal` is no more in `master`, and all packages are relocated to `pkg` for importation. The pre-release `v1.1.0-beta` should be usable in go.mod. We've love some feedback on how we can better structure the package layout to be more accessible and portable.

We will still provide more streamlined packages in v1.2 that are specifically meant to facilitate using Trickster as a r

[2020-05-08 02:19] codywilliams5 commented on #383
@jranson No need to apologize, its a crazy year and its open source anyway! Thank you for considering my request.

Configured Trickster today. Straight forward. No issues so far. Moved a few dashboards to it (apparently Grafana doesn't support easy source changes if you don't use variables to start so its a bit manual). I need to move a few more dashes to put it in some more production use. Had so

[2020-05-12 17:21] codywilliams5 opened #424 "Windows Default Paths Incorrect Bevahior"
Default paths are listed as:
	DefaultCachePath = `%TEMP%\trickster`
	DefaultConfigPath = `%APPDATA%\trickster\trickster.conf`

The %ENVVARIABLES% should resolve to local user directories. For example, the config path resolves in Windows to me as: C:\Users\MyUser\AppData\Roaming\trickster\trickster.conf.

Trickster does not do this. Trickster checks for a full path in its working directory. For exa

[2020-05-12 17:22] codywilliams5 commented on #383
@jranson Filed issue #424, the default paths are indeed not working right. I can't test the systems other then mem and filesys for you as I don't use them. Otherwise so far so good trickster holding up well in production as promcache.

[2020-05-13 03:02] jranson commented on #424
hey cody could you take a look at https://github.com/tricksterproxy/trickster/pull/426/files and elt me know if that looks alright. Since ENV is not being interpolated by default, I would prefer we just stick to the basic file glob support and default to `.` as you recommend. Thanks for the feedback!

[2020-05-15 11:25] jranson commented on #424
@codywilliams5 we went ahead and merged the previously-mentioned PR ^^^ so that we can get Beta3 out the door. If you can give that a try when you have a chance we'd really appreciate the help. Thanks again!

[2020-05-15 21:18] WesleyDavid opened #432 "1.1 beta 3: "fatal error: concurrent map iteration and map write""
Previously we were testing out 1.0.3, and I just dropped 1.1 beta 3 in, pulled fresh from Dockerhub:

[code]

We're using an in-memory cache. Our backend is InfluxDB 1.7. We're sending about 5,000 queries per minute through Trickster, and within just a minute or two of the container being up we're seeing:

[code]

...and the usual avalanche of about a million stack trace log lines after that. Our

[2020-05-15 21:32] jranson commented on #432
Thanks! It would be good to see something deeper in the stack trace to know what code lines triggered the panic (e.g., the last `tricksterproxy` packaged .go file line #, before the trace it drops into runtime/panic.go) so that we can know which map it is, and then implement the proper locking around it. Is that something you'd be able to dig out?

[2020-05-15 22:16] WesleyDavid opened #433 "v1.0.3: panic: interface conversion: interface {} is string, not float64"
**Trickster Version:** `1.0.3 buildInfo: 2020-04-16T14:37:36+0000 41fbf794f4457d1d6f3453ab480612d5eb10ae92 goVersion: go1.13.8 goArch: amd64`
**Cache kind:** in-memory.
**Backend:** InfluxDB 1.7.
**Host OS:** CoreOS / Linux
**Runtime:** Docker

There's a decent amount of traffic coming through the cluster 60 - 90 queries per second. We're mirroring some customer queries that would normally go stra

[2020-05-18 18:40] WesleyDavid commented on #433
I was able to grab another stack trace, this one seemingly more complete, for a similar panic that happened a little bit after the one that opened up this issue:

[code]

I looked around to see if there was any recorded interaction with the socket `104.198.20.141:60806`(that IP would be an AWS NLB that's in front of Trickster). I was hoping to find a record of what the HTTP payload was. The NLB lo

[2020-05-18 19:49] WesleyDavid commented on #432
Catching up on this, there were three `fatal error: concurrent map iteration and map write` panics in rapid succession. We manually restarted the process each time, five minutes or so of traffic passed through and then another panic hit. After the third panic in about 15 minutes we reverted back to 1.0.3.

I figured more data is best data so here are the full stack traces, each being 7,000 or so l

[2020-05-18 19:50] jranson commented on #432
Excellent, thanks!  We're taking a look!

[2020-05-18 19:52] jranson commented on #432
[code]
Looks like a concurrent map access on the request Headers, on all 3 traces. Should be an easy one to track down and fix up. We'll aim to have beta4 w/ this patch ready tomorrow.

[2020-05-19 22:20] jranson commented on #433
Thanks for sharing this panic. This is an interesting one because it means the data in the `time` field was not a float64 - or that we were looking at the wrong column for the timestamp for some reason. In beta4 (for which the [PR](https://github.com/tricksterproxy/trickster/pulls/434) should be approved in a bit), we cleaned this up just a tiny bit to not assume a float 64 for a field named `time

[2020-05-19 22:42] WesleyDavid commented on #433
Very interesting. It's puzzling to us because we've had literally billions of queries go through that Trickster and then suddenly panic after panic with this type error out of nowhere. We still haven't been able to figure out what the query string was, and now that we're back on 1.0.3 we haven't had any of them since last week. ¯\_(ツ)_/¯

I'll roll out beta 4 when it's ready and see what we catch

[2020-05-20 19:51] WesleyDavid commented on #432
Pulled down the 1.1.0 Beta 4 Docker image and unleashed the traffic on it. Got a panic `fatal error: concurrent map iteration and map write` after about 10 minutes. We peaked at around 4,000 QPS just before it cratered.

[Stack trace here](https://gist.github.com/WesleyDavid/6d042339504b850f43a8ce9c9920d1f2).

Back to 1.0.3 for now! 😄

[2020-05-21 19:31] rrusso1982 opened #435 "caching empty results"
I have some metrics that do not necessarily show up into prometheus in a timely fashion.  Sometimes a minute or two after they were created as that is when they become available at the target endpoint.  With trickster in the query path I am caching empty buckets for those period where the metrics are missing even though the metric show up some time later in prometheus.

Is their either a way to no

[2020-05-21 20:45] jranson commented on #435
hey Rob, thanks for using Trickster and hitting us up about this.

we have a solution for this exact situation, where there is a delay in the results coming in to prometheus (or any other tsdb that trickster accelerates), and so timestamps within a relative window of real time should not be cached . it's an origin configuration called Backfill Tolerance, that gives the origin some extra time to se

[2020-05-21 20:56] rrusso1982 commented on #435
thats great.  I'll give it a try.  thanks

[2020-05-22 22:31] rlex commented on #393
Sorry for delay. I'll test it next week.

[2020-05-26 23:45] glinton commented on #348
Has there been any discussion/work done on this front? Sounds like a fantastic idea that would really streamline the adding of new origin types.

[2020-05-26 23:59] jranson commented on #348
@glinton thanks for checking! So we have this feature slated for v1.2, which we are hoping to get out at the end of this quarter ([roadmap](https://github.com/tricksterproxy/trickster/blob/master/docs/roadmap.md))but it might push a few more weeks out. v1.1 will be cut in the next 36 hours and then we'll get to work on 1.2.