[2020-06-02 19:12] jranson commented on #398
v1.1, which includes the POST support, is released. Thanks for this feature request!

[2020-06-02 19:12] #398 closed

[2020-06-02 19:12] jranson commented on #383
v1.1, which includes the win64 binary support, is released. Thanks for this feature request!

[2020-06-02 19:12] #383 closed

[2020-06-02 19:13] jranson commented on #347
feature is completed in v1.1!

[2020-06-02 19:13] #347 closed

[2020-06-02 19:14] jranson commented on #12
All, at long last, v1.1 is released and includes the config reload feature, which you can read about [here](https://github.com/tricksterproxy/trickster/blob/master/docs/configuring.md#reloading-the-configuration). Enjoy!

[2020-06-02 19:14] #12 closed

[2020-06-02 19:14] #375 closed

[2020-06-02 19:14] #377 closed

[2020-06-02 19:15] jranson commented on #393
v1.1 is released and includes the config validation feature. Thanks for the input, enjoy!

[2020-06-02 19:15] #393 closed

[2020-06-02 19:15] jranson commented on #216
closing due to in activity

[2020-06-02 19:15] #216 closed

[2020-06-02 19:16] jranson commented on #242
closing due to inactivity, please reopen if this is still an issue

[2020-06-02 19:16] #242 closed

[2020-06-02 19:16] jranson commented on #255
closing due to inactivity, please reopen if this is still an issue

[2020-06-02 19:16] #255 closed

[2020-06-02 19:17] jranson commented on #391
It seems this issue has been resolved during the beta cycle, please reopen if the GA version of 1.1 still brings you to the max file limits.

[2020-06-02 19:17] #391 closed

[2020-06-02 19:18] jranson commented on #394
This change has been fully propagated and released. Thank you for the report and the associated PR!

[2020-06-02 19:18] #394 closed

[2020-06-02 19:18] jranson commented on #397
we believe this to be resolved during the beta cycle, please reopen if the GA version of 1.1 still brings you to the max file limits.

[2020-06-02 19:18] #397 closed

[2020-06-02 19:19] jranson commented on #424
fixed in v1.1

[2020-06-02 19:19] #424 closed

[2020-06-02 19:20] jranson commented on #432
Wesley and I worked through this in a separate channel and the fix for the map iteration was applied in Beta6. we'll close for now and Wesley can reopen if any more issues arise relating to influxdb

[2020-06-02 19:20] #432 closed

[2020-06-03 15:52] bsnyder788 opened #452 "v1.1.0: invalid memory address or nil pointer derefernce"
[code]

[2020-06-03 15:54] jranson commented on #452
Thanks for reporting! We'll get this root-caused and corrected today with a patch release.

[2020-06-03 16:09] bsnyder788 commented on #452
Awesome, thank you!

[2020-06-04 02:15] jranson commented on #452
@bsnyder788 we have cut that release `v1.1.1`, which has a nice ring to it. Thanks again for this report, and let me know if this mitigates the issue for you and we'll close out the issue.

[2020-06-04 02:18] #286 closed

[2020-06-04 02:19] jranson commented on #435
@rrusso1982 just wanted to check and see if this proposed solution hooked you up. Thanks for letting us know!

[2020-06-04 14:19] rrusso1982 commented on #435
Yes this was exactly what I needed.  Thanks for all the help.

[2020-06-04 14:19] #435 closed

[2020-06-04 15:04] rlex opened #458 "No more binary builds?"
1.0.x provided binary builds for linux/darwin. Looks like there is only source code for 1.1.x.

Will it be available again?

[2020-06-04 16:48] rlex commented on #458
Oh, missed that. Everything works now. Thanks!

[2020-06-04 16:48] #458 closed

[2020-06-05 09:34] mdaguete opened #459 "Lost statement series in influxdb"
Hi,

I,m testing v1.1.0 with influxdb 1.7.10 and grafana 6.7.4. It seems with queries with multiple statements per query only the first stament series is retained in cache after the first refresh. The problem seems to be in the sort call at the end of merge function, if I disable it then it seems to work if I don't change the query window.

This is the cache content in the first time ( all series

[2020-06-05 11:27] jranson commented on #459
@mdaguete thanks for the report and such a detailed analysis. Quick question - did you use 1.0 and are finding it is a new behavior in 1.1? Thanks!

[2020-06-05 12:22] mdaguete commented on #459
@jranson Yes 1.0 the same behaviout. I'm testing a patch and I'll submit a pr after some test.

[2020-06-11 01:07] jranson commented on #360
we took a hard look at graphite acceleration and are unfortunately not going to be able to support it at this time. the main blocker is that graphite does not allow the client to dictate the step, but instead determines it internally as it prepares the query response, based on the width of the data and other factors. trickster is currently heavily dependent upon knowing the step as part of the cli

[2020-06-11 01:17] jranson commented on #348
@glinton we are making good progress on the common format, and I should have that merged into the `v1.2.x` branch in the next few days. We've migrated prometheus over and it's working pretty flawlessly; I'm now working on porting InfluxDB 1.x and ClickHouse into the new format, and then we'll be ready to PR it all up. We've been able to reduce the memory footprint with the common format and reduce

[2020-06-19 16:52] jranson commented on #452
@bsnyder788 just wanted to check with you on this issue and if v1.1.1 (or now .2) has resolved this for you? Thanks again for reporting and letting us know. have a great weekend!

[2020-06-19 16:54] jranson commented on #459
hey @mdaguete thanks again for #460 (what a great catch!), which was included in v1.1.2. Can you let us know that positively fixed up your corresponding issue here? Thanks!

[2020-06-22 13:43] bsnyder788 commented on #452
v1.1.1 has been working great for me.  Been up 17 days with no panics, etc.

[2020-06-22 13:57] jranson commented on #452
Great, thanks for letting us know! We always appreciate the great feedback from the DO team. I'll go ahead and close this issue out.

[2020-06-22 13:57] #452 closed

[2020-06-29 07:49] cybergartar opened #461 "Trickster not retrive InfluxDB results from redis cache"
Hi, I'm using Trickster for caching InfluxDB with Redis as a caching backend. I've found that sometimes when I make a request by refreshing panel in Grafana (with exactly the same time range and same query), instead of retrieving data from Redis, Trickster removes the existing cache, makes a request to upstream server and set the cache again like in below log.

[code]

I'm not sure if this problem

[2020-06-29 15:06] jranson commented on #461
hi @cybergartar! thanks for using trickster, and for asking about this. i can see in the log section you provided that `cacheStatus=purge`. that is actually why the time series is being removed from the cache and refreshed. luckily it does not involve the query itself. this status means that a client (browser) included a `Cache-Control: no-cache` or `Cache-Control: no-store` http header with the i

[2020-06-30 08:21] cybergartar commented on #461
The solution #3 helps solve the `cacheStatus=purge`, but I can still see there is a request to upstream server D:
[code]

[2020-06-30 09:03] cybergartar commented on #461
Also I've found panic while doing this query (which returns nothing when query in InfluxDB)

[code]

[code]

[2020-07-05 14:17] jranson commented on #461
@cybergartar  - We will take a look at this panic, that is definitely a bug! Thanks!

Regarding the upstream request, I see that those are no `cacheStatus=phit`, and the requested data points are for the 5 newest timestamps in the series. That suggests backfill tolerance, which you have set to 60s, is being applied, even though the time range for the query is not close to real time. We will double

[2020-07-08 13:56] disfluxly opened #463 "Influx Origin Wait Group Panic"
Deployed Trickster 1.1.2 out to AWS Fargate via the official docker image. The process seems to be randomly dying as I haven't noticed any kind of pattern. Here's the logs information:

[code]

Here's my config:

[code]

[2020-07-08 14:41] disfluxly opened #464 "Influx Origin Multi Statement Query Displaces Series Data"
Trickster 1.1.2, deployed to AWS Fargate using the official Docker Image.

Initial cache build query seems to work fine, but then any of the "accelerated" queries seems to:

1. Add the data to a single statement results, even with multiple queries
2. Adds the data to the _wrong_ statement results

In the example below, the second statement gets returned by Trickster with the values from the first

[2020-07-23 20:20] shoopdedoop opened #465 "Slow performance"
Trickster version 1.1.2

I am running a simple query against trickster.

sum(increase(rules_count_total[1w]))

It takes a long time to complete.

Total request time | 1.381 min

Even subsequent calls take the same amount of time.

If I run directly against the backend it runs must faster
Total request time | 295 ms

From the logs it is taking a long time for the delta routine to complete
time=2020

[2020-07-24 15:51] jranson commented on #465
Thanks for this report - we will take a look!

[2020-07-27 09:05] adriannovegil opened #466 "InfluxDB series with a null at the end"
Hello!!

I’ll try to explain my situation.  I’am trying to install Trickster as part of our observability stack. We are using a Java agent to generate the metrics and send it to InfluxDB.

Then, we show the system status using Grafana.

I create a sandbox with differentes dashboard to explain our actual situation. Following you can see one Grafana Dashboard. In this case I use the InspectIT agent

[2020-07-28 16:23] jranson commented on #466
Hi @adriannovegil, thanks for trying out Trickster! Please take a look @ the thread in #435 and let me know if it helps you out. While that user was using prometheus, the same configuration will apply to InfluxDB as well.

[2020-08-02 10:18] adriannovegil commented on #466
Yeah!!! this help us with the InfluxDB data. We put 5 minutes of backfill and is Ok, at least for the moment 😉

We have some risk that we are analyzing now, but in general is a good solution for us!!. Covers the most of the situations.

We have a push polityc in the metrics ingest, so we can't grant that all the microservices send the metrics at the same time. They send the metris throught a kafka

[2020-08-12 07:05] vitovitolo commented on #271
@jranson sorry for the late response.

We did not update until yesterday because different reasons. Right now we're running trickster 1.12 with BBolt as main cache backend for one of our main production prometheus servers. Seems the bug is fixed. I'll let you know otherwise.

Thanks!

[2020-08-13 21:37] violenti opened #473 "ERR This instance has cluster support disabled""
Hi! I am try  of execute trickster on k8s with redis cluster(master and slave) as cache. The Redis cluster use redis:6.0.5-debian-10-r32 on k8s, but when I configure as    type  cluster, trickster  say _app=trickster caller=proxy/engines/objectproxycache.go:431 level=error event="cache lookup error" detail="ERR This instance has cluster support disabled"_.

My setting is :
[code]

What am I doing

[2020-08-29 00:03] heliodor opened #479 "Most recent time bin gets cached and is not refreshed for InfluxDB"
I've modified the docker demo to show what I mean: https://github.com/heliodor/trickster/tree/main/deploy/trickster-demo

Once you run the docker demo, these two scripts can fill the data:

Backfill 3 hours of data:
[code]

Infinite loop to add new data:
[code]

Load the example dashboard:
http://localhost:3000/d/jqpfRqNGz/trickster-influxdb?orgId=1&refresh=5s&from=now-1h&to=now

Keep hitting the

[2020-09-02 07:58] envy7 opened #485 "Update Jquery version in Trickster to greater than 3.5.0"
Hi team, we are using the latest container image available in dockerhub `tricksterio/trickster:latest`

Currently it seems trickster is using jquery 3.3.1. If I traverse the /graph endpoint I can see the below

If possible please upgrade the jquery version being used to > 3.5.0. As this is getting flagged as vulnerable in PCI Audit Scans. You can find the vulnerabilities for jquery published here:

[2020-09-02 13:38] jranson commented on #485
Hi @envy7 Trickster is a golang application and does not use jQuery (javascript). Trickster is a proxy, which means all static content (including javascripts) is served from an upstream source that it accessed on the caller's behalf (eg., a Prometheus backend, which does have a /graph endpoint). So if your systems are flagging Trickster as vulnerable, you will need to look at the backend origins a

[2020-09-02 13:38] #485 closed

[2020-09-02 15:31] envy7 commented on #485
Thanks for the information @jranson understood, will try to patch the prometheus backend instead.

[2020-09-11 06:57] Slach opened #486 "[FEATURE REQUEST] pass sql query via POST request body support for origin_type="clickhouse""
During figure out with trickster in https://github.com/Vertamedia/clickhouse-grafana/issues/281
I found trickster doesn't support pass SQL query via POST request body

[2020-09-11 07:00] Slach opened #487 "[BUG] using "&add_http_cors_header=1" in origin type "clickchouse" always return `X-Trickster-Result: engine=HTTPProxy; status=proxy-only`"
During figure out with trickster in https://github.com/Vertamedia/clickhouse-grafana/issues/281
i found when using "&add_http_cors_header=1" in origin type "clickchouse" then
trickster always return `X-Trickster-Result: engine=HTTPProxy; status=proxy-only`

[2020-09-11 16:44] BertHartm commented on #3
I have a need for this for rule evaluation. I use remote read to have prometheus evaluate rules from data in backing storage. if trickster could cache remote read protocol it could dramatically help my rule evaluation queries.

@SuperQ / @jranson thoughts on reopening for that use case?

[2020-09-14 00:36] disfluxly commented on #463
@jranson  - Sorry to ping you directly, but any idea on this?

[2020-09-14 00:37] disfluxly commented on #464
@jranson  - Also this one :)

[2020-09-15 18:32] jranson commented on #486
Hi @Slach thanks for using Trickster. While the current release of Trickster 1.1.2 does not support POST, we do have that feature completed in `master` and should have it included in the next release (2.0.0).

[2020-09-15 18:37] jranson commented on #463
Hi @disfluxly sorry we have not taken a look at this just yet, but we will this week. WaitGroup errors are definitely always a bug, so thanks for this report. I will follow up on this issue once we have it fixed up.

[2020-09-15 18:38] jranson commented on #464
@disfluxly if you are able to provide an example query for this so that we can reproduce, that would be great. Thank you!

[2020-09-15 21:09] disfluxly commented on #464
@jranson - One better, here's a full docker-compose setup:

https://github.com/disfluxly/trickster_docker_compose

Once you spin it up, wait for a few minutes for telegraf to add some data, then go to `http://localhost:3000`. Default grafana login. Create the `Internal` dashboard via the `internal.json` file in the repo, and then head to that dashboard. You'll see multiple metrics on the dashboard

[2020-09-15 21:12] disfluxly commented on #464
BTW, this looks to be partially a result of the change for 1.1.2. However, 1.1.1 is broken as well, in that it _only_ returns the last series queried regardless of whether or not its part of the accelerated query.

[2020-09-15 22:06] jranson commented on #463
@disfluxly thanks again for reporting this. We have identified the cause of this issue and will have the fix included in v1.1.3 that should be cut later this week. Thanks for your patience!

[2020-09-15 23:56] jranson commented on #464
We have this one all root caused and fixed up, thanks again for the detailed report and the test artifacts, we really appreciate it! Will be included in v1.1.3

[2020-09-16 00:39] jranson commented on #479
@heliodor thanks for reporting this. In the docker-compose file, the trickster docker tag is currently `tricksterproxy/trickster:1.1.0-beta`. This is my fault - i failed to update it to `tricksterproxy/trickster:1.1` in the compose file. If you change that tag in your docker compose, memory should work right away. You will likely need to delete the contents of `./docker-compose-data/trickster-data

[2020-09-16 00:46] jranson commented on #479
Oh - and also, check out the `backfill_tolerance_secs` configuration option, which should correct the cached empty results you are seeing. With your demo project, setting it to 30 seconds seems to  take care of it. More detail is available in #435.

[2020-09-16 04:19] Slach commented on #486
@jranson thanks a lot ;) I will test 2.0 release when it will release

[2020-09-16 12:29] disfluxly commented on #464
Happy to help!

[2020-09-16 13:35] heliodor commented on #479
I'm having a hard time understanding the philosophy of Trickster in its current incarnation. Or maybe I'm misunderstanding something.

It sounds like Trickster caches everything, including the latest time interval/bin. `backfill_tolerance_secs` can delay the caching of the latest time interval.

Meanwhile, most dashboards show data aggregated into time intervals where the one latest time interval

[2020-09-16 13:47] jranson commented on #479
You are understanding the functionality correctly as it works in Trickster right now. We plan to change this in Trickster 2.0, so that instead of providing a duration in seconds, the operator would provide the # of time intervals from real-time that are not cacheable, so a value like 1 or 2 would work generically for any dashboard, regardless of the query's time interval step size. Since we try to

[2020-09-18 17:46] jranson commented on #487
@Slach v1.1.3 addresses this issue if you don't mind giving it a spin for us. thanks for using Trickster!

[2020-09-18 17:59] jranson commented on #464
@disfluxly this release has been cut and we'd really appreciate if you can confirm this issue is resolved for you. Thanks!

[2020-09-18 18:01] jranson commented on #459
closing due to no response over 3 months.

[2020-09-18 18:01] #459 closed

[2020-09-18 18:03] jranson commented on #461
@cybergartar we have released v1.1.3 which should fix the both behaviors that you identified: the panic, and the backfill tolerance being applied to non-realtime queries. If you would not mind confirming those items are fixed, we'll close out this issue. Thanks again for using Trickster and reporting these issues.

[2020-09-18 18:03] jranson commented on #463
(ditto on this one!)

[2020-09-18 18:28] jranson commented on #479
@heliodor we've released v1.1.3 which includes the image tag correction i mentioned above, and provided the configuration to avoid preliminary results from being cached . Anything else we can do before closing out this issue?

[2020-09-18 18:56] disfluxly commented on #464
This one looks good!

[2020-09-18 18:56] #464 closed

[2020-09-18 18:58] disfluxly commented on #463
This one is a bit harder to test from local as it was only visible under decent traffic conditions (at least in my env). Deploying it and I'll let you know next week.

[2020-09-18 20:16] BertHartm opened #489 "split query by time range"
It would be helpful if trickster could take a query for a long time range of data and have it become several queries for shorter time ranges of data.

Use case is for instances where querying say a months worth of data may time out, but querying for 1 day a month ago would succeed. By having trickster combine datapoints from several 1 day queries, it can increase the likelihood of overall success,

[2020-09-18 21:56] jranson commented on #489
@BertHartm that sounds really interesting, and worth looking at. I was wondering what your experience is with scale. Do you think the timeouts you experience are bottlenecked by the # of timestamps, or by the age of the time range? Which provider are you using (prometheus, influxdb) and can they be improved/configured to do this kind of partitioning rather than moving it to a downstream component?

[2020-09-18 22:30] heliodor commented on #479
Yeah, go ahead and close it. I look forward to version 2!

[2020-09-19 00:52] BertHartm commented on #489
Thanks for the quick reply @jranson . We use prometheus and m3db and the main problem we're trying to solve is folks loading dashboards for long time windows, so we'll probably be bumping to the default limit on how long a window trickster caches to account for that.

[2020-09-19 12:37] Slach commented on #487
thanks a lot for your efforts team ;)

[2020-09-19 12:37] #487 closed

[2020-09-21 20:50] WesleyDavid opened #490 "Combining environment variables with a config file does not appear to honor environment variables"
Trickster Version: 1.1.2

When attempting to build a trickster environment on-demand, my team attempted to use a combination of environment variables as well as a .conf file. However, it does not appear that there is any convergence of multiple configuration sources. It appears that if a configuration file is present, only the options chosen in the configuration file are honored, and there's no su

[2020-09-21 22:32] WesleyDavid commented on #490
I believe I've committed a variant of the [X Y Problem](http://xyproblem.info/). [The documentation](https://github.com/tricksterproxy/trickster/blob/main/docs/configuring.md) refers to `TRK_ORIGIN`, however I believe it should be `TRK_ORIGIN_URL`. Then, without a proper `TRK_ORIGIN_URL`, it appears that loader.go won't even bother with pulling in `TRK_ORIGIN_TYPE`.

So at the moment, this is appe

[2020-09-21 22:32] jranson commented on #490
Hey Wesley. The idea behind ENV and CLI is that they are _overrides_ to a functioning base config and are (currently) meant for very simple configurations that use a default origin. The base config file is checked for for completeness _before_ overlaying ENV and CLI values. So if the config file does not include an origin_url for the default origin, trickster should fail out at startup, even if yo

[2020-09-21 22:40] jranson commented on #479
Sounds good, thanks! We are too :-D

[2020-09-21 22:40] #479 closed

[2020-09-21 22:41] WesleyDavid commented on #490
Great! Thanks for the clarity. Good to know and we can run with that.

That sounds like an absolute dream! Looking forward to it. (Grabbing v1.1.3 for testing in three, two, one...)

[2020-09-21 22:44] #490 closed

[2020-09-23 13:04] disfluxly commented on #463
I haven't seen this panic at all this week in testing, going to close this one. I'm gonna open up another issue for a question/documentation

[2020-09-23 13:04] #463 closed

[2020-09-23 13:19] disfluxly opened #492 "Documentation: x-trickster-result & status=proxy-only"
I can't seem to find any documentation around the possible values in the x-trickster-result response header.

I've been checking this to attempt to debug why some queries seem to hit cache, while others seem to only go through HttpProxy mode, but not knowing the possible values and the reasons why those values may appear makes this difficult.

For example, on the same grafana dashboard, some panel

[2020-09-23 14:00] jranson commented on #492
One reason that you might get a proxy-only is that a user requests a very old time range that is not in the configured cacheable window. We already drop a debug log when this happens, but can also add a span attribute for the "range is too old" condition.

The other reasons would be backend provider-specific.

With Prometheus, we pretty much trust that any request against `/query` is object cachea

[2020-09-23 15:47] disfluxly commented on #492
Gotcha, I'm using Influx so I'm betting that it's something with the parsing, although it's a query directly formulated by Grafana.

Actually, I figured out why it's doing it.

If a panel has multiple queries in it, Grafana will separate each query with a `;` when it sends it to the datasource. Now, if you disable a query in that panel, Grafana will _keep_ the `;`.

I updated my test repo (https:/

[2020-09-23 16:10] jranson commented on #492
currently the entire query string is hashed to a single cache key and, if it is a compound query (delimited by `;`), the various result sets returned are isolated into their own silos under that cache key. We do it that way because we want to pass the user's original query string 1:1 up to InfluxDB, with only the time ranges modified, just like Grafana does if Trickster were not in the path. So an

[2020-09-23 18:53] jranson commented on #473
@violenti sorry I did not get a chance to take a look at this one just yet. "ERR This instance has cluster support disabled" is an error being returned from your Redis and means that your Redis configuration does not support Cluster.  It is not a bug or issue with Trickster.

[2020-09-23 18:53] #473 closed

[2020-09-23 19:45] disfluxly commented on #492
Gotcha. So when's the 2.0 beta targeted for? :)

Also, did you want me to leave this open as a reminder for fixing the miscellaneous `;` in the regex & creating docs for `x-trickster-result`?

[2020-09-23 19:49] jranson commented on #492
Yeah, let's definitely leave this open while we work out the semicolon thing! I was hoping to have the first 2.0 beta out already, but it's taking a bit longer to get fully running. We're now targeting the first week of October, so stay tuned!

[2020-10-01 15:33] jranson opened #493 "Subdirectory support for configs"
We currently support a single TOML-based config file (by default living at `/etc/trickster/trickster.conf`). We would like to provide a more robust configuration solution by permitting an entire directory of config files to be concatenated when constructing the running config. A good approach might be to look for a `conf.d` subdirectory in the same directory as the trickster.conf file and sourcing

[2020-10-01 15:46] jranson opened #494 "More robust environment variable support"
Currently we maintain [several environment variables](https://github.com/tricksterproxy/trickster/blob/main/docs/configuring.md#environment-variables) that change the default behavior for a simple deployment (e.g., the backend URL). We would like to replace these with a more robust solution that can modify _any_ configuration value. Take for example the following toml snippet:

[code]

A user shou

[2020-10-01 16:17] jranson opened #495 "Documentation Cleanup"
This issue is for anyone who is not a coder, since it is largely search and replace.

With Trickster 2.0, some of the naming conventions are being changed to share the same nomenclature as other cloud native projects. Much of the core code has already been updated, while references to the old names are still littered throughout the documentation, code comments, and example configurations. We need

[2020-10-01 16:21] pooja-gera commented on #495
Hi, can I please be assigned this?

[2020-10-01 16:22] jranson commented on #461
closing due to no response (2wks). if you still have any problems in this issue, please reopen, thanks again for the report!

[2020-10-01 16:25] jranson commented on #495
Sure thing!  btw, one thing to note, for instances of `origin_url`, lets leave those as-is for now

[2020-10-01 16:30] jranson commented on #495
origin_type updates needed:

[code]

[2020-10-01 17:07] siddhant94 commented on #494
hey @jranson , I get the requirement is to add support so that more config options can be over ridden via ENV variables, but how do you suggest the user would provide env variables? In the dot notation as suggested above?

[2020-10-01 17:13] jranson commented on #494
if periods are not permitted by most shells, then we will need to just use underscores and adjust the logic to interpret those accordingly

[2020-10-01 17:16] mohdasif2294 commented on #493
Hey, @jranson Can you please assign this. I have skimmed through the codebase. It will require code and deployment modifications.

[2020-10-01 17:17] siddhant94 commented on #494
okay, can I get started on this if it's unassigned?

[2020-10-01 17:18] jranson opened #496 "Relocate TravisCI jobs to GitHub Actions"
TravisCI is no longer meeting our needs, and we'd like to migrate into GitHub actions. We have already the primary release build process moved to Actions, but need to do the same for our basic CI integration tests. This should require no code, just a well-crafted GitHub actions yaml file that replaces the .travis.yml

[2020-10-01 17:20] jranson commented on #494
Sure thing, thanks very much!

[2020-10-01 17:24] pooja-gera commented on #495
Got it, thanks!

[2020-10-01 17:32] biswaroop1547 commented on #496
I would like to work on this, would be great if you could assign this issue to me :)

[2020-10-01 18:14] biswaroop1547 commented on #496
I just need to replace the .travis.yml file with actions yaml file right? like do I need to make changes anywhere after that to make it work?

[2020-10-01 21:33] jranson commented on #496
Once the actions file is added to the project, GitHub automatically picks it up.

In your fork, after you have committed the GitHub actions file, it will automatically start working on your forked/branch. So you can test all of the functionality (commits and PRs) in your own fork to verify the Workflow before submitting the PR back to us.

[2020-10-01 22:45] biswaroop1547 commented on #496
Thanks! and do I have to replicate that functionalities of travis file in main branch or 2.0x branch? and I need to send a PR to the 2.0x branch right?

[2020-10-02 00:22] jranson commented on #496
please PR to `main` thanks! the 2.0.x branch will be removed now that 2.0 development has moved to main (thanks for the reminder! :-)

[2020-10-02 10:41] advancedwebdeveloper opened #498 "golang.org/x/sys/unix/gccgo.go:50: error: undefined reference to 'gccgoRealSyscallNoError' (gollvm)"
Hi.
I am using [gollvm](https://go.googlesource.com/gollvm/) and caught this bug:

CC @thanm @cherrymui @ianlancetaylor

[2020-10-02 16:29] jranson commented on #498
HI, thanks for this report. Unfortunately this is in a vendor package and you are using a non-standard/experimental go compiler, so we are not able to help you with this. It's possible you can get it working by changing the build flags but we can't make changes to the main `build` action to support an experiment. I would recommend trying it with CGO_ENABLED=1, and if that works, we'll gladly accep

[2020-10-02 16:29] #498 closed

[2020-10-02 16:57] advancedwebdeveloper commented on #498
CC @thanm @cherryui
BCC @ianlancetaylor

[2020-10-02 18:22] ianlancetaylor commented on #498
This is happening because of the `CGO_ENABLED=0` set by the `Makefile`.  This causes a bug in the go tool.  I filed https://golang.org/issue/41758 aka golang/go#41758.

If you set `CGO_ENABLED=1` before running `make`, the code builds.

(By the way, @advancedwebdeveloper, GitHub does not support BCC.  A BCC is exactly the same as a CC.)

[2020-10-03 00:09] nananananate commented on #495
In the spirit of Hacktoberfest, I've been helping some projects with their documentation. While the documentation is being updated, if you like, I can implement [Material for MkDocs](https://squidfunk.github.io/mkdocs-material/), which will use Github Pages to host the documentation in your `/docs` folder, creating and updating the documentation website with every change on `/docs` on the master b

[2020-10-03 07:08] siddhant94 commented on #494
hey @jranson ,
[code]
I was thinking of letting users specify env variables as above snippet, and then basically when we load env variables we check those do relevant changes. But this would change it from current behaviour, as currently
`TRK_ORIGIN_URL` ,`TRK_ORIGIN_TYPE` is the  way env variables can be specified.

So basically I wanted suggestions on naming, so we can keep mixed case `TRK_FRONT

[2020-10-03 17:18] StraysWonderland commented on #495
i would like to contribute and be assigned to this too, if possible.

[2020-10-04 00:19] jranson commented on #494
Since this is for 2.0, the existing environment variable support can be removed/replaced. I would recommend using lowercase for the parts of the ENV that are lowercase in the config (`frontend`, etc) so that string matching is known to be case sensitive and established a true 1:1 translation between ENV and the running configuration.

[2020-10-08 18:26] jranson commented on #496
@biswaroop1547 thanks for the PR, everything looks great. I added the `hacktoberfest-accepted` label to your PR so you will get credit towards the contribution rewards. We appreciate it very much!

[2020-10-08 18:26] #496 closed

[2020-10-08 18:59] jranson opened #500 "Use Material for MkDocs to populate gh-pages"

[2020-10-08 19:02] jranson commented on #495
@nananananate that sounds great, and we'd love the help! I created an issue #500 to track this. if you wouldn't mind leaving a comment on that issue, I will then be able to assign it to you. thanks for volunteering!

[2020-10-08 19:15] jranson commented on #495
Implemented by @l3g3ndf4i541

[2020-10-08 19:15] #495 closed

[2020-10-14 01:42] anuprout opened #503 "InfluxDB query with time format anything other than "ms" is not working"
Hi,
I am doing a POC on Trickster where I am using it as a proxy to an InfluxDB. I noticed that it is not returning any value when the query has a time format anything other than "ms". Below are few examples.

[2020-10-14 07:21] vuxuanlai opened #504 "Error "unexpected upstream response" in Trickster"
Hi there,
I'm using Trickster as proxy between grafana and prometheus k8s as flow:
Client -> grafana -> trickster (k8s) -> prometheus (k8s)
I got error log of trickster as below:
[code]

Could someone give me the reason and a solution to resolve?
Thanks

[2020-10-14 14:35] jranson commented on #503
@anuprout are you building and running from `main`? If so, i think at least one of these issues was fixed via PR merged about 24 hours ago, and you need to repull.

For doing any POC work, I would recommend downloading and running one of the stable releases from the releases section, or building against the `1.1.x` branch, which is stable. `main` is dedicated to the 2.0 release; since that develop

[2020-10-14 14:43] jranson commented on #504
@vuxuanlai unfortunately we can't troubleshoot every user's specific situation, and this looks like user configuration error rather than a defect. These log entries indicate the upstream prometheus deployment is returning `400 Bad Request` to Trickster, so you will need to figure out what is configured incorrectly in your setup (e.g., domain names/paths in the Trickster and Grafana configs) .

[2020-10-14 15:30] anuprout commented on #503
Hi @jranson , yeah I am running from `main`. I will re-pull and see if it is fixed. I will also try the 1.1.x and get back. Just had a look at the code. I think it would be better to use Influx provided [query parser](https://github.com/influxdata/influxql/blob/master/parser.go) for future releases  instead of using regex and own logic to parse them.

[2020-10-14 16:50] jranson commented on #503
In the 2.0 release, we are making a lot of changes to the parsers. Since we want to support many SQL-based providers (e.g., MySQL via Grafana), and already support ClickHouse and InfluxQL (which are t-sql variants), 2.0 will implement its own extensible lexer and parser for SQL-like languages, and we actually already have that framework done and implemented for ClickHouse. This approach will hopef

[2020-10-15 03:05] vuxuanlai commented on #504
Hi @jranson ,
This is my trickster value.yaml:
[code]

[2020-10-15 06:33] siddhant94 commented on #494
hey @jranson , apologies for delay, could not find the time to work on it.
Here's how I am trying the implementation (below snippet). So the idea is  to read toml tags(as 1:1 overlay) and update the config reference when we called `loadEnvVars()` in env.go, below snippet handles only string and int update, will add more cases to cover all the configs(main, frontend, backends etc).

Let me know any

[2020-10-19 16:58] jranson commented on #493
Hi mohdasif2294, just wanted to check on this and see how it is going? Thanks!

[2020-10-21 20:21] jranson commented on #493
@mohdasif2294 i went ahead and opened this back up to any interested person. if you have made progress, please let us know here and we will re-assign to you again.

[2020-10-21 20:23] jranson commented on #504
if prometheus is running as a service in kubernetes, you will likely need to provide the service name / fqdn, rather than an IP address, but we cannot troubleshoot beyond that.

[2020-10-21 20:23] #504 closed

[2020-10-28 17:54] BertHartm opened #511 "1.1 performance regression"
It seems like when we load test trickster with a prometheus backend, that 1.1 has a reasonably large performance regression as compared to 1.0

both 1.1.2 and 1.1.3 seems to max out at around 100 requests per second when we load test it. 1.0 doesn't seem to get throttled in the same way and can go to several hundred (haven't tried higher yet). We also see much higher cpu and memory usage for 1.1.

[2020-10-29 02:49] jranson commented on #511
Hey Bert, thanks for reporting this. Would you be able to give a bit more information (e.g., cache type and tsdb type). Also if it would be possible to capture some pprof samples (particularly the goroutine sample, but all would be welcomed), that would be really helpful in troubleshooting. Thanks again.

[2020-10-29 03:03] jranson commented on #511
btw, if you are not a pprof master, you can go to http://trickster:8481/debug/pprof where each of the links are downloadable artifacts that help us with the performance profiling.

[2020-10-29 20:13] BertHartm commented on #511
Hey, not sure what you mean by cache type?

The TSDB is prometheus (though we remote read from m3db). we have it set to not cache the last 5 minutes.

here's the text of the heap endpoint, as well as a cpu profile and binary heap:

[trickster_heap.out.gz](https://github.com/tricksterproxy/trickster/files/5461001/trickster_heap.out.gz)
[trickster_cpu.out.gz](https://github.com/tricksterproxy/tricks

[2020-10-29 20:18] jranson commented on #511
we support memory, filesystem, redis, etc. for where the actual cached data is stored and retrieved by trickster. The default is memory, so if you have not configured anything else, that is what your deployment is using.  would you be able to attach the goroutine pprof for us? that one is what lets us know where time is being spent. Thanks again!

[2020-10-29 20:25] BertHartm commented on #511
sorry, yeah we're using `filesystem` for the cache type.

here are the goroutines and allocs from a different instance that was slightly less stressed than the other profiles above:

[allocs_debug.txt.gz](https://github.com/tricksterproxy/trickster/files/5461058/allocs_debug.txt.gz)
[goroutines_debug_2.txt.gz](https://github.com/tricksterproxy/trickster/files/5461059/goroutines_debug_2.txt.gz)
[go

[2020-10-29 20:25] LimitlessEarth commented on #511
Some CPU sampling would be useful as well. That may get you to the meat of what you are looking for pretty quickly.
[code]
This will give us/you a good representation of what the CPU is spending it's time executing.
[code]

[2020-10-29 20:27] LimitlessEarth commented on #511
Ideally while there is load which is showing the symptoms you are describing.

[2020-10-29 20:30] BertHartm commented on #511
Hi @LimitlessEarth , there's a cpu profile in the first set of files (trickster_cpu.out.gz). It's only 5 seconds worth of data though.

It does seem to be spending all of it's time in the DeltaProxyCacheRequest based on the cpu and memory profiles.

[2020-11-04 13:53] linuxgood1230 opened #513 "interpolateTimeQuery trigger clickhouse full table scan"
https://github.com/ClickHouse/ClickHouse/issues/9715

![image](https://user-images.githubusercontent.com/13182871/98119775-0c261380-1ee8-11eb-831c-b94cbda7a444.png)

trickster interpolateTimeQuery TimestampDefinition as alias
example:
 SELECT (intDiv(toUInt32(myTime), 60) * 60) * 1000 AS t, concat('[', bizDef, '] ', subtag) from r_gifshow.local_mv_summary_query_success WHERE  ((t >= 1604484840000)

[2020-11-04 13:57] linuxgood1230 opened #514 "clickhouse QueryHandler select sql need trim first space"
we need trim first space
![image](https://user-images.githubusercontent.com/13182871/98120533-08df5780-1ee9-11eb-829e-ba25ec08eb0f.png)

[2020-11-06 19:17] disfluxly commented on #492
@jranson  - How's the 2.0 launch coming along?

[2020-11-10 23:09] jranson commented on #511
@BertHartm I think we have this one nailed down. We're working on a design pattern that will achieve the locking pattern we need without suffering performance under load and should have a patch for 1.1 in the next few days.

[2020-11-11 17:26] BertHartm commented on #511
@jranson thanks. let me know if you have a PR and want us to test.

[2020-11-20 21:19] WesleyDavid opened #515 "Possible to write a rule that has a case relying on complex regex or some kind of scripting module?"
I'm looking at incoming requests with [rules](https://github.com/tricksterproxy/trickster/blob/main/docs/rule.md). In the case `matches` statement, it looks like it's only a list of strings that match the [input type operation](https://github.com/tricksterproxy/trickster/blob/main/docs/rule.md#input_type-permitted-values-and-operations) that was set up in the rule. What I think I need is some logi

[2020-11-25 09:46] florianmagnin opened #516 "Issue on data/graphics with Grafana -> Trickster -> Thanos query"
Hello,

I have some graphics issues since i've added trickster to my metrology stack.

**Stack:**
[code]
Here the issue:
Fixed time to avoid relative time and to be sure to no ask sidecar and to do always the same request:

**1st refresh:**
![1](https://user-images.githubusercontent.com/61228428/100206336-7d188400-2f06-11eb-96a7-618fd55bfb70.png)
2nd refresh:
![2](https://user-images.githubusercon

[2020-12-16 13:14] jranson commented on #511
@BertHartm sorry for the delay in getting back to you on this. We have rolled a release candidate `v1.1.4-rc1` build that hopefully will address this. We'd love to get some feedback from you on it. The build is available in the releases section [here on GitHub](https://github.com/tricksterproxy/trickster/releases/tag/v1.1.4-rc1), and at tag `tricksterproxy/trickster:1.1.4-rc1` on [Docker Hub](http

[2020-12-25 07:55] guilongyang opened #521 "Prometheus always works on “cacheStatus=purge”"
hello,my friend
   the config about the prometheus is:

   [origins.default]
    origin_type = "prometheus"
    origin_url = "http://prometheus-center.monitoring.svc.cluster.local:9090"
    timeout_secs = 180
    keep_alive_timeout_secs = 300
    max_idle_conns = 20
    cache_name = "default"
    cache_key_prefix = "prometheus-center.monitoring.svc.cluster.local:9090"
    health_check_upstream_pat

[2021-01-05 23:28] jranson commented on #511
@BertHartm just wanted to check and see if you were able to give this a spin? Thanks for your help!

[2021-01-23 13:04] samuelgmartinez commented on #466
I've been sleuthing this issue and trying to track down the root cause for this and it looks like there are more cases when a `null` is provided as part of the timeseries when there are datapoints in influx that should be returned.

I've used the docker compose provided by @adriannovegil in his repository with Trickster 1.1.4-rc1, just in case there were any fix related to this since 1.1.0-beta. S

[2021-01-24 01:10] nachopv opened #523 "Step Boundaries on InfluxDB"
Hi
I'm testing suitability of Influx for our use case and I'm observing that when moving backwards ( i.e. when moving  from last 5 minutes to last 15 minutes  in grafana ) , the data shown is not always complete

Debugging the data i do see i do have 2 points in the same minute
![image](https://user-images.githubusercontent.com/70150083/105618524-7dd77480-5de8-11eb-96ce-4abcc7b97c49.png)

Checking

[2021-01-28 14:44] jranson commented on #466
Fixed in #522

[2021-01-28 14:44] #466 closed

[2021-01-28 20:47] nachopv commented on #523
We proceed to closure as long we do think is addressed with the following PR
https://github.com/tricksterproxy/trickster/pull/525

[2021-01-28 20:47] #523 closed

[2021-01-28 20:48] jranson commented on #523
@nachopv thanks! please re-open if you find this is still not working and we'll take a look.

[2021-02-01 14:46] jranson commented on #511
@BertHartm we went ahead and pushed the 1.1.4 GA release, which includes improves in the areas you identified. If you are still having issues please reopen. Thanks!

[2021-02-01 14:46] #511 closed

[2021-02-03 21:28] tminor opened #531 "Trickster's health endpoint infinitely appends to the "Via" header on upstream requests, ultimately causing an HTTP 431 error"
Hi!

I recently set up Trickster behind a load balancer that checks Trickster's `/trickster/health/default` endpoint every second or so. After a Trickster node has been up for around 5 days, the load balancer marks the node as down. My first instinct was to check via `curl`, which returned HTTP 431. Restarting Trickster solved the problem, but it ultimately resurfaced. I had a look at a Grafana da

[2021-02-03 21:46] tminor commented on #531
It seems this problem is handled differently in InfluxDB's [handler_health.go](https://github.com/tricksterproxy/trickster/blob/main/pkg/backends/influxdb/handler_health.go#L50-L54). Perhaps that's the better solution?

[2021-02-04 18:15] jranson commented on #531
Thanks again for identifying and patching this. [Release 1.1.5](https://github.com/tricksterproxy/trickster/releases/tag/v1.1.5) is now available here and on DockerHub.

[2021-02-04 18:15] #531 closed

[2021-02-25 20:01] solidspark commented on #516
We continue to experience this issue and we would like some attention on it.

[2021-03-09 15:25] jranson commented on #348
@glinton we've released Trickster 2.0 Beta 1, (previously called v1.2) with the Common Time Series Format, and tons of other new features. Sorry for the long delay!

One big nomenclature change is we now call origin types "providers". In this first beta, InfluxDB and other providers use custom un/marshalers to get from the provider's wire format into CTSF, and back. This was just because we starte

[2021-03-09 16:06] jranson commented on #521
hi @guilongyang , it looks like the reason this is not being cached is because you are using a step of `step=2419` in your postman request. You would need to use an identical step to what is being used by your dashboard application, which is generally a multiple of 15. The step value is used to calculate the query's key, so any time you change it, you will be creating a new cache entry, as with yo

[2021-03-09 16:06] #521 closed

[2021-03-31 09:52] bessonovevgen opened #559 "ALB with time series merge. Don't merge result."
Hello!
I am getting strange behavior when using alb with tsm.

On request with unique labels trickster return two metric:
<details>
  <summary>two metric</summary>
[code]
</details>

But if I try to sum this metric I get a one of previous metric instead of sum:
<details>
  <summary>sum of two metric</summary>
[code]
</details>

Maybe my config for backends is wrong and trickster use backends (vmet

[2021-03-31 09:54] bessonovevgen commented on #559
And runtime config is:
curl -k http://127.0.0.1:8481/trickster/config
<details>
  <summary>runtime config</summary>
[code]
</details>

[2021-04-01 19:31] jranson commented on #559
@bessonovevgen Thanks for trying out Trickster and the new TS Merge functionality. I will take a look at this and follow up with you shortly. We really appreciate the report!

[2021-04-02 17:42] bessonovevgen commented on #559
Hello! This behavior is observed in v2.0.0-beta1.

[2021-04-07 18:29] jranson commented on #559
@bessonovevgen we will have this fixed up for you in beta 2, which should be released in a few days. Thanks again for the report!

[2021-04-21 06:44] #514 closed

[2021-04-21 06:44] linuxgood1230 commented on #514
no play

[2021-04-21 06:45] linuxgood1230 commented on #513
no way

[2021-04-21 06:45] #513 closed

[2021-04-22 22:20] jranson commented on #559
@bessonovevgen We've released 2.0 Beta 2 and it should fix this issue for you. Would you mind confirming for us? Thank you!

[2021-04-24 14:07] jranson commented on #33
Closing as implemented.

[2021-04-24 14:07] #33 closed

[2021-04-24 14:08] jranson commented on #239
closing as implemented

[2021-04-24 14:08] #239 closed

[2021-04-24 14:08] jranson commented on #346
closing as will not implement

[2021-04-24 14:09] jranson commented on #348
closing as implemented

[2021-04-24 14:09] #348 closed

[2021-04-24 14:09] jranson commented on #433
@WesleyDavid closing this one as you indicated you've been using v1.1.5 without problems

[2021-04-24 14:09] #433 closed

[2021-04-24 14:10] jranson commented on #515
closing as implemented - wesley, definitely re-open or file another issue if you find any problems w/ the rmatch capability

[2021-04-24 14:11] #515 closed

[2021-05-01 16:53] caniszczyk opened #566 "Add SECURITY.md for security disclosure reporting"

[2021-05-04 15:52] genzgd opened #567 "ClickHouse parsing doesn't recognize ClickHouse time functions"
The current ClickHouse parser returns no data if a query uses something like toDateTime(1619536397).

[2021-05-04 16:45] jranson commented on #567
Hey Geoff, are you seeing this on v1.1.5, the 2.0 beta or some other version?

[2021-05-04 16:56] genzgd commented on #567
I think we just pulled from master and it was broken.  We're also having issues on 1.1.5, digging in now, hopefully we'll have some more details later.

[2021-05-04 17:24] genzgd commented on #567
It looks like we have problems with anything using the new parser  -- for the moment we're reverting to my previous hacky "parsing".   It could be as easy as stripping out "toDateTime" functions like my original code did around the time range and time column, since ClickHouse implicitly does the conversion on epoch seconds or string date values.

In theory I love the actual SQL parsing approach; i

[2021-05-04 19:29] johntdyer opened #568 "Route requests to different clusters?"
Hello,

 Currently we have a large Influx cluster with several "tenants".  We're looking to shard them into several smaller clusters however we dont want to break all their dashboards and alerts in Grafana.  That being the case I am curious if the rewrite feature could somehow allow us to inspect the request and route to the appropriate influx cluster ?  Is this what it was designed for ?

Regards

[2021-05-08 14:46] jranson commented on #568
Hi John, thanks for hitting us up. It's possible Trickster could help you with this, but it may also be a matter of how you setup your data sources in Grafana, as it will largely depend on how your specific dashboards select datasources for the individual graph elements. If Trickster can help, most likely, it would be with [Rules](https://github.com/tricksterproxy/trickster/blob/main/docs/rule.md)

[2021-05-10 13:38] niko2 opened #569 "Provide checksum alongside release archive"
Hello,

Could you provide a checksum alongside the release archive ?
For instance sha256sum.txt

Best regards,
Nicolas

[2021-05-11 23:55] genzgd opened #570 "Proxied ClickHouse query POST body is set to empty"
We're building off of an older commit but I believe this bug still exists.  The GetRequestValues function in proxy/params/params.go parses the request body to find certain parameters.  There are separate branches for the JSON content type and "everything else" -- and the "everything else" branch tries to parse the body as a form.

Since a ClickHouse POST can include just query text, parsing it as

[2021-05-14 16:06] jranson commented on #570
@genzgd Thanks, i will take a look. For confirming the issue and , later, the fix, would you mind providing an example request that receives the expected response, and another request that does not work as expected. Appreciate it!

[2021-05-14 16:20] genzgd commented on #570
This curl fails for a ClickHouse origin:

 ```curl -vk https://trickster --data "SHOW DATABASES"  -H "X-ClickHouse-User: default" -H "X-ClickHouse-Key: <password>" -H "Content-type: text/plain"```

It returns something like

```Code: 62, e.displayText() = DB::Exception: Syntax error: failed at position 5 ('+'): +DATABASES=. Expected one of: TABLES, CLUSTER, CHANGED, GRANTS, CREATE, ACCESS, QUOTA,

[2021-05-14 16:21] jranson commented on #570
Thanks for that!

[2021-05-17 16:55] genzgd opened #571 "Handling of cancelled client requests"
This is basically a question.  From what I can tell, if you refresh/reload a Grafana dashboard it will cancel outstanding database requests.  If Trickster in turn has long running requests to the backend database, are those proxied requests also cancelled?

[2021-05-17 17:10] jranson commented on #571
Hi Geoff  - I believe this works as you describe, since the inbound request's context is associated with the upstream request
and should abort when it is canceled by the client. I will verify this and let you know for sure.

[2021-05-17 17:32] genzgd commented on #571
Thanks -- I'm trying to figure out at what layer in our proxying flow that the request is not being cancelled.  People push "refresh" on Grafana but somehow the original slow queries are still being processed by ClickHouse.  But I assume this behavior is important for other back ends as well.

[2021-05-17 18:28] genzgd commented on #571
After some more testing this works exactly as you expected/described.  Thanks!

[2021-05-17 18:28] #571 closed

[2021-05-19 22:01] jranson commented on #489
Hi @BertHartm and the rest of the Community. We are going to start implementing this feature in Trickster 2.0 and will use this issue to discuss and share progress.

The main area where we'd like feedback is on the configurability of this feature - specifically, how does a team running Trickster tune the shard size to their liking via configuration. Since it is impossible for Trickster to know exa

[2021-05-20 17:26] BertHartm commented on #489
Hey @jranson, We'd love to see this in 2.0.

I agree on the controlling time instead of series or datapoints. I'd like to note that my primary concern is aligning this to the internal model of the database to optimize the fetches, so if it's possible to align based on actual utc time that might be the best way of configuring for us.
e.g. the prometheus tsdb writes blocks every 2h, so if I could co

[2021-05-20 18:37] jranson commented on #489
Thanks for the feedback, it's really helpful. So for your use case, i am gathering that 1) the number of unique timestamps per shard is not important and 2) when optimally configured, no two shards should request data from the same storage block.

My thinking on the timestamp-based use case was that it can help with problems like Prometheus returning errors for queries that are too large, which I

[2021-05-20 18:46] BertHartm commented on #489
Yeah, that actually would work well.

Would it make sense to include `max` somewhere in the names for `shard_size_ms` and `shard_size_points` to make it clear that they're limits and not guarantees? playing around a bit with different configurations in my head that made them read easier.

[2021-05-20 20:37] jranson commented on #489
The only real (but minor) concern I'm seeing with this approach, in practice, is when `max_shard_size_ms` is not exactly divisible by `max_shard_step_ms`. I propose, at configuration load time, `max_shard_size_ms` be rounded down to the nearest multiple of `max_shard_step_ms` and a `WARN` log entry be issued noting the adjustment, if applicable. Let me know if that sounds alright.

[2021-05-20 20:50] BertHartm commented on #489
seems reasonable. I was wondering if `max_shard_size_ms` could be defined as a multiple of `max_shard_step_ms` which would avoid the possibility, but I guess there are valid usecases where `max_shard_size_ms` is set without the step, so the warn approach is probably better.

[2021-05-21 15:19] wesleyk commented on #489
+1 to this approach, and `max_shard_step_ms` satisfies our use cases as well.

I wonder if we could detail the use cases for `max_shard_size_ms` / `max_shard_size_points`, or else if it's worth only offering `max_shard_step_ms` to begin with.

[2021-05-21 15:27] jranson commented on #489
@WesleyDavid  the use case for points is the max 11,000 points-per-query limitation in the base Prometheus product. ML and other applications that need to get large amounts of prometheus data at a high resolution (e.g., 6 months @ 15s) must break apart those queries and reconstitute the data, manually, to avoid that limitation. In that case, an operator could set `max_shard_size_points = 11000` an

[2021-05-21 17:28] wesleyk commented on #489
@jranson gotcha I may be confusing myself, but how would `max_shard_size_points` help in this case, given the query could load a variable number of timeseries?

Also one thought re: naming. I wonder if "Range" makes more sense to use in place of "Step", given this has more to do with the time range that's being queried and not the step size of the results?

[2021-05-21 17:42] wesleyk commented on #489
One more comment: if we do split queries up, I imagine https://github.com/tricksterproxy/trickster/issues/291 may become more of a frequent issue?

We noticed in the [missing range](https://github.com/tricksterproxy/trickster/blob/main/pkg/proxy/engines/deltaproxycache.go#L314-L330) handling that errors seem to be ignored. Not sure if they're handled elsewhere, but I imagine if we utilize similar

[2021-05-26 04:20] jranson commented on #489
I have submitted PR #573 to implement the sharding capability. A few notes about how things turned out and responses to some of the thoughts above:

I named the proposed `max_shard_*` configs as  `shard_max_*`, so that all sharding configs start with `shard_*`. Otherwise, I have kept the naming as proposed.

@wesleyk as far as I am aware from my research and testing, the Prometheus 11K limitation

[2021-05-26 17:28] robskillington commented on #489
@jranson can we make this configurable?

Pretty much all users I work closely with prefer a failed request and to retry it, rather than have to guess whether the missing range is due to a partial failure or some other side effect (a lot of users assume the data is missing in storage). Most UIs don't properly show warnings the way you would like either, so I don't think a warning is sufficient, or

[2021-05-26 17:40] jranson commented on #489
Thanks, @robskillington. Just to be sure I understand fully. In a hypothetical situation where Trickster has 99% of data needed to serve a request in the cache already; if the delta proxy request to retrieve the remaining 1% fails, the originating client request should be returned a full failure? If that is the preferred route, it's great us since that is the easiest implementation to support.

Se

[2021-05-26 21:16] wesleyk commented on #489
This is the desired behavior, yeah.

The natural next step there, IMO, would be to still populate the cache in the background with the proxy requests that did succeed. So if a request results in four sharded queries, with three succeeding and one failing, then the client will see a failure. On retry, the three successful queries would already have cached results, and the one previously failed quer

[2021-05-26 21:20] jranson commented on #489
Thanks @wesleyk. We will make sure that is part of the next beta release (and will be a separate PR from the sharding feature PR).

As for the sharding issue, we are going to go ahead and merge #573 - not because we are finished with this issue, but because we renamed the org today from `tricksterproxy` to `trickstercache` and that is breaking build/imports/gomod, etc. So we want to get that clean

[2021-05-26 21:22] wesleyk commented on #489
Will do! Will ask the team to take a pass on the PR as well 🥳

[2021-07-09 05:57] sharathfeb12 commented on #516
We are seeing same issue too. Any updates/recommendations?

[2021-07-27 09:32] marco-m-pix4d opened #577 "Instructions refer to a non-existing docker repo (trickstercache/trickster)"
Hello,

from the README, section [Docker](https://github.com/trickstercache/trickster#docker):

[code]

But repo `trickstercache/trickster` doesn't exist:

[code]

while the old one, `tricksterio/trickster`, is still there:

[code]

[2021-09-02 14:54] mzagar commented on #7
Hi!

Any plans on adding support for elasticsearch?

Also, is there any special reason why it is not supported (or it is hard to do it) or is it a matter of doing the same thing as for other backends?

[2021-09-06 17:15] jranson commented on #577
Hey Marco, thanks for pointing this out, I really appreciate the report, and am sorry I didn't get back to address it sooner.  As part of the move to the CNCF, we are in the process of changing the project handle over to `trickstercache` everywhere, including the Docker org. But that premature update was likely just an oversight in the gigantic search/replace we did on `main` as part of the ongoin

[2021-10-12 09:19] tangxueming opened #586 "How proxy for Clickhosue"
That's an interesting project!

1. When I use clickhouse, how do I add the username and password in the config file ? or other place?
Thanks!

[2021-10-12 21:06] jranson commented on #586
Hi @tangxueming Trickster is a reverse proxy cache, so the originating request that is proxied through trickster should include the credentials, and they will be passed through. Trickster only needs to be configured with the upstream clickhouse endpoint URL.

[2021-11-03 03:40] wu0407 opened #587 "sequence request diffrent /api/v1/query in one tcp connection, response same result"
trickster version: v1.1.5
 Use  trickster  in frontend of  VictoriaMetrics,  set vmalert datasource use trickster.  when vmalert send sequence request diffrent /api/v1/query in one tcp connection,   trickster response same cache reult.
[code]
trickster configure:
[code]
trickster configure dump:
[code]
tcpdump http flow:
[code]

[2021-11-08 03:22] wu0407 commented on #587
Test in v2.0.0-beta2 same result

[2021-11-08 03:32] wu0407 opened #588 "BUG: random order register backend handler path"
trickster version: 2.0.0-beta2 and [main](https://github.com/trickstercache/trickster/tree/1bc9b5da9478971180644d9bff348c4143313efe)

The path `/api/v1/query`  handled by diffrent handler  when multi run trickster.

/api/v1/query handle by httpproxy:
[code]

running logs:
[code]

/api/v1/query handle by objectcache:
[code]

running logs:
[code]

[2021-11-08 05:31] wu0407 commented on #588
Why duplicate register default  path handler in  `routing.RegisterProxyRoutes` and  `routing.RegisterDefaultBackendRoutes`?
https://github.com/trickstercache/trickster/blob/1bc9b5da9478971180644d9bff348c4143313efe/cmd/trickster/config.go#L138-L155

[2021-11-14 20:10] jranson commented on #577
@marco-m-pix4d  All fixed up, sorry about the wait!

[2021-11-14 20:10] #577 closed

[2021-11-15 08:22] marco-m-pix4d commented on #577
thanks @jranson, I appreciate the follow-up :-)

[2021-12-01 09:48] Raboo opened #592 "Support New Origin Type: Druid"
Would be awesome if there was support for [druid](https://druid.apache.org/).

[2021-12-06 13:34] swaroopkundeti opened #593 "How to pass auth token as a header"
Hello There,

I have different Prometheus origins and I'm trying to cache them using trickster. Below are the configuration settings of my instance which run fine without any problems. Prometheus origins are accessible by Berar token. I could see the testing works in grafana with data source pointing to trickster with auth token in the header. However, my dashboards are not working as expected whe

[2021-12-15 02:02] jranson commented on #592
Hi Elias, thanks for the suggestion. I will make sure we get it on the 2022 Roadmap - it needs a revamp1

[2022-01-10 07:02] sumitk23 opened #594 "Trickster v2.0.0-beta2 : Prometheus query_range calls resulting in proxy-only sometimes instead of cache hit"
We are trying to upgrade from Trickster v1.1 to v2.0.0-beta2 and facing the following issue. Hit rate has decreased and some of the calls are now being served as `proxy-only`. More details in logs below.

The same suite which used to give 100% hit rate in v1.1 is giving lesser hit rate in v.2.0 beta version.

**Test setup** :
Trickster is deployed in our K8s cluster and we tried running the test s

[2022-01-12 16:36] TomasKohout opened #595 "Is Trickster proxy alive?"
Hi guys,

I'd like to appologize for stupid question, but we are considering using Trickster proxy, but we're a little bit afraid if there is a community or any maintainer alive. :see_no_evil:

Thanks. :slightly_smiling_face:

[2022-01-15 17:53] jranson commented on #595
Hi Tomas, thanks for checking in on the project - we are indeed still alive! I have unfortunately had to take a lot of time away from the computer for health reasons over the last year, which is why the project has not seen a lot of activity. The good news is that things are on the mend and activity will pick up here in Q1.

[2022-01-15 21:47] TomasKohout commented on #595
Get well soon and thanks for your reply. 🙂

[2022-01-15 21:47] #595 closed

[2022-02-14 10:54] Raboo opened #597 "POST requests don't cache. (v2)"
Hi

I'm running trickster v2.0-beta2 and I am trying to cache POST requests with JSON data.
I can't seem to get trickster to cache the posts. The response gets this header.

[code]

My request goes to `http://trickstercache/api/query`

This is my config
[code]

What am I doing wrong?

[2022-02-25 15:33] base698 opened #598 "Request Rewrite Example"
For something like:
[code]

Trying to take the capture group above and add into the hostname as a prefix.  Basically like a relabel_config in prometheus.  I didn't see an examples on how to do it.  Most of the examples for rewrites involve fixed values like here: https://github.com/trickstercache/trickster/blob/main/docs/request_rewriters.md#header-set

Looking through the source: https://github.c

[2022-03-17 17:48] atkrv opened #599 ""invalid character '\\x1f' looking for beginning of value" error while using 'tsm' ALB mode"
Hey! 👋

<img width="974" alt="Screen Shot 2022-03-17 at 20 31 05@2x" src="https://user-images.githubusercontent.com/28726429/158860540-b88118cd-b466-46d0-af3d-66d2614ffa1d.png">

Got alot of errors in logs while using 'tsm' ALB mode 🙁

I assume that I misconfigure something, but I've spend a couple of days on debugging already and found nothing special in my config.

@jranson could you please assi

[2022-03-17 17:52] altokarev commented on #599
Oh, almost forgot!

I'm using `trickstercache/trickster:2.0.0-beta2` 🐳  image.

[2022-04-25 14:20] ksingh7 opened #602 "MySQL Support for Trickster : Please"
We desperately need support for MySQL DB. Is MySQL support planned ? Even if there are bleeding edge support available, we are happy to test and provide feedback.

[2022-05-01 20:55] jranson commented on #602
Hi @ksingh7 - we are absolutely planning to implement MySQL support in the next Beta. I will follow-up here when we're ready to test it, but it should come in the next few weeks. Thanks fro the request!

[2022-05-10 14:03] jmichalek132 commented on #599
We also ran into this with similar configuration and same versions of tricksters & prometheus.

[2022-05-11 13:09] altokarev commented on #599
Seems there some issue while merging of two JSON payloads - https://stackoverflow.com/questions/64460591/unmarshalling-json-returns-an-error-invalid-character-x1f-looking-for-beginn

@jranson could you please take a look? 🙏

[2022-05-29 23:11] chfxr opened #603 "Response get not cached - Status is alway kmiss"
Hello,
I have the problem, that one of the REST APIs I want to cache, is always failing and the REDIS Key is always deleted.

Logs:

`trickster  | time=x app=trickster level=debug event="redis cache remove" key=demo.host.opc.6af458366efc65dde25ba9f9f7ffa1bc caller=cache/redis/redis.go:129
trickster  | time=2022-05-29T23:04:22.057896626Z app=trickster level=debug event="redis cache miss" key=demo.h

[2022-05-30 16:59] chfxr commented on #253
Have an similar issue, where the Redis Keys are not stored at all for one specific API.
It says always:
redis cache miss followed by redis cache remove

[2022-06-20 19:20] jranson opened #604 "Add ADOPTERS file"
create an ADOPTERS.md file in the project root and relocate the "Who is Using Trickster" section from README.md into ADOPTERS.md as its primary content.

[2022-06-29 11:50] 06kellyjac opened #606 "`goVersion` & `goArch` ldflags redundant - can be pulled more accurately from `runtime`"
[`runtime.Version()`](https://pkg.go.dev/runtime#Version)

[`runtime.GOARCH`](https://pkg.go.dev/runtime#pkg-constants)

[As far as I can tell](https://github.com/trickstercache/trickster/blob/main/Makefile#L28) you're looking for the `running program's architecture target` and that value will match.

(If you were really looking for the original builder's architecture e.g. if you crosscompiled fro

[2022-07-27 13:05] Artemizhevsk opened #607 "Is it possible to scrape metrics from a lot of windows exporters using Trickster as the cache proxy server?"
Is it possible to scrape metrics from a lot of windows exporters using Trickster as the cache proxy server?

[2022-08-01 09:31] hhalei opened #608 "Trickster return kmiss status with clickHouse query"
We want to use the time series cache of Trickster to optimize the Clickhouse related queries of grafana, Our Env like follows:
[code]
When we use trickster as the data source to configure dashboard, our dashboard cannot obtain data, and we see the following information in the response header:

[code]
![image](https://user-images.githubusercontent.com/66652707/182118680-792abcc3-734a-4421-943c-d6d4

[2022-08-16 11:45] teja-v1 opened #609 "Is there any plans to implement automatic service discovery to identify backend targets?"
As mentioned in the subject, does Trickster have plans to implement service discovery, I'm thinking about Kubernetes-based service discovery, Prometheus design can be taken as inspiration (see https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config).

[2022-08-17 06:14] abhi1693 commented on #595
@jranson  Is this still alive? No activity since the beta release in April. Is the support for Influxdb Flux being worked on as well as several issues that are pending here on Github?

[2022-08-22 21:42] #604 closed

[2022-08-22 21:45] jranson commented on #595
@abhi1693 we are still alive! I have not been able to give the project as much attention lately as it needs. The good news is that we have brought on a [new contributor](https://github.com/trickstercache/trickster/blob/main/MAINTAINERS.md#key-project-contributors) I am sponsoring, who will be working through the remaining items for Trickster 2.0 to be released this fall.

[2022-09-03 16:33] jranson commented on #566
fixed in #572

[2022-09-03 16:33] #566 closed

[2022-10-03 16:37] jranson commented on #606
@06kellyjac thanks for reporting this!  We've merged into `main` patches to properly report the target OS and Arch from the builtin `runtime` package.

[2022-10-03 16:51] jranson commented on #609
hey @tejaswiniVadlamudi, thanks for requesting this feature! @jakenichols2719 is currently working on implementing it, and has submitted a draft-status PR #615 to allow the community to review the approach while development is ongoing.

Right now, we're supporting kube api queries, but the goal is to eventually support multiple methods of service discovery (e.g., querying etcd, querying a DNS reco

[2022-10-19 09:37] nkuba opened #617 "Inconsistent property naming for healthcheck config: `path` vs `upstream_path`"
The codebase and documentation are inconsistent regarding the path property for health check configuration.

The documentation mentions a `path` property in the YAML config file:
https://github.com/trickstercache/trickster/blob/41e385bee239eecbe05e1301fa0fe9931bb124b2/docs/health.md?plain=1#L53
Same as the `Options` struct:
https://github.com/trickstercache/trickster/blob/41e385bee239eecbe05e1301f

[2022-11-16 17:41] rlazimi-dev opened #620 "Request Status Always "proxy-only" and General Improvements"
# Trickster Version
Trickster version: 1.1.5, buildInfo: 2022-11-10T14:56:50+0000 , goVersion: go1.17.12, copyright: © 2018 Comcast Corporation

# Problem
Every request made to an `influxdb` origin is returning `X-Trickster-Result: engine=HTTPProxy; status=proxy-only`.

Below is my configuration (left) and 2 contiguous attempts at querying trickster (right):
![proxy-only](https://user-images.githu

[2022-11-26 20:45] Tanmoy741127 commented on #493
Is anyone working on this issue? If not, can you assign the issue to me?

[2022-11-28 18:18] #617 closed

[2022-11-28 18:19] jranson commented on #617
@nkuba Thanks for reporting this. We've patched it up and `main` should be good to go.